<%- include('partials/private-header.ejs') %>

<div class="row gy-3 mb-3 justify-content-between d-flex mt-0">
  <div class="col-md-9 col-auto">
    <h2 class="mb-2 text-body-emphasis">Fee Payment</h2>
    <h5 class="text-body-tertiary fw-semibold">We hope you have a great experience managing visitor entries and exits.</h5>
  </div>
</div>

<div class="row justify-content-between mb-6 mt-6">
  <!-- Total Students -->
  <div class="d-flex flex-fill col-md-4 col-xxl-2 text-center border-translucent border-end-0 border-md-end pb-4 pb-xxl-0">
    <div class="flex-grow-1">
      <span class="uil fs-5 lh-1 fa-solid fa-users-line text-primary"></span>
      <h1 class="fs-5 pt-3"><%= students.length %></h1>
      <p class="fs-9 mb-0">Total Students</p>
    </div>
  </div>

  <!-- Total Paid -->
  <div class="d-flex flex-fill col-md-4 col-xxl-2 text-center border-translucent border-start border-end-0 border-md-end pb-4 pb-xxl-0">
    <div class="flex-grow-1">
      <span class="uil fs-5 lh-1 fa-solid fa-check text-success"></span>
      <h1 class="fs-5 pt-3"><%= otherPayments.length %></h1>
      <p class="fs-9 mb-0">Total Paid</p>
    </div>
  </div>

  <!-- Total Pending (New Section) -->
  <div class="d-flex flex-fill col-md-4 col-xxl-2 text-center border-translucent border-start border-end-0 border-md-end pb-4 pb-xxl-0">
    <div class="flex-grow-1">
      <span class="uil fs-5 lh-1 fa-solid fa-hourglass-half text-warning"></span>
      <h1 class="fs-5 pt-3">5</h1>
      <p class="fs-9 mb-0">Total Pending</p>
    </div>
  </div>

  <!-- Total Not Paid -->
  <div class="d-flex flex-fill col-md-4 col-xxl-2 text-center border-translucent border-start border-end border-end-md-0 pb-4 pb-xxl-0 pt-4 pt-md-0">
    <div class="flex-grow-1">
      <span class="uil fs-5 lh-1 fa-solid fa-times text-danger"></span>
      <h1 class="fs-5 pt-3">10</h1>
      <p class="fs-9 mb-0">Total Not Paid</p>
    </div>
  </div>
</div>

<div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-7 pb-3 border-y mb-6">
  <div class="border-bottom border-translucent mt-3" id="payment" data-list='{"valueNames":["fullname","jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"],"page":15,"pagination":true}'>
    <div class="row align-items-end justify-content-between pb-4 g-3">

      <div class="col-12 col-md-auto">
        <div class="search-box">
          <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
            <input class="form-control search-input search form-control-sm" type="search" placeholder="Search students" aria-label="Search" />
            <span class="fas fa-search search-box-icon"></span>
          </form>
        </div>
      </div>

    </div>

    <div class="table-responsive ms-n1 ps-1 scrollbar">
      <table class="table fs-9 mb-0 border-top border-translucent">
        <thead>
          <tr>
            <th class="sort align-middle ps-0 text-start text-uppercase" scope="col" data-sort="fullname" style="width:15%;min-width: 150px;">Student</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="status" style="width:15%;min-width: 100px;">Status</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="jan" style="width:15%;min-width: 100px;">Jan</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="feb" style="width:12.5%;min-width: 100px;">Feb</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="mar" style="width:10%;min-width: 100px;">Mar</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="apr" style="width:10%;min-width: 100px;">Apr</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="may" style="width:10%;min-width: 100px;">May</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="jun" style="width:10%;min-width: 100px;">Jun</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="jul" style="width:10%;min-width: 100px;">Jul</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="aug" style="width:10%;min-width: 100px;">Aug</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="sep" style="width:20%;min-width: 100px;">Sep</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="oct" style="width:10%;min-width: 100px;">Oct</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="nov" style="width:10%;min-width: 100px;">Nov</th>
            <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="dec" style="width:10%;min-width: 100px;">Dec</th>
            <th class="sort align-middle ps-0 text-end text-uppercase" scope="col" style="width:5%;min-width: 50px;"></th>
          </tr>
        </thead>

        <tbody class="list" id="attendance-table-content">
          <% 
            if(payments && payments.length>0){
            payments.forEach((item,index)=>{
          %>
          <tr class="position-static">
            <td class="fullname align-middle fw-blod text-start text-body-highlight fst-italic fw-bold py-2 ps-0 fs-9 fs-xxl-8"><%= item.child.name %></td>
            <td class="status align-middle fw-semibold text-center py-2 ps-0 fs-9 fs-md-8 text-body-highlight"><%= %><span class="badge badge-phoenix fs-10 badge-phoenix-success"></span></td>
            <% item.yearlyPayments.forEach(yearlyPayment => { %>
            <% yearlyPayment.payments.forEach(monthlyPayment => { %>
            <td class="status align-middle text-center py-2 ps-0 fs-9"><span class="badge badge-phoenix badge-phoenix-warning"><%= monthlyPayment.month %></span></td>
            <% }); %>
            <% }); %>
            <td class="align-middle text-end white-space-nowrap ps-0 action">
              <div class="font-sans-serif btn-reveal-trigger position-static">
                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                  <span class="fas fa-ellipsis-h fs-9"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end py-2">
                  <a class="dropdown-item no-loader" href="#" data-bs-toggle="modal" data-bs-target="#addRemark">Update Remarks</a>
                </div>
              </div>
            </td>
          </tr>
          <%
          });
          }else{
          %>
          <td colspan="14" class="text-center fw-bold fs-9">No payment detected</td>
          <%
          }
          %>

          <div class="modal fade" id="addRemark" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <form action="/attendance/update/remarks/" method="post">
                  <div class="modal-body">
                    <label class="form-label" for="udpateDescription">Remarks</label>
                    <textarea class="form-control scrollbar-overlay" placeholder="Leave a attendance remark here" style="height: 100px" name="remarks"></textarea>
                  </div>
                  <div class="modal-footer border-top-0">
                    <button class="btn btn-primary loading-button" type="submit">
                      <div class="content-button">
                        <span>Update</span>
                      </div>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </tbody>
      </table>
    </div>
    <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
      <div class="col-auto d-flex">
        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold no-loader" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none no-loader" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
      </div>
      <div class="col-auto d-flex">
        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
        <ul class="mb-0 pagination"></ul>
        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to view more student details -->
<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentModalLabel">Student Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Information about the student -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fullname" class="form-label"><b>Student Name</b></label>
            <p class="form-label">Alice Johnson</p>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label"><b>Address</b></label>
            <p class="form-label">1234 Elm St, Cityville</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="paidAmount" class="form-label"><b>IC Number</b></label>
          <p class="form-label">990101-12-1234</p>
        </div>

        <hr>

        <!-- Information about the student's Parent -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fullname" class="form-label"><b>Father's Name</b></label>
            <p class="form-label">George</p>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label"><b>Address</b></label>
            <p class="form-label">1234 Elm St, Cityville</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>IC Number</b></label>
            <p class="form-label">990101-12-1234</p>
          </div>
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>Phone Number</b></label>
            <p class="form-label">0123456789</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="paidAmount" class="form-label"><b>Occupation</b></label>
          <p class="form-label">Pilot</p>
        </div>

        <hr>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fullname" class="form-label"><b>Mother's Name</b></label>
            <p class="form-label">Sarah</p>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label"><b>Address</b></label>
            <p class="form-label">1234 Elm St, Cityville</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>IC Number</b></label>
            <p class="form-label">990101-12-1234</p>
          </div>
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>Phone Number</b></label>
            <p class="form-label">0123456789</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="paidAmount" class="form-label"><b>Occupation</b></label>
          <p class="form-label">Nurse</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Update Payment Status -->
<div class="modal fade" id="feeStatusModal" tabindex="-1" aria-labelledby="feeStatusModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="feeStatusModalLabel">Payment Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Paid section -->
        <div id="paidDetails" style="display: none;">
          <p>This payment has been successfully completed. Here are the payment details:</p>
          <!-- Lottie Animation Section -->
          <div class="my-4 d-flex justify-content-center">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
            <dotlottie-player src="https://lottie.host/e33647c4-2b24-4202-b2b1-2e05ac5a631f/wZhpJpjciR.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></dotlottie-player>
          </div>
          <!-- Payment Information -->
          <div class="row gx-3 mb-3">
            <div class="col-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="text-muted mb-1">Payment Date:</h5>
                  <p class="mb-0">25-10-2024, 1:30 PM</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="text-muted mb-1">Date of Approval:</h5>
                  <p class="mb-0">26-10-2024, 9:30 AM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <div class="col-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="text-muted mb-1">Payment Method:</h5>
                  <p class="mb-0">Manual Receipt</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="text-muted mb-1">Sender Name:</h5>
                  <p class="mb-0">George</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending section -->
        <div id="pendingDetails" style="display: none;">
          <p>This payment is currently pending and needs approval.</p>
          <!-- Pending Animation -->
          <div class="my-4 d-flex justify-content-center">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
            <dotlottie-player src="https://lottie.host/c5f47861-1afa-479c-b506-9c35fc270c4d/j8RZgLWt2W.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></dotlottie-player>
          </div>
          <!-- Payment Information -->
          <div class="row gx-3 mb-3">
            <div class="col-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="text-muted mb-1">Payment Date:</h5>
                  <p class="mb-0">15-12-2024, 10:30 AM</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="text-muted mb-1">Date of Approval:</h5>
                  <p class="mb-0">-</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row gx-3 mb-3">
            <div class="col-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="text-muted mb-1">Payment Method:</h5>
                  <p class="mb-0">Manual Receipt</p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="text-muted mb-1">Sender Name:</h5>
                  <p class="mb-0">George</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Section for File Attachment -->
        <div class="mt-4" id="attachmentSection" style="display: none;">
          <h5 class="text-muted">Attachment:</h5>
          <a href="dummy-receipt.pdf" class="text-body-info" download>
            Download Receipt PDF
          </a>
        </div>

        <div id="notPaidDetails" style="display: none;">
          <p>This payment has not been completed.</p>
          <!-- Not paid Animation -->
          <div class="my-4 d-flex justify-content-center">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
            <dotlottie-player src="https://lottie.host/db0d7ca0-01a8-4493-b227-2ee358131559/NQN635kqLG.json" background="transparent" speed="1" style="width: 150px; height: 150px;" loop autoplay></dotlottie-player>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- Approve Button (visible only for pending) -->
        <button type="button" id="approveBtn" class="btn btn-phoenix-success" style="display: none;">Approve</button>
        <!-- Close Button -->
        <button type="button" class="btn btn-phoenix-secondary" data-bs-dismiss="modal">Close</button>
        <!-- Download Button (visible for paid or pending) -->
        <button type="button" id="downloadBtn" class="btn">Download</button>
        <!-- Back Button (visible in the attachment section) -->
        <button type="button" id="backBtn" class="btn btn-primary" style="display: none;">Back</button>
      </div>
    </div>
  </div>
</div>

<script>
  function formatCurrency(input) {
    // Remove non-numeric characters
    let value = input.value.replace(/[^0-9]/g, '');

    // If the input is empty, return early
    if (value === '') {
      input.value = '';
      return;
    }

    // Format the input by placing the decimal point
    if (value.length > 2) {
      value = value.slice(0, -2) + '.' + value.slice(-2);
    } else if (value.length === 2) {
      value = '0.' + value; // If only two digits, treat as cents
    } else if (value.length === 1) {
      value = '0.0' + value; // If one digit, show as cents
    }

    // Remove leading zeros
    value = value.replace(/^0+(?!\.|$)/, '');

    // If value is empty after leading zero removal, show 'RM 0.00'
    if (value === '' || value === '.') {
      input.value = 'RM 0.00';
    } else {
      input.value = 'RM ' + parseFloat(value).toFixed(2);
    }
  }

  function finalizeAmount(input) {
    // Extract the numeric part by removing the RM symbol
    let value = parseFloat(input.value.replace(/RM\s/g, '').replace(/,/g, ''));

    // Check if the value is valid
    if (!isNaN(value)) {
      // Format to two decimal places
      input.value = 'RM ' + value.toFixed(2);
    } else {
      input.value = 'RM 0.00'; // Reset to zero if invalid
    }
  }

  let currentStatus = null;

  document.querySelectorAll('[data-bs-target="#feeStatusModal"]').forEach(function(button) {
    button.addEventListener('click', function() {
      const status = this.getAttribute('data-status');
      currentStatus = status; // Set the current status globally

      // Reset all sections and button displays
      document.getElementById('paidDetails').style.display = 'none';
      document.getElementById('pendingDetails').style.display = 'none';
      document.getElementById('notPaidDetails').style.display = 'none';
      document.getElementById('downloadBtn').style.display = 'none';
      document.getElementById('attachmentSection').style.display = 'none';
      document.getElementById('backBtn').style.display = 'none';
      document.getElementById('approveBtn').style.display = 'none';

      // Change the button style and text based on payment status
      const downloadBtn = document.getElementById('downloadBtn');
      if (status === 'paid') {
        document.getElementById('feeStatusModalLabel').innerText = 'Payment Status: Paid';
        document.getElementById('paidDetails').style.display = 'block';
        downloadBtn.style.display = 'inline-block';
        downloadBtn.className = 'btn btn-success';
        downloadBtn.innerText = 'Download Receipt';
      } else if (status === 'pending') {
        document.getElementById('feeStatusModalLabel').innerText = 'Payment Status: Pending';
        document.getElementById('pendingDetails').style.display = 'block';
        downloadBtn.style.display = 'inline-block';
        downloadBtn.className = 'btn btn-warning';
        downloadBtn.innerText = 'View Receipt';

        // Display the approve button for pending status
        document.getElementById('approveBtn').style.display = 'inline-block';
      } else if (status === 'notPaid') {
        document.getElementById('feeStatusModalLabel').innerText = 'Payment Status: Not Paid';
        document.getElementById('notPaidDetails').style.display = 'block';
        downloadBtn.style.display = 'inline-block';
        downloadBtn.className = 'btn btn-danger';
        downloadBtn.innerText = 'Send Invoice';
      }
    });
  });

  // Show attachmentSection and hide paidDetails or pendingDetails on downloadBtn click
  document.getElementById('downloadBtn').addEventListener('click', function() {
    // Only allow for paid or pending status
    if (currentStatus === 'paid') {
      document.getElementById('paidDetails').style.display = 'none';
    } else if (currentStatus === 'pending') {
      document.getElementById('pendingDetails').style.display = 'none';
    }

    if (currentStatus === 'paid' || currentStatus === 'pending') {
      document.getElementById('attachmentSection').style.display = 'block';
      document.getElementById('downloadBtn').style.display = 'none'; // Hide download button
      document.getElementById('backBtn').style.display = 'inline-block'; // Show back button
    }

    // Keep the approve button visible only for pending status in the attachment view
    if (currentStatus === 'pending') {
      document.getElementById('approveBtn').style.display = 'inline-block';
    } else {
      document.getElementById('approveBtn').style.display = 'none';
    }
  });

  // Back button to return to the initial paid or pending details section
  document.getElementById('backBtn').addEventListener('click', function() {
    document.getElementById('attachmentSection').style.display = 'none'; // Hide attachment section

    // Show the appropriate section based on currentStatus
    if (currentStatus === 'paid') {
      document.getElementById('paidDetails').style.display = 'block';
    } else if (currentStatus === 'pending') {
      document.getElementById('pendingDetails').style.display = 'block';
      document.getElementById('approveBtn').style.display = 'inline-block'; // Show approve button again for pending
    }

    document.getElementById('downloadBtn').style.display = 'inline-block'; // Show download button again
    document.getElementById('backBtn').style.display = 'none'; // Hide back button
  });
</script>

<%- include('partials/private-footer.ejs') %>