<%- include("partials/private-header.ejs") %>

<div class="row gy-3 mb-3 justify-content-between d-flex mt-0">
  <div class="col-md-9 col-auto">
    <h2 class="mb-2 text-body-emphasis">Student Information</h2>
    <h5 class="text-body-tertiary fw-semibold">We hope you have a great experience managing visitor entries and exits.</h5>
  </div>
</div>

<% 
let filteredChildren;

// Filtering children based on user type
if (children && children.length > 0) {
    if (user.isTeacher && classTeacher) {
        // Filter by the teacher's class
        filteredChildren = children.filter(child => {
            return child.class && child.class._id.toString() === classTeacher.class._id.toString();
        });
    } else if (user.isPublicUser && parent) {
        // Filter by the parent's user ID
        filteredChildren = children.filter(child => {
            return child.parent && child.parent.user.toString() === parent.user.toString();
        });
    } else {
        // Default case for other users
        filteredChildren = children;
    }
} else {
    filteredChildren = [];
}

console.log(classTeacher);
%>

<div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-7 pb-3 border-y mb-6">
  <div class="border-bottom-0 border-translucent mt-3" id="students" data-list='{"valueNames":["name","class","teacher","year", "citizenship","sarawaknative"],"page":10,"pagination":true}'>
    <div class="row align-items-end justify-content-between pb-4 g-3">

      <div class="col-12 col-md-auto">
        <div class="search-box">
          <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
            <input class="form-control search-input search form-control-sm" type="search" placeholder="Search student" aria-label="Search" />
            <span class="fas fa-search search-box-icon"></span>
          </form>
        </div>
      </div>

    </div>

    <div class="table-responsive ms-n1 ps-1 scrollbar">
      <table class="table fs-9 mb-0 border-top border-translucent">
        <thead>
          <tr>
            <th class="sort white-space-nowrap align-middle text-start" scope="col" data-sort="name" style="width:15%;">
              Full Name
            </th>
            <th class="sort align-middle text-center" scope="col" data-sort="teacher" style="width:10%;">
              Teacher
            </th>
            <th class="sort align-middle text-center" scope="col" data-sort="class" style="width:22.5%;">
              Class
            </th>
            <th class="sort align-middle text-center" scope="col" data-sort="year" style="width:10%;">
              Year
            </th>
            <th class="sort align-middle text-center" scope="col" data-sort="citizenship" style="width:22.5%;">
              Citizenship
            </th>
            <th class="sort align-middle text-center" scope="col" data-sort="sarawaknative" style="width:22.5%;">
              Sarawak Native
            </th>
            <th class="sort align-middle text-end" scope="col" style="width: 10%"></th>
          </tr>
        </thead>

        <tbody class="list" id="project-summary-table-body">
          <% if (filteredChildren && filteredChildren.length>0) { %>
          <!-- table item -->
          <% filteredChildren.forEach(function(child,index) { %>

          <% 
            const calculateAge = (dob) => {
            const today = new Date();
            const birthDate = new Date(dob);
            let age = today.getFullYear() - birthDate.getFullYear();
            const monthDifference = today.getMonth() - birthDate.getMonth();
          
            if (monthDifference < 0 || (monthDifference === 0 && today.getDate() < birthDate.getDate())) {
              age--;
            }
            return age;
          };
          %>

          <tr class="position-static">
            <td class="name align-middle white-space-nowrap text-start py-4">
              <a class="fw-bold fs-9 fs-xxl-8 no-loader" data-bs-toggle="modal" data-bs-target="#showDetail<%= index %>" href="#"><%= child.name %></a>
            </td>
            <% 
            const userTeacher = allUser.find(userTeacher =>{ return userTeacher._id.toString() === child.class.teacher.toString()});
            %>
            <td class="teacher align-middle white-space-nowrap text-center py-4">
              <a class="mb-0 fs-9 fw-semibold fst-italic" href="#"><%= userTeacher.fullname %></a>
            </td>
            <td class="class align-middle text-body white-space-nowrap text-center">
              <p class="mb-0 fs-9 notranslate no-loader" href="#"><%= child.class.classname %></p>
            </td>
            <td class="year align-middle white-space-nowrap text-center py-4">
              <p class="mb-0 fs-9 text-body"><%= calculateAge(child.dob); %></p>
            </td>
            <td class="citizenship align-middle white-space-nowrap text-center py-4">
              <p class="mb-0 fs-9 text-body"><%= child.citizenship %></p>
            </td>
            <td class="sarawaknative align-middle white-space-nowrap text-center py-4">
              <p class="mb-0 fs-9 text-body"><%= child.swkNative %></p>
            </td>
            <td class="align-middle text-end white-space-nowrap action">
              <div class="font-sans-serif btn-reveal-trigger position-static">
                <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                  <span class="fas fa-ellipsis-h fs-9"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end py-2">
                  <a class="dropdown-item" href="#">View</a>
                </div>
              </div>
            </td>
          </tr>

          <!-- Modal for showing student details -->
          <div class="modal fade" id="showDetail<%= index %>" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header border-bottom-0">
                  <h5 class="modal-title">Student</h5>
                  <div class="btn-group ms-auto">
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-target="#showParent<%= index %>" data-bs-toggle="modal" data-bs-dismiss="modal"><span class="fa-solid fa-user-shield"></span></button>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                    <% 
                    child.profile = child.profile || '/assets/img/team/avatar.webp';
                    %>
                    <div class="avatar avatar-4xl mb-3"><img class="rounded-circle border border-primary" src="<%= child.profile %>" alt="" /></div>
                    <ul class="list-unstyled">
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= child.name %>" readonly />
                          <label class="form-label" for="#">Full Name</label>
                        </div>
                      </li>
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= child.nric %>" readonly />
                          <label class="form-label" for="#">NRIC</label>
                        </div>
                      </li>
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= child.citizenship %>" readonly />
                          <label class="form-label" for="#">Citizenship</label>
                        </div>
                      </li>
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= child.swkNative %>" readonly />
                          <label class="form-label" for="#">Sarawak Native</label>
                        </div>
                      </li>
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= child.race %>" readonly />
                          <label class="form-label" for="#">Race</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="showParent<%= index %>" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header border-bottom-0">
                  <h5 class="modal-title">Parent</h5>
                  <div class="btn-group ms-auto">
                    <button type="button" class="btn btn-primary rounded-pill" data-bs-target="#showDetail<%= index %>" data-bs-toggle="modal" data-bs-dismiss="modal"><span class="fa-solid fa-users"></span></button>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="text-center">
                    <% 
                    const userParent = allUser.find(userParent =>{ return userParent._id.toString() === child.parent.user.toString()});
                    console.log(userParent);
                    userParent.profile = userParent.profile || '/assets/img/team/avatar.webp';
                    %>
                    <div class="avatar avatar-4xl mb-3"><img class="rounded-circle border border-primary" src="<%= userParent.profile %>" alt="" /></div>
                    <ul class="list-unstyled">
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= userParent.fullname %>" readonly />
                          <label class="form-label" for="#">Full Name</label>
                        </div>
                      </li>
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= userParent.email %>" readonly />
                          <label class="form-label" for="#">Email</label>
                        </div>
                      </li>
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= userParent.phone %>" readonly />
                          <label class="form-label" for="#">Phone</label>
                        </div>
                      </li>
                      <li>
                        <div class="form-floating">
                          <input type="text" class="form-control mb-2" value="<%= userParent.address %>" readonly />
                          <label class="form-label" for="#">Address</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%  }); %> <% } else { %>
          <tr>
            <td colspan="6" class="text-center fw-bold fs-9">No student/children detected</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
      <div class="col-auto d-flex">
        <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold no-translate no-loader" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none no-loader" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
      </div>
      <div class="col-auto d-flex">
        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
        <ul class="mb-0 pagination"></ul>
        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to view more student details -->
<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentModalLabel">Student Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Information about the student -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fullname" class="form-label"><b>Student Name</b></label>
            <p class="form-label">Alice Johnson</p>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label"><b>Address</b></label>
            <p class="form-label">1234 Elm St, Cityville</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>IC Number</b></label>
            <p class="form-label">990101-12-1234</p>
          </div>
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>Date of Birth</b></label>
            <p class="form-label">23-10-2013</p>
          </div>
        </div>

        <hr>

        <!-- Information about the student's Parent -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fullname" class="form-label"><b>Father's Name</b></label>
            <p class="form-label">George</p>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label"><b>Address</b></label>
            <p class="form-label">1234 Elm St, Cityville</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>IC Number</b></label>
            <p class="form-label">990101-12-1234</p>
          </div>
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>Phone Number</b></label>
            <p class="form-label">0123456789</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="paidAmount" class="form-label"><b>Occupation</b></label>
          <p class="form-label">Pilot</p>
        </div>

        <hr>

        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fullname" class="form-label"><b>Mother's Name</b></label>
            <p class="form-label">Sarah</p>
          </div>
          <div class="col-md-6">
            <label for="address" class="form-label"><b>Address</b></label>
            <p class="form-label">1234 Elm St, Cityville</p>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>IC Number</b></label>
            <p class="form-label">990101-12-1234</p>
          </div>
          <div class="col-md-6">
            <label for="paidAmount" class="form-label"><b>Phone Number</b></label>
            <p class="form-label">0123456789</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="paidAmount" class="form-label"><b>Occupation</b></label>
          <p class="form-label">Nurse</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal to display student grade details -->
<div class="modal fade" id="gradeModal" tabindex="-1" aria-labelledby="gradeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="gradeModalLabel">Student Grade Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <!-- Exam Part 1 -->
        <h6>Exam Part 1</h6>
        <div class="table-responsive mb-2">
          <table class="table table-bordered text-center align-middle" id="part1Table">
            <thead class="table-primary">
              <tr>
                <th scope="col">What Learning</th>
                <th scope="col">Grade Point (%)</th>
                <th scope="col">Grade</th>
                <th scope="col">Things to Improve</th>
                <th scope="col">Comments</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td contenteditable="false">Math</td>
                <td contenteditable="false" class="grade-point">85</td>
                <td class="grade">A</td>
                <td contenteditable="false">Practice algebra</td>
                <td contenteditable="false">Good progress in calculations.</td>
                <td>
                  <button class="btn btn-sm btn-primary edit-btn">Edit</button>
                  <button class="btn btn-sm btn-danger delete-btn">Delete</button>
                </td>
              </tr>
              <!-- Additional rows can be added here for Part 1 -->
            </tbody>
          </table>
        </div>
        <button id="addRowBtnPart1" class="btn btn-outline-primary btn-sm mb-4">Add Row to Part 1</button>

        <!-- Exam Part 2 -->
        <h6>Exam Part 2</h6>
        <div class="table-responsive mb-2">
          <table class="table table-bordered text-center align-middle" id="part2Table">
            <thead class="table-primary">
              <tr>
                <th scope="col">What Learning</th>
                <th scope="col">Grade Point (%)</th>
                <th scope="col">Grade</th>
                <th scope="col">Things to Improve</th>
                <th scope="col">Comments</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td contenteditable="false">English</td>
                <td contenteditable="false" class="grade-point">90</td>
                <td class="grade">A+</td>
                <td contenteditable="false">Improve vocabulary</td>
                <td contenteditable="false">Shows effort in writing skills.</td>
                <td>
                  <button class="btn btn-sm btn-primary edit-btn">Edit</button>
                  <button class="btn btn-sm btn-danger delete-btn">Delete</button>
                </td>
              </tr>
              <!-- Additional rows can be added here for Part 2 -->
            </tbody>
          </table>
        </div>
        <button id="addRowBtnPart2" class="btn btn-outline-primary btn-sm mb-4">Add Row to Part 2</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>