<%- include('partials/private-header') %>

<% 
function formatDate(inputDate) {
  const day = String(inputDate.getDate()).padStart(2, '0');
  const month = String(inputDate.getMonth() + 1).padStart(2, '0');
  const year = inputDate.getFullYear();

  return `${day}/${month}/${year}`;
}
%>

<div class="mb-6">
  <nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#!">Human Resources</a></li>
      <li class="breadcrumb-item"><a href="#!">Leave Balances</a></li>
      <li class="breadcrumb-item active notranslate" aria-current="page"><%= userLeave.user.fullname %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= userLeave.user.username %></li>
    </ol>
  </nav>

  <div class="mb-6">
    <h2 class="title">Leave Update</h2>
  </div>

  <div class="mb-3 row g-3">
    <div class="col-12 col-xxl-9 order-1 order-xxl-0">
      <form class="row g-3 mb-6 has-validation" action="/human-resource/leave/balances/update/<%= userLeave.user._id %>" method="post" id="leaveForm">

        <!-- <div class="col-12">
          <button id="updateLeave" class="btn btn-primary mt-3">Update Annual Total</button>
        </div> -->

        <div class="col-6 col-md-3">
          <div class="form-floating">
            <input id="annualtotal" type="text" name="annualtotal" class="form-control" value="<%= userLeave.annual.leave %>" placeholder="" />
            <label class="form-label" for="annualtotal">Annual Leave Total</label>
            <div class="invalid-feedback">Please enter annual leave total</div>
          </div>
        </div>
        
        <div class="col-6 col-md-3">
          <div class="form-floating">
            <input id="newleave" type="text" name="newleave" class="form-control" placeholder="" />
            <label class="form-label" for="newleave">Add New Annual Leave</label>
            <div class="invalid-feedback">Please enter new annual leave</div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="annualtaken" class="form-control" placeholder="" />
            <label class="form-label" for="annualtaken">Annual Leave Taken</label>
            <div class="invalid-feedback">
              Please enter annual leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="sicktotal" class="form-control" placeholder="" />
            <label class="form-label" for="sicktotal">Sick Leave Total</label>
            <div class="invalid-feedback">
              Please enter sick leave total
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="sicktaken" class="form-control" placeholder="" />
            <label class="form-label" for="sicktaken">Sick Leave Taken</label>
            <div class="invalid-feedback">
              Please enter sick leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="sickExtendedTotal" class="form-control" placeholder="" />
            <label class="form-label" for="sickExtendedTotal">Extended Sick Leave Total</label>
            <div class="invalid-feedback">
              Please enter extended sick leave total
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="sickExtendedTaken" class="form-control" placeholder="" />
            <label class="form-label" for="sickExtendedTaken">Extended Sick Leave Taken</label>
            <div class="invalid-feedback">
              Please enter extended sick leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="" class="form-control" placeholder="" disabled />
            <label class="form-label" for="">Time Off Leave Total</label>
            <div class="invalid-feedback">
              Please enter time off leave total
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="" class="form-control" placeholder="" disabled />
            <label class="form-label" for="">Time Off Leave Taken</label>
            <div class="invalid-feedback">
              Please enter time off leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="" class="form-control" placeholder="" disabled />
            <label class="form-label" for="">Unrecorded Leave Total</label>
            <div class="invalid-feedback">
              Please enter unrecorded leave total
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="" class="form-control" placeholder="" disabled />
            <label class="form-label" for="">Unrecorded Leave Taken</label>
            <div class="invalid-feedback">
              Please enter unrecorded leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="attendexam" class="form-control" placeholder="" />
            <label class="form-label" for="attendexam">Attend Exam Leave Taken</label>
            <div class="invalid-feedback">
              Please enter attend exam taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="emergency" class="form-control" placeholder="" />
            <label class="form-label" for="emergency">Emergency Leave Taken</label>
            <div class="invalid-feedback">
              Please enter emergency leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="unpaid" class="form-control" placeholder="" />
            <label class="form-label" for="unpaid">Unpaid Leave Taken</label>
            <div class="invalid-feedback">
              Please enter unpaid leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="umrah" class="form-control" placeholder="" />
            <label class="form-label" for="umrah">Umrah Leave Taken</label>
            <div class="invalid-feedback">
              Please enter umrah leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="paternity" class="form-control" placeholder="" />
            <label class="form-label" for="paternity">Paternity Leave Taken</label>
            <div class="invalid-feedback">
              Please enter paternity leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="special" class="form-control" placeholder="" />
            <label class="form-label" for="special">Special Leave Taken</label>
            <div class="invalid-feedback">
              Please enter special leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="hajj" class="form-control" placeholder="" />
            <label class="form-label" for="hajj">Hajj Leave Taken</label>
            <div class="invalid-feedback">
              Please enter hajj leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="maternity" class="form-control" placeholder="" />
            <label class="form-label" for="maternity">Maternity Leave Taken</label>
            <div class="invalid-feedback">
              Please enter maternity leave taken
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="marriage" class="form-control" placeholder="" />
            <label class="form-label" for="marriage">Marriage Leave Taken</label>
            <div class="invalid-feedback">
              Please enter marriage leave taken
            </div>
          </div>
        </div>

        <div class="col-12 gy-6">
          <div class="row g-3 justify-content-end">
            <div class="col-auto">
              <a role="button" class="btn btn-phoenix-secondary" href="/human-resource/leave/balances">Cancel</a>
            </div>
            <div class="col-auto">
              <button id="updateLeave" class="btn btn-primary w-100 mb-3 loading-button" type="submit" name="submit">
                <div class="content-button">Update Leave</div>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script>
      const annualTotalInput = document.getElementById("annualtotal");
      const newLeaveInput = document.getElementById("newleave");
      const updateButton = document.getElementById("updateLeave");
    
      // function to update the total leave
      function updateAnnualTotal() {
        const annualTotal = parseInt(annualTotalInput.value) || 0; // get the current total
        const newLeave = parseInt(newLeaveInput.value) || 0; // get the new leave value
    
        const updatedTotal = annualTotal + newLeave; // add new leave to the total
        annualTotalInput.value = updatedTotal; // update the total in the input
        newLeaveInput.value = ""; // clear the new leave input
      }
    
      // add event listener to the button
      updateButton.addEventListener("click", updateAnnualTotal);
    </script>

    <!-- leave entitlements -->
    <div class="col-12 col-xxl-3 mb-6 order-0 order-xxl-1">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="mb-3 text-center">Leave Entitlements (<%= userLeave.annual.leave %>)</h5>

          <div class="mx-auto mt-n5" id="leave-type-chart-carousel" style="height:300px; width: 250px;"></div>

          <script>
            // take the root of the colour from css for echarts
            const style = getComputedStyle(document.body);
            const theme = {
              primary: style.getPropertyValue('--phoenix-primary'),
              secondary: style.getPropertyValue('--phoenix-secondary'),
              success: style.getPropertyValue('--phoenix-success'),
              info: style.getPropertyValue('--phoenix-info'),
              warning: style.getPropertyValue('--phoenix-warning'),
              danger: style.getPropertyValue('--phoenix-danger'),
              bg_primary_subtle: style.getPropertyValue('--phoenix-primary-bg-subtle'),
              tertiary: style.getPropertyPriority('--phoenix-tertiary-color'),
              light: style.getPropertyValue('--phoenix-light'),
              dark: style.getPropertyValue('--phoenix-dark')
            };

            // take css class color based on their property color/bg-colour for echarts
            function getColor(className, property) {
              var element = document.createElement('div');
              element.className = className;
              document.body.appendChild(element);

              var computedStyle = window.getComputedStyle(element);
              var color = computedStyle.getPropertyValue(property);

              document.body.removeChild(element);

              return color;
            }
          </script>

          <script>
            const leaveTypeURL = '/api/echarts/leaveType/<%= userLeave.user._id %>';

            fetch(leaveTypeURL)
              .then(response => response.json())
              .then(fetchLeaveTypeData => {
                updateLeaveTypeChart(fetchLeaveTypeData, 'leave-type-chart-carousel');
              })
              .catch(error => {
                console.error('Error fetching user leave data:', error);
              });

            function updateLeaveTypeChart(fetchLeaveTypeData, echartsId) {

              var genderFemale = '';
              if (fetchLeaveTypeData.user.gender === 'Male') {
                genderFemale = 60;
              } else if (fetchLeaveTypeData.user.gender === 'Female' && fetchLeaveTypeData.maternity.taken > 0) {
                genderFemale = 60;
              } else {
                genderFemale = 0;
              }

              var genderMale = '';
              if (fetchLeaveTypeData.user.gender === 'Female' || fetchLeaveTypeData.paternity.taken > 6) {
                genderMale = 3;
              } else {
                genderMale = 0;
              }

              var marriage = '';
              if (fetchLeaveTypeData.marriage.taken > 0) {
                marriage = 3;
              } else {
                marriage = 0;
              }

              var hajj = '';
              if (fetchLeaveTypeData.hajj.taken > 0) {
                hajj = 40;
              } else {
                hajj = 0;
              }

              var umrah = '';
              if (fetchLeaveTypeData.umrah.taken > 0) {
                umrah = 40;
              } else {
                umrah = 0;
              }

              var special = '';
              if (fetchLeaveTypeData.special.taken > 7) {
                special = 3;
              } else {
                special = 0;
              }

              var leaveTypeData = {
                labels: ['Annual Leave', 'Sick Leave', 'Sick Extended Leave', 'Emergency Leave Taken', 'Marriage Leave', 'Paternity Leave', 'Maternity Leave', 'Attend Exam Leave', 'Hajj Leave', 'Umrah Leave', 'Unpaid Leave Taken', 'Special Leave'],
                data: [
                  fetchLeaveTypeData.annual.leave - fetchLeaveTypeData.annual.taken,
                  fetchLeaveTypeData.sick.leave - fetchLeaveTypeData.sick.taken,
                  fetchLeaveTypeData.sickExtended.leave - fetchLeaveTypeData.sickExtended.taken,
                  fetchLeaveTypeData.emergency.taken,
                  fetchLeaveTypeData.marriage.leave - marriage,
                  fetchLeaveTypeData.paternity.leave - genderMale,
                  fetchLeaveTypeData.maternity.leave - genderFemale,
                  fetchLeaveTypeData.attendExam.leave - fetchLeaveTypeData.attendExam.taken,
                  fetchLeaveTypeData.hajj.leave - hajj,
                  fetchLeaveTypeData.umrah.leave - umrah,
                  fetchLeaveTypeData.unpaid.taken,
                  fetchLeaveTypeData.special.leave - special,
                ],
              };
              // initialize ECharts instance
              var leaveTypeChart = echarts.init(document.getElementById(echartsId), null, {
                devicePixelRatio: window.devicePixelRatio > 1 ? 2 : 1,
                renderer: 'canvas',
                width: 'auto',
                height: 'auto'
              });

              var option = {
                color: [getColor('bg-info-light', 'background-color'), getColor('bg-warning-darker', 'background-color'),
                  getColor('bg-warning-light', 'background-color'), getColor('bg-danger-light', 'background-color'), getColor('bg-danger-dark', 'background-color'), getColor('bg-success-light', 'background-color'),
                  getColor('bg-success-dark', 'background-color'), getColor('bg-info-dark', 'background-color'), getColor('bg-info-lighter', 'background-color'), getColor('bg-success-lighter', 'background-color'), getColor('bg-primary', 'background-color'), getColor('bg-warning-lighter', 'background-color')
                ],
                series: [{
                  name: 'Tasks assigned to me',
                  type: 'pie',
                  radius: ['70%', '85%'],
                  startAngle: 30,
                  avoidLabelOverlap: false,
                  label: {
                    show: false,
                    position: 'center',
                    formatter: '{x|{c} } \n {y|{b}}',
                    rich: {
                      x: {
                        fontSize: 31.25,
                        fontWeight: 800,
                        color: '#3874ff',
                        padding: [0, 0, 5, 15]
                      },
                      y: {
                        fontSize: 12,
                        color: '#3874ff',
                        fontWeight: 600
                      }
                    }
                  },
                  emphasis: {
                    label: {
                      show: true
                    }
                  },
                  // itemStyle: {
                  //   borderWidth: 1, 
                  //   borderColor: getColor('bg-body', 'background-color'), 
                  // },
                  labelLine: {
                    show: false
                  },
                  data: leaveTypeData.labels.map((label, index) => ({
                    value: leaveTypeData.data[index],
                    name: label,
                    emphasis: index === 0 ? {
                      label: {
                        show: true,
                      },
                    } : {},
                  })),
                }, ],
                grid: {
                  bottom: 0,
                  top: 0,
                  left: 0,
                  right: 0,
                  containLabel: false
                },
              };

              leaveTypeChart.setOption(option);

              window.addEventListener('resize', function() {
                leaveTypeChart.resize();
              });
            }
          </script>

          <% 
          let annual = ((userLeave.annual.leave - userLeave.annual.taken) / userLeave.annual.leave) * 100;
          annual = annual > 0 ? annual : 0;

          let sick = ((userLeave.sick.leave - userLeave.sick.taken) / userLeave.sick.leave) * 100;
          sick = sick > 0 ? sick : 0;

          let sickExtended = ((userLeave.sickExtended.leave - userLeave.sickExtended.taken) / userLeave.sickExtended.leave) * 100;
          sickExtended = sickExtended > 0 ? sickExtended : 0;

          let attendExam = ((userLeave.attendExam.leave - userLeave.attendExam.taken) / userLeave.attendExam.leave) * 100;
          attendExam = attendExam > 0 ? attendExam : 0;

          console.log(sick);

          var showMarriage = '';
          var showPaternity = '';
          var showMaternity = '';
          var showHajj = '';
          var showSpecial = '';

          if(userLeave.user.gender === 'Male'){
            showMaternity = 'd-none';
          }else{
            showMaternity = '';
          }

          if(userLeave.user.gender == 'Female' || userLeave.paternity.taken > 6){
            showPaternity = 'd-none';
          }else{
            showPaternity = '';
          }

          if(userLeave.marriage.taken > 0){
            showMarriage = 'd-none';
          }else{
            showMarriage = '';
          }

          if(userLeave.hajj.taken > 0){
            showHajj = 'd-none';
          }else{
            showHajj = '';
          }

          if(userLeave.umrah.taken > 0){
            showUmrah = 'd-none';
          }else{
            showUmrah = '';
          }

          if(userLeave.special.taken > 7){
            showSpecial = 'd-none';
          }else{
            showSpecial = '';
          }
          %>
          <div class="d-flex align-items-center justify-content-between">
            <p class="mb-0 fw-bold">Leave Types</p>
          </div>
          <hr class="bg-body-secondary mb-2 mt-2" />
          <!-- annual leave -->
          <div class="align-items-center justify-content-between d-flex mb-0">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-info-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Annual Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= annual %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span <% /* eslint-disable css-propertyvalueexpected */ %> class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(<%= (userLeave.annual.leave - userLeave.annual.taken).toString().length === 1 ? '30%' : '-10%' %>, -25%); z-index: 1; font-size: 20px; color: #3874ff;">
                <%= userLeave.annual.leave - userLeave.annual.taken %>
              </span>
            </div>
          </div>

          <!-- sick leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-warning-darker bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Sick Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= sick %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span <% /* eslint-disable css-propertyvalueexpected */ %> class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(<%= (userLeave.sick.leave - userLeave.sick.taken).toString().length === 1 ? '30%' : '-10%' %>, -25%); z-index: 1; font-size: 20px; color: #3874ff;">
                <%= userLeave.sick.leave - userLeave.sick.taken %>
              </span>
            </div>
          </div>

          <!-- sick extended leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-warning-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Extended Sick Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= sickExtended %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span <% /* eslint-disable css-propertyvalueexpected */ %> class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(<%= (userLeave.sickExtended.leave - userLeave.sickExtended.taken).toString().length === 1 ? '30%' : '-10%' %>, -25%); z-index: 1; font-size: 20px; color: #3874ff;">
                <%= userLeave.sickExtended.leave - userLeave.sickExtended.taken %>
              </span>
            </div>
          </div>

          <!-- marriage leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2 <%= showMarriage %>">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-danger-dark bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Marriage Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:100">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.marriage.leave %></span>
            </div>
          </div>

          <!-- paternity leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2 <%= showPaternity %>">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-success-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Paternity Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:100">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.paternity.leave %></span>
            </div>
          </div>

          <!-- maternity leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2 <%= showMaternity %>">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-success-dark bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Maternity Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:100">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(-10%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.maternity.leave %></span>
            </div>
          </div>

          <!-- attend exam leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-info-dark bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Attend Exam Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= attendExam %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span <% /* eslint-disable css-propertyvalueexpected */ %> class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(<%= (userLeave.attendExam.leave - userLeave.attendExam.taken).toString().length === 1 ? '30%' : '-10%' %>, -25%); z-index: 1; font-size: 20px; color: #3874ff;">
                <%= userLeave.attendExam.leave - userLeave.attendExam.taken %>
              </span>
            </div>
          </div>

          <!-- hajj leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2 <%= showHajj %>">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-info-lighter bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Hajj Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:100">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(-10%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.hajj.leave %></span>
            </div>
          </div>

          <!-- umrah leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2 <%= showUmrah %>">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-success-lighter bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Umrah Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:100">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.umrah.leave %></span>
            </div>
          </div>

          <!-- special leave -->
          <div class="align-items-center justify-content-between d-flex mb-0 <%= showSpecial %>">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-warning-lighter bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Special Leave</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:100">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;">
                <%= userLeave.special.leave %>
              </span>
            </div>
          </div>

          <!-- annual leave taken -->
          <div class="align-items-center justify-content-between d-flex mb-0">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-info-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Annual Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= annual %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;">
                <%= userLeave.annual.taken %>
              </span>
            </div>
          </div>

          <!-- emergency leave taken -->
          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-danger-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Emergency Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:100">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.emergency.taken %></span>
            </div>
          </div>

          <!-- unpaid leave taken -->
          <div class="align-items-center justify-content-between d-flex mb-0">
            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-primary bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Unpaid Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:100">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.unpaid.taken %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>