<%- include('partials/private-header.ejs') %>

<div class="mb-6">
  <nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#!">Human Resources</a></li>
      <li class="breadcrumb-item"><a href="#!">Staff Member</a></li>
      <li class="breadcrumb-item"><a href="#!">Overview</a></li>
      <li class="breadcrumb-item active" aria-current="page"><%= otherUser.username %></li>
    </ol>
  </nav>

  <div class="mb-6">
    <h2 class="title">Staff Members Update</h2>
  </div>

  <div class="mb-3 row g-3">
    <div class="col-12 col-xxl-9 order-1 order-xxl-0">
      <form class="row g-3 mb-6 has-validation" action="/human-resource/staff-members/overview/update/<%= otherUser._id %>" method="post">
        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="fullname" class="form-control" placeholder="" />
            <label class="form-label" for="fullname">Full Name</label>
            <div class="invalid-feedback">
              Please enter full name
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <input type="text" name="username" class="form-control" placeholder="" />
            <label class="form-label" for="username">Username</label>
            <div class="invalid-feedback">
              Please enter username
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="form-floating">
            <input type="text" class="form-control datetimepicker flatpickr-input" placeholder="" name="dateEmployed" data-options='{"disableMobile":true,"allowInput":true, "locale" : { "firstDayOfWeek" : 1}}'>
            <label for="floatingInputStartDate"></span>Joined date</label>
            <div class="invalid-feedback">
              Please select joined date
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="gender">
              <option selected></option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <div class="invalid-feedback">Please select a gender type</div>
            <label for="floatingSelectTask">Gender</label>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="form-floating">
            <select name="classification" class="form-select form-icon-input">
              <option selected></option>
              <option value="permanent">Permanent</option>
              <option value="contract">Contract</option>
              <option value="trainee">Trainee</option>
              <option value="intern">Intern</option>
            </select>
            <label class="form-label" for="classification">Classification</label>
            <div class="invalid-feedback">
              Please enter classification
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="form-floating">
            <input type="text" name="grade" class="form-control" placeholder="" />
            <label class="form-label" for="grade">Grade</label>
            <div class="invalid-feedback">
              Please enter grade
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="form-floating">
            <input type="text" name="position" class="form-control" placeholder="" />
            <label class="form-label" for="position">Position</label>
            <div class="invalid-feedback">
              Please enter position
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="department" class="form-control" placeholder="" />
            <label class="form-label" for="department">Department</label>
            <div class="invalid-feedback">
              Please enter department
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="section" class="form-control" placeholder="" />
            <label class="form-label" for="section">Section</label>
            <div class="invalid-feedback">
              Please enter section
            </div>
          </div>
        </div>

        <hr>

        <% 

        let isAdmin;
        let isOfficer;
        let isManagement;
        let isHeadOfDepartment;
        let isHeadOfSection;
        let isPersonalAssistant;
        let isDriver;
        let isTeaLady;
        let isNonOfficeHour;
        let isTeacher;
        let isPublicUser;

        if(otherUser.isAdmin === false){
            isAdmin = "no";
        } else {
            isAdmin = "yes";
        }

        if(otherUser.isOfficer === false){
            isOfficer = "no";
        } else {
            isOfficer = "yes";
        }
        
        if(otherUser.isManagement === false){
            isManagement = "no";
        } else {
            isManagement = "yes";
        }
        
        if(otherUser.isHeadOfDepartment === false){
            isHeadOfDepartment = "no";
        } else {
            isHeadOfDepartment = "yes";
        }
        
        if(otherUser.isHeadOfSection === false){
            isHeadOfSection = "no";
        } else {
            isHeadOfSection = "yes";
        }
        
        if(otherUser.isPersonalAssistant === false){
            isPersonalAssistant = "no";
        } else {
            isPersonalAssistant = "yes";
        }

        if(otherUser.isDriver === false){
            isDriver = "no";
        } else {
            isDriver = "yes";
        }

        if(otherUser.isTeaLady === false){
            isTeaLady = "no";
        } else {
            isTeaLady = "yes";
        }

        if(otherUser.isNonOfficeHour === false){
            isNonOfficeHour = "no";
        } else {
            isNonOfficeHour = "yes";
        }

        if(otherUser.isTeacher === false){
            isTeacher = "no";
        } else {
            isTeacher = "yes";
        }

        if(otherUser.isPublicUser === false){
            isPublicUser  = "no";
        } else {
            isPublicUser  = "yes";
        }

        %>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isOfficer">
              <option value="<%= isOfficer %>" selected><%= isOfficer %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Officer</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isAdmin">
              <option value="<%= isAdmin %>" selected><%= isAdmin %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Admin</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isHeadOfDepartment">
              <option value="<%= isHeadOfDepartment %>" selected><%= isHeadOfDepartment %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Head of Department</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isHeadOfSection">
              <option value="<%= isHeadOfSection %>" selected><%= isHeadOfSection %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Head of Section</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isManagement">
              <option value="<%= isManagement %>" selected><%= isManagement %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Management</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isPersonalAssistant">
              <option value="<%= isPersonalAssistant %>" selected><%= isPersonalAssistant %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Personal Assistant</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isDriver">
              <option value="<%= isDriver %>" selected><%= isDriver %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Driver</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isTeaLady">
              <option value="<%= isTeaLady %>" selected><%= isTeaLady %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Tea Lady</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isNonOfficeHour">
              <option value="<%= isNonOfficeHour %>" selected><%= isNonOfficeHour %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Non Officer Hour</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isTeacher">
              <option value="<%= isTeacher %>" selected><%= isTeacher %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Teacher</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-floating">
            <select class="form-select" id="floatingSelectTask" name="isPublicUser">
              <option value="<%= isPublicUser %>" selected><%= isPublicUser %></option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
            <div class="invalid-feedback">Please select an option</div>
            <label for="floatingSelectTask">Public User</label>
          </div>
        </div>

        <div class="col-12 gy-6">
          <div class="row g-3 justify-content-end">
            <div class="col-auto">
              <a role="button" class="btn btn-phoenix-secondary" href="/human-resource/staff-members/overview">Cancel</a>
            </div>
            <div class="col-auto">
              <button class="btn btn-primary w-100 mb-3 loading-button" type="submit" name="submit">
                <div class="content-button">Update Staff Details</div>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 col-xxl-3 mb-6 order-0 order-xxl-1">
      <div class="card h-100">
        <div class="card-body">
          <div class="border-bottom border-dashed">
            <h4 class="mb-3"><%= otherUser.username %>
              <button class="btn btn-link p-0 d-none" type="button"><span class="fas fa-edit fs-9 ms-3 text-body-quaternary"></span></button>
            </h4>
          </div>
          <div class="pt-4 mb-0">

            <div class="">
              <div class="">
                <h5 class="text-body-highlight">Full Name</h5>
              </div>
              <div class="">
                <p class="text-body-secondary notranslate"><%= otherUser.fullname %></p>
              </div>
            </div>

            <div class="">
              <div class="">
                <h5 class="text-body-highlight">Position</h5>
              </div>
              <div class="">
                <p class="text-body-secondary"><%=  otherUser.position %></p>
              </div>
            </div>
            <div class="">
              <div class="">
                <h5 class="text-body-highlight">Classification</h5>
              </div>
              <div class="">
                <p class="text-body-secondary"><%= otherUser.classification.charAt(0).toUpperCase() + otherUser.classification.slice(1) %></p>
              </div>
            </div>
            <div class="">
              <div class="">
                <h5 class="text-body-highlight">Grade</h5>
              </div>
              <div class="">
                <p class="text-body-secondary"><%= otherUser.grade %></p>
              </div>
            </div>
            <div class="">
              <div class="">
                <h5 class="text-body-highlight">Gender</h5>
              </div>
              <div class="">
                <p class="text-body-secondary"><%= otherUser.gender %></p>
              </div>
            </div>
          </div>

          <div class="border-top border-dashed pt-4">
            <div class="">
              <div class="">
                <h5 class="text-body-highlight">Department</h5>
              </div>
              <div class="">
                <p class="text-body-secondary"><%= otherUser.department %></p>
              </div>
            </div>
            <div class="">
              <div class="">
                <h5 class="text-body-highlight">Section</h5>
              </div>
              <div class="">
                <p class="text-body-secondary"><%= otherUser.section %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- toast alert submission -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast <%= show %> align-items-center text-white border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-primary"><%= alert %></code>
        </div>

        <button class="btn ms-2 p-0" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-7"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>