<%- include('partials/private-header.ejs') %>

<!-- function for EJS -->
<%
 function formatCustomDate(dateString) {
    const date = new Date(dateString);

    if (isNaN(date.getTime())) {
        return 'Invalid date';
    }

    return date.toLocaleString('en-US', {
        timeZone: 'Asia/Kuala_Lumpur',
        month: 'long',
        day: 'numeric',
        year: 'numeric',
        hour: 'numeric',
        minute: '2-digit',
        hour12: true
    });
}

var showApproval = 'd-none';
var showAcknowledge = 'd-none';
var showCancel = 'd-none';

// Determine user's position in the approval process
const userApprovals = approvals.filter(approval => approval.recipient.equals(user._id));

if (userApprovals.length > 0) {
    const isUserLeaveOwner = user._id.toString() === leave.user.toString();

    if (!isUserLeaveOwner && leave.status !== 'approved' && leave.status !== 'denied' && leave.status !== 'cancelled') {
        // Filter relevant approvals based on role
        const relevantUserApprovals = userApprovals.filter(approval => 
            (approval.role === 'Relief Staff') ||
            (approval.role === 'Head of Department') ||
            (approval.role === 'Head of Division') ||
            (approval.role === 'Human Resource')
        );

        for (const relevantApproval of relevantUserApprovals) {
            // Find the index of the relevant approval in the original approvals array
            const approvalIndex = approvals.findIndex(approval => approval._id.equals(relevantApproval._id));

            // Check previous approvals up to the current relevant approval
            const previousApprovals = approvals.slice(0, approvalIndex);
            const allPreviousApproved = previousApprovals.every(approval => 
                approval.status === 'approved' || approval.status === 'submitted'
            );

            // If all previous approvals are approved/submitted and the current relevant approval is pending, show the approval button
            if (allPreviousApproved && relevantApproval.status === 'pending') {
                showApproval = ''; // Show the approval button
                break; // Exit the loop early if the condition is met
            }
        }
    }
}

const approvalsBeforeHR = approvals.slice(1, approvals.length - 1); // Exclude first and last approvals
console.log('Approvals before HR:', approvalsBeforeHR);

const allApprovalsBeforeHRApproved = approvalsBeforeHR.every(approval => approval.status === 'approved');
console.log('All Approvals Before HR Approved:', allApprovalsBeforeHRApproved);

if (allApprovalsBeforeHRApproved && user.section === 'Human Resource Management Division') {
    showAcknowledge = (leave.status === 'approved' || leave.status === 'denied') ? 'd-none' : '';
}



// Handle cancel button visibility
const headDepartmentApprovalIndex = approvals.findIndex(approval => approval.role === 'Head of Department');
const headSectionApprovalIndex = approvals.findIndex(approval => approval.role === 'Head of Section');
const deputyChiefApprovalIndex = approvals.findIndex(approval => approval.role === 'Deputy Chief Executive Officer');
const chiefApprovalIndex = approvals.findIndex(approval => approval.role === 'Chief Executive Officer');

const anyApprovalIndex = [headDepartmentApprovalIndex, headSectionApprovalIndex, deputyChiefApprovalIndex, chiefApprovalIndex]
    .findIndex(index => index !== -1 && approvals[index] && approvals[index].recipient.toString() === user._id.toString());

if (leave.status === 'approved' && leave.date.start >= new Date()) {
    if (leave.user.toString() === user._id.toString() || anyApprovalIndex !== -1) {
        showCancel = '';
    }
} else if (leave.status === 'pending' || leave.status === 'invalid' || leave.status === 'submitted') {
    if (leave.user.toString() === user._id.toString() || anyApprovalIndex !== -1) {
        showCancel = '';
    }
}

%>

<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Leave</a></li>
    <li class="breadcrumb-item"><a href="#!">Details</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= leave._id %></li>
  </ol>
</nav>

<div class="row d-flex flex-wrap justify-content-between align-items-end mb-2">
  <div class="col-auto">
    <h2>Leave Request <a class="notranslate" href="/staff/details/<%= userReq._id %>">#<%= userReq.fullname %></a></h2>
    <p class="text-body-secondary mb-0">Leave request on <br class="d-sm-none"><span class="ms-sm-1"><%= formatCustomDate(leave.timestamp) %></span></p>
  </div>

  <div class="col-auto d-flex justify-content-center">
    <div class="<%= showAcknowledge %>">
      <a class="btn btn-success me-2" role="button" href="/leave/acknowledged/<%= leave._id %>">Acknowledge</a>
    </div>
    <div class="<%= showApproval %>">
      <a class="btn btn-primary me-2" role="button" href="/leave/approved/<%= leave._id %>">Approve</a>
      <a class="btn btn-outline-danger me-2" role="button" href="/leave/denied/<%= leave._id %>">Deny</a>
    </div>
    <div>
      <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
      <ul class="dropdown-menu dropdown-menu-end p-0" style="z-index: 9999;">
        <li><a class="dropdown-item d-none" href="/leave/history">Leave History</a></li>
        <li><a class="dropdown-item <%= showCancel %>" href="/leave/cancelled/<%= leave._id %>">Cancel Request</a></li>
        <li><a class="dropdown-item" href="#!">Print</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row gy-5 gx-5 mb-xxl-6 mb-6">

  <div class="col-12 col-lg-6">
    <div class="border rounded-3 overflow-auto scrollbar">
      <div class="p-3" style="height: 50vh;">

        <% 
        var statusColor = '';
        if (leave.status == "pending"){
            statusColor = 'info';
        } else if(leave.status == "approved" || leave.status == "submitted") {
            statusColor = 'success';
        } else if(leave.status == "denied" ||  leave.status == "cancelled") {
            statusColor = 'danger';
        }else if (leave.status == "invalid"){
            statusColor = 'warning';
        } 
        %>

        <div class="row g-3 d-flex justify-content-between mb-3 p-3">
          <div class="col-auto">
            <h3><%= leave.type %></h3>
          </div>

          <div class="col-auto">
            <p class="badge badge-phoenix badge-phoenix-<%= statusColor %> fs-10"><%= leave.status %></p>
          </div>
        </div>

        <div class="container mt-n5 px-4 py-4">

          <div class="mb-5">
            <h5><span class="fa-solid fa-calendar-days me-2"></span>Date requested ( <span class="fst-italic text-primary"><%= leaveDays %> days</span> )</h5>
            <hr>
            <p class="text-body-highlight"><%= leave.date.start.toLocaleDateString('en-US', { day: '2-digit', month: 'long', year: 'numeric', timeZone : 'Asia/Kuala_Lumpur' }) %> <span class="fw-normal fst-normal">until</span> <%= leave.date.return.toLocaleDateString('en-US', { day: '2-digit', month: 'long', year: 'numeric', timeZone : 'Asia/Kuala_Lumpur' }) %> </p>
          </div>

          <div class="mb-5">
            <h5><span class="fa-solid fa-pen-nib me-2"></span>Purpose of leave</h5>
            <hr>
            <p class="text-body-highlight"><%= leave.purpose %></p>
          </div>

          <% 
          var comment = ''

          if(!leave.comment || leave.comment === ''){
            comment = 'd-none';
          }else {
            comment = '';
          }
          %>

          <div class="mb-5 <%= comment %>">
            <h5><span class="fa-solid fa-comment me-2"></span>Comment</h5>
            <hr>
            <p class="text-body-highlight"><%= leave.comment %></p>
          </div>

          <%
            const formatDateFile = (date) => {
              const options = { day: 'numeric', month: 'short', hour: 'numeric', minute: 'numeric', hour12: true };
              const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date);
            
              // Add day suffix (st, nd, rd, or th)
              const day = date.getDate();
              const daySuffix = (day) => {
                if (day >= 11 && day <= 13) {
                  return 'th';
                }
                const lastDigit = day % 10;
                   switch (lastDigit) {
                  case 1: return 'st';
                  case 2: return 'nd';
                  case 3: return 'rd';
                  default: return 'th';
                }
              };
            
              return formattedDate.replace(/(\d+)/, (match, p1) => `${p1}${daySuffix(day)}`);
            };

            var showAddFiles = '';
                    if(user._id.toString() === userReq._id.toString( ) && (leave.status!=='approved' || leave.status!=='denied')){
                        showAddFiles = '';
                    }else{
                        showAddFiles = 'd-none';
                    }
          %>

          <div class="mb-0">
            <div class="card mb-3">
              <div class="card-body">
                <% const modalFiles = files.filter((file) => file.uuid === leave.fileId); %>
                <% const lastIndexFile = modalFiles.length - 1; var borderModalFile = ''; %>
                <% if(modalFiles && modalFiles.length > 0){ %>
                <% modalFiles.forEach((file, index) => { %>

                <% 
                    if(index === lastIndexFile){
                        borderModalFile = 'border-bottom';
                    } else {
                        borderModalFile = '';
                    }
                %>

                <% if(file.type === '.png' || file.type === '.webp' || file.type === '.jpg' || file.type === '.jpeg' || file.type === '.gif' ){ %>
                <div class="px-0 pt-0 pb-3">
                  <div class="me-n3">
                    <div class="d-flex flex-between-center">
                      <div class="d-flex mb-1"><span class="fa-solid fa-image me-2 text-body-tertiary fs-9"></span>
                        <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                      </div>
                      <div class="btn-reveal-trigger">
                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item text-danger" href="/files/delete/<%= file._id %>">Delete</a><a class="dropdown-item" href="/files/download/<%= file._id %>">Download</a><a class="dropdown-item d-none" href="#!">Report abuse</a></div>
                      </div>
                    </div>
                    <div class="d-flex fs-9 text-body-tertiary mb-2 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= file.user %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div><img class="rounded-2" src="<%= file.path %>" alt="" style="max-width:230px" />
                  </div>
                </div>

                <% }else { %>

                <div class="px-0 pt-4 pb-3">
                  <div class="me-n3">
                    <div class="d-flex flex-between-center">
                      <div>
                        <div class="d-flex align-items-center mb-1"><span class="fa-solid fa-image me-2 fs-9 text-body-tertiary"></span>
                          <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                        </div>
                        <div class="d-flex fs-9 text-body-tertiary mb-0 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= file.user %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div>
                      </div>
                      <div class="btn-reveal-trigger">
                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item d-none" href="#!">Edit</a><a class="dropdown-item text-danger" href="/files/delete/<%= file._id %>">Delete</a><a class="dropdown-item" href="/files/download/<%= file._id %>">Download</a><a class="dropdown-item d-none" href="#!">Report abuse</a></div>
                      </div>
                    </div>
                  </div>
                </div>

                <% } %>
                <% }); %>
                <% }else { %>
                <p class="fs-9">There is no file attached</p>
                <% } %>
              </div>
            </div>

            <div>
              <a class="fw-bold fs-9 <%= showAddFiles %>" href="#!" data-bs-target="#leave-file" data-bs-toggle="modal"><span class="fas fa-plus me-1"></span>Add file(s)</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="timeline-vertical">
      <% if (approvals && approvals.length > 0) { %>
      <% const length = approvals.length %>
      <% approvals.forEach((approval, index) => { %>

      <% 
      var date = '';
      var time = '';
      var icon = '';
      var colour = '';
      var border = '';
      var display = ''

      if(approval.timestamp !== null){
        date = new Date(approval.timestamp).toLocaleDateString('en-UK', { 
          year: 'numeric', 
          month: 'long', 
          day: 'numeric', 
          timeZone: 'Asia/Kuala_Lumpur' 
        });

        time = new Date(approval.timestamp).toLocaleTimeString('en-UK', {
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
            timeZone: 'Asia/Kuala_Lumpur'
        });
      }else{
        date = 'Estimated';
        time = new Date(approval.estimated).toLocaleDateString('en-UK', { 
          year: 'numeric', 
          month: 'long', 
          day: 'numeric', 
          timeZone: 'Asia/Kuala_Lumpur' 
        });

       }

        if(approval.status === 'submitted' || approval.status === 'approved'){
            colour = 'success';
            border = 'success';
            icon = 'fa-solid fa-check';
        }else if( approval.status === 'denied'){
            colour = 'danger';
            border = 'danger';
            icon = 'fa-solid fa-xmark';
        }else if(approval.status === 'pending'){
            colour = 'warning';
            border = 'dashed';
            icon = 'fa-regular fa-hourglass-half';
        }

        if(length === index + 1){
            display = 'd-none'
        } else {
            display = '';
        }
      %>
      <div class="timeline-item">
        <div class="row g-md-3 align-items-center mb-3 mb-lg-10">
          <div class="col-12 col-md-auto d-flex">
            <div class="timeline-item-date text-end order-1 order-md-0 me-md-4 mt-md-0 mt-1">
              <p class="fs-10 fw-semibold text-body-tertiary mb-0"><%= date %><br class="d-none d-md-block"> <%= time %></p>
            </div>
            <div class="timeline-item-bar position-relative me-3 me-md-0 mb-md-0 mb-md-3 mb-3">
              <div class="icon-item icon-item-sm bg-<%= colour %>" data-bs-theme="light"><span class="<%= icon %> text-white fs-10"></span></div><span class="timeline-bar border-end border-<%= border %> <%= display %>"></span>
            </div>
          </div>
          <div class="col">
            <div class="timeline-item-content ps-6 ps-md-3">
              <h4><%= approval.role %></h4>
              <p class="fs-9 text-body-secondary mb-0"><%= approval.comment %></p>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
      <% } else { %>
      <p>No approvals available</p>
      <% } %>
    </div>
  </div>

</div>

<div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-7 pb-3 border-y row g-3 d-none" style="height: 35vh;">
  <div class="mb-0">

  </div>
</div>

<!-- leave file -->
<div class="modal fade" id="leave-file" aria-hidden="true" aria-labelledby="leavefile" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content px-2 py-3">
      <div class="modal-body">
        <form class="dropzone dropzone-multiple p-3 mb-4 bg-subtle" id="dropzone-leave-details" data-dropzone="data-dropzone" action="/files/upload" data-options='{"url":"/files/upload","paramName": "file"}'>
          <div class="dz-message" data-dz-message="data-dz-message">
            <img class="me-2" src="../../../assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your files here
          </div>
          <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
            <div class="d-flex mb-3 pb-3 border-bottom media">
              <div class="border border-300 p-1 rounded-2 me-2">
                <img class="rounded-2 dz-image" src="../../../assets/img/icons/file.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
              </div>
              <div class="flex-1 d-flex flex-between-center">
                <div>
                  <h6 data-dz-name="data-dz-name"></h6>
                  <div class="d-flex align-items-center">
                    <p class="mb-0 fs-9 text-400 lh-1" data-dz-size="data-dz-size"></p>
                    <div class="dz-progress ms-n1" style="margin-top: 0.1rem;">
                      <span class="dz-upload" data-dz-uploadprogress=""></span>
                    </div>
                  </div>
                  <span class="fs-9 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
                </div>
                <div class="dropdown font-sans-serif">
                  <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end border py-2">
                    <a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input class="d-none" type="text" name="origin" value="leave">
          <input class="d-none" type="text" name="uuid" value="<%= leave.fileId %>">

        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button class="btn btn-phoenix-primary" type="button" data-bs-target="#addTask" data-bs-toggle="modal">Back</button>
        <button class="btn btn-primary loading-button" type="submit" id="uploadFiles-leave-details">
          <div class="content-button">
            <span><i class="fa fa-upload me-2" aria-hidden="true"></i>Upload</span>
          </div>
        </button>
      </div>

      <script>
        // upload files
        $(document).ready(function() {
          // Function to show the toast
          function showDropzoneFilesToast(content) {
            $('#dropzoneAlertContent').text(content);

            var toast = new bootstrap.Toast(
              document.getElementById('alertUploadToast')
            );
            toast.show();
          }

          var myDropzone = Dropzone.forElement('#dropzone-leave-details');

          $('#uploadFiles-leave-details').on('click', function() {
            setTimeout(function() {
              // files upload process queue

              if (myDropzone.getQueuedFiles().length > 0) {
                // If files are present, show the toast with appropriate content
                showDropzoneFilesToast('Files has been uploaded');
                // Process the Dropzone queue
                myDropzone.processQueue();

                $('#leave-file').modal('hide');

                setTimeout(function() {
                  window.location.href = '/leave/history';
                }, 2000);

              } else {
                // If no files are present, show the toast with different content
                showDropzoneFilesToast('No files selected');
              }

              button.prop('type', 'submit');
            }, 1000);
          });
        });
      </script>

    </div>
  </div>
</div>

<!-- alert toast upload -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast align-items-center text-white border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" id="alertUploadToast">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code id="dropzoneAlertContent" class="text-primary"></code>
        </div>

        <button class="btn ms-2 p-0" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-7"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- leave approval -->
<div class="modal fade" id="leaveApproval" tabindex="-1" aria-labelledby="leaveApproval" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-6" id="leaveApproval">Leave Approval</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<%- include('partials/private-footer.ejs') %>