<%- include('partials/private-header.ejs') %>

<!-- function for EJS -->
<% 
function formatDate(inputDate) {
  const day = String(inputDate.getDate()).padStart(2, '0');
  const month = String(inputDate.getMonth() + 1).padStart(2, '0');
  const year = inputDate.getFullYear();

  return `${day}/${month}/${year}`;
}
%>

<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Leave</a></li>
    <li class="breadcrumb-item active" aria-current="page">History</li>
    <li class="breadcrumb-item active" aria-current="page"><%= user.fullname %></li>
  </ol>
</nav>

<div class="row align-items-center justify-content-between g-3 mb-4">
  <div class="col-auto">
    <h2 class="mb-0">Leave History</h2>
  </div>
  <div class="col-auto">
    <div class="row g-2 g-sm-3 d-lg-flex">
      <div class="col-12 col-lg-auto">
        <a class="btn btn-phoenix-primary" role="button" href="/leave/request">Request Leave</a>
      </div>
      <div class="col-12 col-lg-auto">
        <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
        <ul class="dropdown-menu dropdown-menu-end p-0" style="z-index: 9999;">
          <li><a class="dropdown-item" href="#!">Print</a></li>
          <li><a class="dropdown-item" href="#!">Report</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-12 col-lg-9 order-1 order-xxl-0">

    <!-- current leaves -->
    <div class="min-vh-50 mb-6 p-4">
      <div id="leaveHistory" data-list='{"valueNames":["type","startdate","returndate","status"],"page":6,"pagination":true}'>
        <div class="row g-3 justify-content-between align-items-end mb-4">
          <div class="col-auto">
            <h3>History</h3>
            <p class="text-body-tertiary lh-sm mb-0">Absences recorded, time away documented.</p>
          </div>
          <div class="col-12 col-sm-auto">
            <div class="d-flex align-items-center">
              <div class="search-box me-0">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                  <input class="form-control search-input search" type="search" placeholder="Search" aria-label="Search" />
                  <span class="fas fa-search search-box-icon"></span>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive scrollbar">
          <table class="table fs-9 mb-0 border-top border-200">
            <thead>
              <tr>
                <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="type" style="width: 15%">
                  TYPE
                </th>
                <th class="sort align-middle ps-3" scope="col" data-sort="startdate" style="width: 15%">
                  START DATE
                </th>
                <th class="sort align-middle ps-3" scope="col" data-sort="returndate" style="width: 15%">
                  RETURN DATE
                </th>
                <th class="sort align-middle text-end" scope="col" data-sort="status" style="width: 10%">
                  STATUS
                </th>
                <th class="sort align-middle text-end" scope="col" style="width: 10%"></th>
              </tr>
            </thead>

            <% 
              function formatDate(inputDate) {
                const day = String(inputDate.getDate()).padStart(2, '0');
                const month = String(inputDate.getMonth() + 1).padStart(2, '0');
                const year = inputDate.getFullYear();
              
                return `${day}/${month}/${year}`;
              }
              %>

            <!-- table content -->
            <tbody class="list" id="project-list-table-body">
              <% if (leave && Array.isArray(leave)) { %>
              <!-- table item -->
              <% leave.forEach(function(leaves) { %>
              <tr class="position-static">
                <td class="align-middle time white-space-nowrap ps-0 type py-4">
                  <a class="fw-bold fs-8" href="/leave/details/<%= leaves._id %>"><%= leaves.type %></a>
                </td>
                <td class="align-middle white-space-nowrap startdate ps-3 py-4">
                  <p class="mb-0 fs-8 text-900"><%= formatDate(leaves.date.start) %></p>
                </td>
                <td class="align-middle white-space-nowrap returndate ps-3 py-4">
                  <p class="mb-0 fs-8 text-900"><%= formatDate(leaves.date.return) %></p>
                </td>
                <td class="align-middle white-space-nowrap text-end status">
                  <span class="badge badge-phoenix fs-10 badge-phoenix-success"><%= leaves.status %></span>
                </td>
                <td class="align-middle text-end white-space-nowrap pe-0 action">
                  <div class="font-sans-serif btn-reveal-trigger position-static">
                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                      <span class="fas fa-ellipsis-h fs-9"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end py-2">
                      <a class="dropdown-item" href="/leave/details/<%= leaves.uuid %>">View</a>
                    </div>
                  </div>
                </td>
              </tr>
              <%  }); %> <% } else { %>
              <tr>
                <td colspan="7">No leaves submitted.</td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
          <div class="d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p>
            <a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
          </div>
          <div class="d-flex">
            <button class="page-link" data-list-pagination="prev">
              <span class="fas fa-chevron-left"></span>
            </button>
            <ul class="mb-0 pagination"></ul>
            <button class="page-link pe-0" data-list-pagination="next">
              <span class="fas fa-chevron-right"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3 mb-6 order-0 order-xxl-1">

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="mb-3">Leave Balances</h5>

        <div class="mx-auto mt-n5" id="leave-type-chart-carousel" style="height:300px; width: 250px;"></div>

        <script>
          // take the root of the colour from css for echarts
          const style = getComputedStyle(document.body);
          const theme = {
            primary: style.getPropertyValue('--phoenix-primary'),
            secondary: style.getPropertyValue('--phoenix-secondary'),
            success: style.getPropertyValue('--phoenix-success'),
            info: style.getPropertyValue('--phoenix-info'),
            warning: style.getPropertyValue('--phoenix-warning'),
            danger: style.getPropertyValue('--phoenix-danger'),
            bg_primary_subtle: style.getPropertyValue('--phoenix-primary-bg-subtle'),
            tertiary: style.getPropertyPriority('--phoenix-tertiary-color'),
            light: style.getPropertyValue('--phoenix-light'),
            dark: style.getPropertyValue('--phoenix-dark')
          };

          //   take css class color based on their property color/bg-colour for echarts
          function getColor(className, property) {
            var element = document.createElement('div');
            element.className = className;
            document.body.appendChild(element);

            var computedStyle = window.getComputedStyle(element);
            var color = computedStyle.getPropertyValue(property);

            document.body.removeChild(element);

            return color;
          }
        </script>

        <script>
          const leaveTypeURL = '/api/echarts/leaveType/<%= user._id %>';

          fetch(leaveTypeURL)
            .then(response => response.json())
            .then(fetchLeaveTypeData => {
              updateLeaveTypeChart(fetchLeaveTypeData, 'leave-type-chart-carousel');
            })
            .catch(error => {
              console.error('Error fetching user leave data:', error);
            });

          function updateLeaveTypeChart(fetchLeaveTypeData, echartsId) {

            var leaveTypeData = {
              labels: ['Annual Leave Balance', 'Sick Leave Balance', 'Emergency Leave Taken', 'Special Leave Taken', 'Unpaid Leave Taken'],
              data: [
                fetchLeaveTypeData.annual.leave - fetchLeaveTypeData.annual.taken,
                fetchLeaveTypeData.sick.leave - fetchLeaveTypeData.sick.taken,
                fetchLeaveTypeData.emergency.taken,
                fetchLeaveTypeData.paternity.taken + fetchLeaveTypeData.marriage.taken + fetchLeaveTypeData.bereavement.taken + fetchLeaveTypeData.study.taken + fetchLeaveTypeData.hajj.taken + fetchLeaveTypeData.special.taken,
                fetchLeaveTypeData.unpaid.taken,
                fetchLeaveTypeData.special.taken,
              ],
            };

            // Initialize ECharts instance
            var leaveTypeChart = echarts.init(document.getElementById(echartsId), null, {
              devicePixelRatio: window.devicePixelRatio > 1 ? 2 : 1,
              renderer: 'canvas',
              width: 'auto',
              height: 'auto'
            });

            var option = {
              color: [getColor('bg-info-light', 'background-color'), getColor('bg-warning-light', 'background-color'), getColor('bg-danger-light', 'background-color'), getColor('bg-success-light', 'background-color'), getColor('bg-primary', 'background-color')],
              series: [{
                name: 'Tasks assigned to me',
                type: 'pie',
                radius: ['70%', '85%'],
                startAngle: 30,
                avoidLabelOverlap: false,
                label: {
                  show: false,
                  position: 'center',
                  formatter: '{x|{c} } \n {y|{b}}',
                  rich: {
                    x: {
                      fontSize: 31.25,
                      fontWeight: 800,
                      color: '#3874ff',
                      padding: [0, 0, 5, 15]
                    },
                    y: {
                      fontSize: 12,
                      color: '#3874ff',
                      fontWeight: 600
                    }
                  }
                },
                emphasis: {
                  label: {
                    show: true
                  }
                },
                labelLine: {
                  show: false
                },
                data: leaveTypeData.labels.map((label, index) => ({
                  value: leaveTypeData.data[index],
                  name: label,
                  emphasis: index === 0 ? {
                    label: {
                      show: true,
                    },
                  } : {},
                })),
              }, ],
              grid: {
                bottom: 0,
                top: 0,
                left: 0,
                right: 0,
                containLabel: false
              },
            };

            leaveTypeChart.setOption(option);

            window.addEventListener('resize', function() {
              leaveTypeChart.resize();
            });

          }
        </script>

        <% 
           const annual = ((userLeave.annual.leave - userLeave.annual.taken)/ userLeave.annual.leave) * 100;
           const sick = ((userLeave.sick.leave - userLeave.sick.taken)/ userLeave.sick.leave) * 100;
           const emergency = ((userLeave.emergency.taken)/ 7) * 100;
           const marriage = (userLeave.marriage.taken/1) * 100;
           const paternity = (userLeave.paternity.taken/3) * 100;
           const study = (userLeave.study.taken/3) * 100;
           const bereavement = (userLeave.bereavement.taken/3) * 100;
           const hajj = (userLeave.hajj.taken/1) * 100;
           const unpaid = (userLeave.unpaid.taken/10) * 100;
          %>

        <div class="align-items-center justify-content-between d-flex mb-0">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-info-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Annual Leave Balance</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= annual %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>
            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(-10%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.annual.leave - userLeave.annual.taken %></span>
          </div>

        </div>

        <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-warning-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Sick Leave Balance</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= sick %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>

            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(-10%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.sick.leave - userLeave.sick.taken %></span>
          </div>

        </div>

        <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-danger-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Emergency Leave Taken</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= emergency %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>
            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.emergency.taken %></span>
          </div>

        </div>

        <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-success-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Marriage Leave Taken</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= marriage %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>
            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.marriage.taken %></span>
          </div>

        </div>

        <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-success-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Paternity Leave Taken</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= paternity %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>
            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.paternity.taken %></span>
          </div>

        </div>

        <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-success-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Study Leave Taken</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= study %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>
            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.study.taken %></span>
          </div>

        </div>

        <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-success-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Hajj Leave Taken</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= hajj %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>
            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.hajj.taken %></span>
          </div>

        </div>

        <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-success-light bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Bereavement Leave Taken</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= bereavement %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>
            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.bereavement.taken %></span>
          </div>

        </div>

        <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

          <div class="d-flex align-items-center mb-1">
            <span class="d-inline-block bg-primary bullet-item me-2"></span>
            <p class="mb-0 fw-semibold text-body lh-sm flex-1">Unpaid Leave Taken</p>
          </div>

          <div style="position: relative;">
            <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= unpaid %>">
              <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
              </svg>
            </div>
            <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.unpaid.taken %></span>
          </div>

        </div>

      </div>
    </div>

  </div>

</div>
<%- include('partials/private-footer.ejs') %>