<%- include('partials/private-header.ejs') %>

<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Leave</a></li>
    <li class="breadcrumb-item active" aria-current="page">Request</li>
  </ol>
</nav>

<div class="row align-items-center justify-content-between g-3 mb-4">
  <div class="col-auto">
    <h2 class="mb-0">Leave Request</h2>
  </div>
  <div class="col-auto">
    <div class="row g-2 g-sm-3">
      <div class="col-auto">
        <a class="btn btn-phoenix-primary" role="button" href="/leave/history">Check History</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-9 order-1 order-xxl-0">

    <div class="border p-3 mb-3 rounded-3">
      <form class="dropzone dropzone-multiple p-3 mb-4 bg-subtle" id="dropzone" data-dropzone="data-dropzone" action="/files/upload" data-options='{"url":"/files/upload","paramName": "file"}'>
        <div class="dz-message" data-dz-message="data-dz-message">
          <img class="me-2" src="../../../assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your files here
        </div>
        <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
          <div class="d-flex mb-3 pb-3 border-bottom media">
            <div class="border border-300 p-1 rounded-2 me-2">
              <img class="rounded-2 dz-image" src="../../../assets/img/icons/file.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
            </div>
            <div class="flex-1 d-flex flex-between-center">
              <div>
                <h6 data-dz-name="data-dz-name"></h6>
                <div class="d-flex align-items-center">
                  <p class="mb-0 fs-9 text-400 lh-1" data-dz-size="data-dz-size"></p>
                  <div class="dz-progress ms-n1" style="margin-top: 0.1rem;">
                    <span class="dz-upload" data-dz-uploadprogress=""></span>
                  </div>
                </div>
                <span class="fs-9 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
              </div>
              <div class="dropdown font-sans-serif">
                <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="fas fa-ellipsis-h"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-end border py-2">
                  <a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <input class="d-none" type="text" name="uuid" value="<%= uuid %>">
      </form>
    </div>

    <div class="mb-6">
      <div class="row g-3 justify-content-end">
        <div class="col-auto">
          <button class="btn btn-phoenix-primary loading-button" type="submit" id="uploadFiles">
            <div class="content-button">
              <span><i class="fa fa-upload me-2" aria-hidden="true"></i>Upload Files</span>
            </div>
          </button>
        </div>
      </div>
    </div>

    <!-- leave form -->
    <form class="row g-3 mb-6 has-validation" action="/leave/request/<%= uuid %>" method="post">

      <% 
        if(type === ''){
            type = 'Select leave type';
        }
      %>
      <div class="col-sm-6 col-md-12">
        <div class="form-floating">
          <select class="form-select <%= validationType %>" id="floatingSelectTask" name="type">
            <option selected="selected" value="<%= type %>"><%= type %></option>
            <option value="Annual Leave">Annual Leave</option>
            <option value="Sick Leave">Sick Leave</option>
            <option value="Emergency Leave">Emergency Leave</option>
            <option value="Marriage Leave">Marriage Leave</option>
            <option value="Bereavement Leave">Bereavement Leave</option>
            <option value="Study Leave">Study Leave</option>
            <option value="Paternity Leave">Paternity Leave</option>
            <option value="Unpaid Leave">Unpaid Leave</option>
            <option value="Hajj Leave">Hajj Leave</option>
            <option value="Special Leave">Special Leave</option>
          </select>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please select a leave type.
          </div>
          <label for="floatingSelectTask">Leave Type</label>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 d-none">
        <div class="form-floating">
          <input class="form-control" id="floatingInputGrid" type="hidden" name="username" placeholder="" value="<%= user.username %>" disabled />
          <label for="floatingInputGrid">Username</label>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="fa-regular fa-calendar-xmark"></i></span>
          <div class="form-floating <%= validationStartDate %>">
            <input type="text" class="form-control <%= validationStartDate %> datetimepicker flatpickr-input" id="floatingInputStartDate" placeholder="" name="startDate" value="<%= startDate %>" data-options='{"disableMobile":true,"allowInput":true}'>
            <label for="floatingInputStartDate">Start date</label>
          </div>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please select a start date.
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6">
        <div class="input-group has-validation">
          <span class="input-group-text"><i class="fa-regular fa-calendar-check"></i></span>
          <div class="form-floating <%= validationReturnDate %>">
            <input type="text" class="form-control <%= validationReturnDate %> datetimepicker flatpickr-input" id="floatingInputReturnDate" placeholder="" name="returnDate" value="<%= returnDate %>" data-options='{"disableMobile":true,"allowInput":true}'>
            <label for="floatingInputReturnDate">Return date</label>
          </div>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please select a start date.
          </div>
        </div>
      </div>

      <div class="col-12 gy-6">
        <div class="form-floating">
          <textarea class="form-control <%= validationPurpose %> scrollbar" id="floatingProjectOverview" name="purpose" placeholder="State your purpose here" style="height: 125px"><%= purpose %></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please state the purpose of leave.
          </div>
          <label for="floatingProjectOverview">Purpose of leave</label>
        </div>
      </div>

      <div class="col-12 gy-6">
        <div class="row g-3 justify-content-end">
          <div class="col-auto">
            <a role="button" class="btn btn-phoenix-secondary" href="/files/delete/cancel/<%= uuid %>">Cancel</a>
          </div>
          <div class="col-auto">
            <button class="btn btn-primary w-100 mb-3 loading-button" type="submit" name="submit">
              <div class="content-button">Submit Leave</div>
            </button>
          </div>
        </div>
      </div>

    </form>

  </div>

  <div class="col-12 col-lg-3 mb-2 mb-lg-6 order-0 order-xxl-1">

    <div class="mb-5">

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="mb-3">Leave Balances</h5>

          <div class="mx-auto mt-n5" id="leave-type-chart-carousel" style="height:300px; width: 250px;"></div>

          <script>
            // take the root of the colour from css for echarts
            const style = getComputedStyle(document.body);
            const theme = {
              primary: style.getPropertyValue('--phoenix-primary'),
              secondary: style.getPropertyValue('--phoenix-secondary'),
              success: style.getPropertyValue('--phoenix-success'),
              info: style.getPropertyValue('--phoenix-info'),
              warning: style.getPropertyValue('--phoenix-warning'),
              danger: style.getPropertyValue('--phoenix-danger'),
              bg_primary_subtle: style.getPropertyValue('--phoenix-primary-bg-subtle'),
              tertiary: style.getPropertyPriority('--phoenix-tertiary-color'),
              light: style.getPropertyValue('--phoenix-light'),
              dark: style.getPropertyValue('--phoenix-dark')
            };

            //   take css class color based on their property color/bg-colour for echarts
            function getColor(className, property) {
              var element = document.createElement('div');
              element.className = className;
              document.body.appendChild(element);

              var computedStyle = window.getComputedStyle(element);
              var color = computedStyle.getPropertyValue(property);

              document.body.removeChild(element);

              return color;
            }
          </script>

          <script>
            const leaveTypeURL = '/api/echarts/leaveType/<%= user._id %>';

            fetch(leaveTypeURL)
              .then(response => response.json())
              .then(fetchLeaveTypeData => {
                updateLeaveTypeChart(fetchLeaveTypeData, 'leave-type-chart-carousel');
              })
              .catch(error => {
                console.error('Error fetching user leave data:', error);
              });

            function updateLeaveTypeChart(fetchLeaveTypeData, echartsId) {

              var leaveTypeData = {
                labels: ['Annual Leave Balance', 'Sick Leave Balance', 'Emergency Leave Taken', 'Special Leave Taken', 'Unpaid Leave Taken'],
                data: [
                  fetchLeaveTypeData.annual.leave - fetchLeaveTypeData.annual.taken,
                  fetchLeaveTypeData.sick.leave - fetchLeaveTypeData.sick.taken,
                  fetchLeaveTypeData.emergency.taken,
                  fetchLeaveTypeData.paternity.taken + fetchLeaveTypeData.marriage.taken + fetchLeaveTypeData.bereavement.taken + fetchLeaveTypeData.study.taken + fetchLeaveTypeData.hajj.taken + fetchLeaveTypeData.special.taken,
                  fetchLeaveTypeData.unpaid.taken,
                  fetchLeaveTypeData.special.taken,
                ],
              };

              // Initialize ECharts instance
              var leaveTypeChart = echarts.init(document.getElementById(echartsId), null, {
                devicePixelRatio: window.devicePixelRatio > 1 ? 2 : 1,
                renderer: 'canvas',
                width: 'auto',
                height: 'auto'
              });

              var option = {
                color: [getColor('bg-info-light', 'background-color'), getColor('bg-warning-light', 'background-color'), getColor('bg-danger-light', 'background-color'), getColor('bg-success-light', 'background-color'), getColor('bg-primary', 'background-color')],
                series: [{
                  name: 'Tasks assigned to me',
                  type: 'pie',
                  radius: ['70%', '85%'],
                  startAngle: 30,
                  avoidLabelOverlap: false,
                  label: {
                    show: false,
                    position: 'center',
                    formatter: '{x|{c} } \n {y|{b}}',
                    rich: {
                      x: {
                        fontSize: 31.25,
                        fontWeight: 800,
                        color: '#3874ff',
                        padding: [0, 0, 5, 15]
                      },
                      y: {
                        fontSize: 12,
                        color: '#3874ff',
                        fontWeight: 600
                      }
                    }
                  },
                  emphasis: {
                    label: {
                      show: true
                    }
                  },
                  labelLine: {
                    show: false
                  },
                  data: leaveTypeData.labels.map((label, index) => ({
                    value: leaveTypeData.data[index],
                    name: label,
                    emphasis: index === 0 ? {
                      label: {
                        show: true,
                      },
                    } : {},
                  })),
                }, ],
                grid: {
                  bottom: 0,
                  top: 0,
                  left: 0,
                  right: 0,
                  containLabel: false
                },
              };

              leaveTypeChart.setOption(option);

              window.addEventListener('resize', function() {
                leaveTypeChart.resize();
              });

            }
          </script>

          <% 
           const annual = ((userLeave.annual.leave - userLeave.annual.taken)/ userLeave.annual.leave) * 100;
           const sick = ((userLeave.sick.leave - userLeave.sick.taken)/ userLeave.sick.leave) * 100;
           const emergency = ((userLeave.emergency.taken)/ 7) * 100;
           const marriage = (userLeave.marriage.taken/1) * 100;
           const paternity = (userLeave.paternity.taken/3) * 100;
           const study = (userLeave.study.taken/3) * 100;
           const bereavement = (userLeave.bereavement.taken/3) * 100;
           const hajj = (userLeave.hajj.taken/1) * 100;
           const unpaid = (userLeave.unpaid.taken/10) * 100;
          %>

          <div class="align-items-center justify-content-between d-flex mb-0">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-info-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Annual Leave Balance</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= annual %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(-10%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.annual.leave - userLeave.annual.taken %></span>
            </div>

          </div>

          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-warning-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Sick Leave Balance</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= sick %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>

              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(-10%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.sick.leave - userLeave.sick.taken %></span>
            </div>

          </div>

          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-danger-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Emergency Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= emergency %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.emergency.taken %></span>
            </div>

          </div>

          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-success-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Marriage Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= marriage %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.marriage.taken %></span>
            </div>

          </div>

          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-success-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Paternity Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= paternity %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.paternity.taken %></span>
            </div>

          </div>

          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-success-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Study Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= study %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.study.taken %></span>
            </div>

          </div>

          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-success-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Hajj Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= hajj %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.hajj.taken %></span>
            </div>

          </div>

          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-success-light bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Bereavement Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= bereavement %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.bereavement.taken %></span>
            </div>

          </div>

          <div class="align-items-center justify-content-between d-flex mb-0 mt-n2">

            <div class="d-flex align-items-center mb-1">
              <span class="d-inline-block bg-primary bullet-item me-2"></span>
              <p class="mb-0 fw-semibold text-body lh-sm flex-1">Unpaid Leave Taken</p>
            </div>

            <div style="position: relative;">
              <div <% /* eslint-disable css-propertyvalueexpected */ %> style="--phoenix-circle-progress-bar:<%= unpaid %>">
                <svg class="circle-progress-svg" width="54" height="54" viewBox="0 0 170 170">
                  <circle class="progress-bar-rail" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke-width="12"></circle>
                  <circle class="progress-bar-top" cx="60" cy="60" r="54" fill="none" stroke-linecap="round" stroke="#3874ff" stroke-width="12"></circle>
                </svg>
              </div>
              <span class="position-absolute fs-8 fw-bold" style="top: 50%; left: 50%; transform: translate(30%, -25%); z-index: 1; font-size: 20px; color: #3874ff;"><%= userLeave.unpaid.taken %></span>
            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

</div>

<!-- toast alert submission -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast <%= show %> align-items-center text-white border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-primary"><%= alert %></code>
        </div>

        <button class="btn ms-2 p-0" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-7"></span>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- alert toast upload -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast align-items-center text-white border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" id="alertUploadToast">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code id="dropzoneAlertContent" class="text-primary"></code>
        </div>

        <button class="btn ms-2 p-0" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-7"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>