<%- include('partials/private-header.ejs') %>

<!-- function for EJS -->
<%
  function formatCustomDate(dateString) {
    const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    const date = new Date(dateString);

    if (isNaN(date.getTime())) {
      return 'Invalid date';
    }

    const month = months[date.getMonth()];
    const day = date.getDate();
    const year = date.getFullYear();

    let hours = date.getHours();
    const ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // Handle midnight (0:00)

    const minutes = String(date.getMinutes()).padStart(2, '0');

    return `${month} ${day}, ${year}, ${hours}:${minutes}${ampm}`;
  }

  var showApproval = 'd-none';
  if (approvals && approvals.length > 0) {
        const userApprovalExists = approvals.some(approval => approval.recipient.equals(user._id));
        const isUserLeaveOwner = user.username === leave.username;

        if (!isUserLeaveOwner && leave.status !== 'approved' && leave.status !== 'denied') {
            if (userApprovalExists) {
                const userApprovalIndex = approvals.findIndex(approval => approval.recipient.equals(user._id));
                if (userApprovalIndex > 0) {
                    const previousApprovalStatus = approvals[userApprovalIndex - 1].status;
                    if (previousApprovalStatus === 'approved' || previousApprovalStatus === 'submitted') {
                        showApproval = ''; // Show approval
                    }
                }
            }
        }
    }
%>

<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Leave</a></li>
    <li class="breadcrumb-item"><a href="#!">Details</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= leave._id %></li>
  </ol>
</nav>

<div class="row d-flex flex-wrap justify-content-between align-items-end mb-2">
  <div class="col-auto">
    <h2>Leave Request #<a href="/staff/details/<%= userReq._id %>"><%= userReq.fullname %></a></h2>
    <p class="text-body-secondary mb-0">Leave request on <br class="d-sm-none"><span class="ms-sm-1"><%= formatCustomDate(leave.timestamp) %></span></p>
  </div>

  <div class="col-auto <%= showApproval %>">
    <a class="btn btn-primary me-2" role="button" href="/leave/approved/<%= leave.uuid %>">Approve</a>
    <a class="btn btn-outline-danger me-2" role="button" href="/leave/denied/<%= leave.uuid %>">Deny</a>
  </div>
</div>

<div class="row gy-5 gx-5 mb-xxl-6 mb-3">

  <div class="col-12 col-lg-6">
    <div class="border rounded-3 overflow-hidden">
      <div class="p-3" style="min-height: 35vh;">

        <div class="row g-3 d-flex justify-content-between mb-3 p-3">
          <div class="col-auto">
            <h3><%= leave.type %></h3>
          </div>

          <div class="col-auto">
            <p class="badge badge-phoenix badge-phoenix-primary fs-9"><%= leave.status %></p>
          </div>
        </div>

        <div class="container mt-n5 px-4 py-4">

          <div class="mb-5">
            <h5><span class="fa-solid fa-calendar-days me-2"></span>Date requested ( <span class="fst-italic text-primary"><%= leaveDays %> days</span> )</h5>
            <hr>
            <p class="text-body-highlight"><%= leave.date.start.toLocaleDateString('en-US', { day: '2-digit', month: 'long', year: 'numeric', timeZone : 'Asia/Kuala_Lumpur' }) %> <span class="fw-normal fst-normal">until</span> <%= leave.date.return.toLocaleDateString('en-US', { day: '2-digit', month: 'long', year: 'numeric', timeZone : 'Asia/Kuala_Lumpur' }) %> </p>
          </div>

          <div class="mb-5">
            <h5><span class="fa-solid fa-pen-nib me-2"></span>Purpose of leave</h5>
            <hr>
            <p class="text-body-highlight"><%= leave.purpose %></p>
          </div>

          <%
            const formatDateFile = (date) => {
              const options = { day: 'numeric', month: 'short', hour: 'numeric', minute: 'numeric', hour12: true };
              const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date);
            
              // Add day suffix (st, nd, rd, or th)
              const day = date.getDate();
              const daySuffix = (day) => {
                if (day >= 11 && day <= 13) {
                  return 'th';
                }
                const lastDigit = day % 10;
                   switch (lastDigit) {
                  case 1: return 'st';
                  case 2: return 'nd';
                  case 3: return 'rd';
                  default: return 'th';
                }
              };
            
              return formattedDate.replace(/(\d+)/, (match, p1) => `${p1}${daySuffix(day)}`);
            };
          %>

          <div class="mb-0">
            <div class="card mb-3">
              <div class="card-body">
                <% const modalFiles = files.filter((file) => file.uuid === item.fileId); %>
                <% const lastIndexFile = modalFiles.length - 1; var borderModalFile = ''; %>
                <% if(modalFiles && modalFiles.length > 0){ %>
                <% modalFiles.forEach((file, index) => { %>

                <% 
                    if(index === lastIndexFile){
                        borderModalFile = 'border-bottom';
                    } else {
                        borderModalFile = '';
                    }
                  %>

                <% if(file.type === '.png' || file.type === '.webp' || file.type === '.jpg' || file.type === '.jpeg' || file.type === '.gif' ){ %>
                <div class="border-top <%= borderModalFile %> px-0 pt-4 pb-3">
                  <div class="me-n3">
                    <div class="d-flex flex-between-center">
                      <div class="d-flex mb-1"><span class="fa-solid fa-image me-2 text-body-tertiary fs-9"></span>
                        <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                      </div>
                      <div class="btn-reveal-trigger">
                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item text-danger" href="/files/delete/<%= file._id %>">Delete</a><a class="dropdown-item" href="/files/download/<%= file._id %>">Download</a><a class="dropdown-item d-none" href="#!">Report abuse</a></div>
                      </div>
                    </div>
                    <div class="d-flex fs-9 text-body-tertiary mb-2 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= file.user %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div><img class="rounded-2" src="<%= file.path %>" alt="" style="max-width:230px" />
                  </div>
                </div>

                <% }else { %>

                <div class="border-top <%= borderModalFile %> px-0 pt-4 pb-3">
                  <div class="me-n3">
                    <div class="d-flex flex-between-center">
                      <div>
                        <div class="d-flex align-items-center mb-1"><span class="fa-solid fa-image me-2 fs-9 text-body-tertiary"></span>
                          <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                        </div>
                        <div class="d-flex fs-9 text-body-tertiary mb-0 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= file.user %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div>
                      </div>
                      <div class="btn-reveal-trigger">
                        <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="/">Delete</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a></div>
                      </div>
                    </div>
                  </div>
                </div>

                <% } %>
                <% }); %>
                <% }else { %>
                <p class="fs-9">There is no file attached</p>
                <% } %>
              </div>
            </div>

            <div>
              <a class="fw-bold fs-9" href="#!" data-bs-target="#leave-file" data-bs-toggle="modal"><span class="fas fa-plus me-1"></span>Add file(s)</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="timeline-vertical">
      <% if (approvals && approvals.length > 0) { %>
      <% const length = approvals.length %>
      <% approvals.forEach((approval, index) => { %>

      <% 
      var date = '';
      var time = '';
      var icon = '';
      var colour = '';
      var border = '';
      var display = ''

      if(approval.estimated === null){
        date = new Date(approval.timestamp).toLocaleDateString('en-UK', { 
          year: 'numeric', 
          month: 'long', 
          day: 'numeric', 
          timeZone: 'Asia/Kuala_Lumpur' 
        });

        time = new Date(approval.timestamp).toLocaleTimeString('en-UK', {
            hour: 'numeric',
            minute: 'numeric',
            hour12: true,
            timeZone: 'Asia/Kuala_Lumpur'
        });
      }else{
        date = 'Estimated';
        time = new Date(approval.estimated).toLocaleDateString('en-UK', { 
          year: 'numeric', 
          month: 'long', 
          day: 'numeric', 
          timeZone: 'Asia/Kuala_Lumpur' 
        });

       }

        if(approval.status === 'submitted' || approval.status === 'approved'){
            colour = 'success';
            border = 'success';
            icon = 'fa-solid fa-check';
        }else if( approval.status === 'denied'){
            colour = 'danger';
            border = 'danger';
            icon = 'fa-solid fa-xmark';
        }else if(approval.status === 'pending'){
            colour = 'warning';
            border = 'dashed';
            icon = 'fa-regular fa-hourglass-half';
        }

        if(length === index + 1){
            display = 'd-none'
        } else {
            display = '';
        }
      %>
      <div class="timeline-item">
        <div class="row g-md-3 align-items-center mb-3 mb-lg-10">
          <div class="col-12 col-md-auto d-flex">
            <div class="timeline-item-date text-end order-1 order-md-0 me-md-4 mt-md-0 mt-1">
              <p class="fs-10 fw-semibold text-body-tertiary mb-0"><%= date %><br class="d-none d-md-block"> <%= time %></p>
            </div>
            <div class="timeline-item-bar position-relative me-3 me-md-0 mb-md-0 mb-md-3 mb-3">
              <div class="icon-item icon-item-sm bg-<%= colour %>" data-bs-theme="light"><span class="<%= icon %> text-white fs-10"></span></div><span class="timeline-bar border-end border-<%= border %> <%= display %>"></span>
            </div>
          </div>
          <div class="col">
            <div class="timeline-item-content ps-6 ps-md-3">
              <h4><%= approval.role %></h4>
              <p class="fs-9 text-body-secondary mb-0"><%= approval.comment %></p>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
      <% } else { %>
      <p>No approvals available</p>
      <% } %>
    </div>
  </div>

</div>

<div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis pt-7 pb-3 border-y row g-3 vh-50 d-none">

</div>

<!-- leave file -->
<div class="modal fade" id="leave-file" aria-hidden="true" aria-labelledby="leavefile" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content px-2 py-3">
      <div class="modal-body">
        <form class="dropzone dropzone-multiple p-3 mb-4 bg-subtle" id="dropzone" data-dropzone="data-dropzone" action="/files/upload" data-options='{"url":"/files/upload","paramName": "file"}'>
          <div class="dz-message" data-dz-message="data-dz-message">
            <img class="me-2" src="../../../assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your files here
          </div>
          <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
            <div class="d-flex mb-3 pb-3 border-bottom media">
              <div class="border border-300 p-1 rounded-2 me-2">
                <img class="rounded-2 dz-image" src="../../../assets/img/icons/file.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
              </div>
              <div class="flex-1 d-flex flex-between-center">
                <div>
                  <h6 data-dz-name="data-dz-name"></h6>
                  <div class="d-flex align-items-center">
                    <p class="mb-0 fs-9 text-400 lh-1" data-dz-size="data-dz-size"></p>
                    <div class="dz-progress ms-n1" style="margin-top: 0.1rem;">
                      <span class="dz-upload" data-dz-uploadprogress=""></span>
                    </div>
                  </div>
                  <span class="fs-9 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
                </div>
                <div class="dropdown font-sans-serif">
                  <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-ellipsis-h"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-end border py-2">
                    <a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <input class="d-none" type="text" name="uuid" value="<%= leave.uuid %>">

        </form>
      </div>
      <div class="modal-footer border-top-0">
        <button class="btn btn-phoenix-primary" type="button" data-bs-target="#addTask" data-bs-toggle="modal">Back</button>
        <button class="btn btn-primary loading-button" type="submit" id="uploadFiles">
          <div class="content-button">
            <span><i class="fa fa-upload me-2" aria-hidden="true"></i>Upload</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- leave approval -->
<div class="modal fade" id="leaveApproval" tabindex="-1" aria-labelledby="leaveApproval" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-6" id="leaveApproval">Leave Approval</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<%- include('partials/private-footer.ejs') %>