<%- include('partials/private-header.ejs') %>

<nav class="mb-2 d-none" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= user.username %></li>
  </ol>
</nav>
<div class="row align-items-center justify-content-between g-3 mb-4">
  <div class="col-auto">
    <h2 class="mb-0">Profile</h2>
  </div>
  <div class="col-auto">
    <div class="row g-2 g-sm-3">
      <div class="col-auto d-none">
        <button class="btn btn-phoenix-primary"><span class="fa-regular fa-envelope me-2"></span>Message</button>
      </div>
      <div class="col-auto">
        <a class="btn btn-phoenix-secondary" role="button" href="/settings"><span class="fa-solid fa-gears me-2"></span>Settings</a>
      </div>
    </div>
  </div>
</div>
<div class="row g-3 mb-6">
  <div class="col-12 col-lg-8">
    <div class="card h-100">
      <div class="card-body">
        <div class="border-bottom border-dashed pb-4">
          <div class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
            <div class="col-12 col-sm-auto">
              <label class="avatar avatar-5xl" for="avatarFile"> <% if(user.profile === '' ){ user.profile = '/assets/img/team/avatar.webp' ; } %>
                <img class="rounded-circle mb-2" id="preview-image" src="<%= user.profile %>" alt="" style="border: 1px solid #3874ff;" /></label>
            </div>
            <% 
            const timestamp = user.dateEmployed; // Replace with your timestamp variable
            const date = new Date(timestamp + 8 * 60 * 60 * 1000); // Adjust to Malaysian Standard Time (UTC+8)
            const options = { day: 'numeric', month: 'long', year: 'numeric' };
            const formattedDate = date.toLocaleDateString(date, options);
            %>
            <div class="col-12 col-sm-auto flex-1">
              <h3><%= user.fullname %></h3>
              <p class="text-body-secondary">Joined since, <%= formattedDate  %></p>
              <p class="text-primary fs-8 fst-italic">"<%= info.status %>"</p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-between-center pt-4">
          <div>
            <h6 class="mb-2 text-body-secondary">Grade</h6>
            <h4 class="fs-7 text-body-highlight mb-0"><%= user.grade %></h4>
          </div>
          <div>
            <h6 class="mb-2 text-body-secondary">Position</h6>
            <h4 class="fs-7 text-body-highlight mb-0"><%= user.position %></h4>
          </div>
          <div>
            <h6 class="mb-2 text-body-secondary">Work ID</h6>
            <h4 class="fs-7 text-body-highlight mb-0"><%= user.username %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="border-bottom border-dashed">
          <h4 class="mb-3">Details
            <button class="btn btn-link p-0 d-none" type="button"><span class="fas fa-edit fs-9 ms-3 text-body-quaternary"></span></button>
          </h4>
        </div>
        <div class="pt-4 mb-0">
          <div class="">
            <div class="">
              <h5 class="text-body-highlight">Department</h5>
            </div>
            <div class="">
              <p class="text-body-secondary"><%= user.department %></p>
            </div>
          </div>
          <div class="">
            <div class="">
              <h5 class="text-body-highlight">Section</h5>
            </div>
            <div class="">
              <p class="text-body-secondary"><%=  user.section %></p>
            </div>
          </div>
        </div>
        <div class="border-top border-dashed pt-4">
          <div class="row flex-between-center mb-2">
            <div class="col-auto">
              <h5 class="text-body-highlight mb-0">Email</h5>
            </div>
            <div class="col-auto"><a class="lh-1" href="mailto:<%= user.email %>"><%= user.email %></a></div>
          </div>
          <div class="row flex-between-center">
            <div class="col-auto">
              <h5 class="text-body-highlight mb-0">Office Number</h5>
            </div>
            <div class="col-auto"><a href="tel:+6<%= user.officePhone %>">+6<%= user.officePhone %></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-6">
  <div class="scrollbar">
    <ul class="nav nav-underline fs-9 flex-nowrap mb-3 pb-1" id="myTab" role="tablist">
      <li class="nav-item me-3"><a class="nav-link text-nowrap active" id="orders-tab" data-bs-toggle="tab" href="#tab-activity" role="tab" aria-controls="tab-orders" aria-selected="true"><span class="fa-solid fa-clock me-2"></span>Activity<span class="text-body-tertiary fw-normal"> (<%= activities.length %>)</span></a></li>
      <li class="nav-item me-3"><a class="nav-link text-nowrap" id="reviews-tab" data-bs-toggle="tab" href="#tab-leave" role="tab" aria-controls="tab-orders" aria-selected="true"><span class="fa-solid fa-calendar me-2"></span>Leave<span class="text-body-tertiary fw-normal"></span></a></li>
      <li class="nav-item me-3"><a class="nav-link text-nowrap" id="wishlist-tab" data-bs-toggle="tab" href="#tab-attendance" role="tab" aria-controls="tab-orders" aria-selected="true"><span class="fa-solid fa-clipboard-user me-2"></span>Attendances</a></li>
      <li class="nav-item me-3"><a class="nav-link text-nowrap" id="wishlist-tab" data-bs-toggle="tab" href="#tab-attachment" role="tab" aria-controls="tab-orders" aria-selected="true"><span class="fa-solid fa-clipboard me-2"></span>Attachments</a></li>
      <li class="nav-item me-3"><a class="nav-link text-nowrap" id="wishlist-tab" data-bs-toggle="tab" href="#tab-personal" role="tab" aria-controls="tab-orders" aria-selected="true"><span class="fa-solid fa-user me-2"></span>Personal</a></li>
    </ul>
  </div>

  <div class="tab-content" id="profileTabContent">

    <div class="tab-pane fade show active" id="tab-activity" role="tabpanel" aria-labelledby="activity-tab">
      <div class="border-bottom border-translucent mt-3" id="activities" data-list='{"valueNames":["title","type","description","date","time"],"page":5,"pagination":true}'>
        <div class="row align-items-end justify-content-between pb-4 g-3">

          <div class="col-12 col-md-auto">
            <div class="search-box">
              <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input search form-control-sm" type="search" placeholder="Search team members" aria-label="Search" />
                <span class="fas fa-search search-box-icon"></span>
              </form>
            </div>
          </div>

        </div>

        <div class="table-responsive ms-n1 ps-1 scrollbar">
          <table class="table fs-9 mb-0 border-top border-translucent">
            <thead>
              <tr>
                <th class="sort white-space-nowrap align-middle pe-3 ps-0 text-uppercase" scope="col" data-sort="title" style="width:25%;min-width: 125px;">Title</th>
                <th class="sort align-middle pe-6 text-uppercase text-start" scope="col" data-sort="description" style="width:35%;min-width: 250px; ">Description</th>
                <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="type" style="width:15%;min-width: 100px;">Type</th>
                <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="date" style="width:15%;min-width: 100px;">Date</th>
                <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="time" style="width:15%;min-width: 100px;">Time</th>
              </tr>
            </thead>

            <tbody class="list" id="activities-table-content">
              <% if(activities && activities.length > 0){ %>
              <% activities.forEach(item => { %>
              <tr class="position-static">
                <td class="title align-middle white-space-nowrap py-4 ps-0 fw-bold text-body-highlight fs-9"><%= item.title %></td>
                <td class="description align-middle text-start fw-semibold py-2 text-start text-body-highlight ps-2 fst-italic fs-9"><%= item.description%></td>
                <td class="type align-middle fw-semibold text-center py-2 ps-0 fs-9"><%= item.type %></td>
                <td class="date align-middle text-center py-2 ps-0 fs-9"><%= item.date.toLocaleDateString('en-UK', { day: '2-digit', month: 'short', year: 'numeric', timeZone : 'Asia/Kuala_Lumpur' }) %></td>
                <td class="time align-middle text-center py-2 ps-0 fs-9"><%= item.date.toLocaleTimeString('en-UK', { hour: '2-digit', minute: '2-digit', hour12: true, timeZone : 'Asia/Kuala_Lumpur' }) %></td>
              </tr>
              <% }); %>
              <% }else{ %>
              <tr>
                <td colspan="5" class="text-center fw-bold fs-9">No activity detected from <span class="fw-bold text-primary"><%= user.fullname %></span></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
          <div class="col-auto d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
          </div>
          <div class="col-auto d-flex">
            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="mb-0 pagination"></ul>
            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="tab-leave" role="tabpanel" aria-labelledby="leaves-tab">

      <div class="border-bottom-0 border-translucent mt-3" id="leaves" data-list='{"valueNames":["type","reliefstaff","startdate","returndate","status"],"page":5,"pagination":true}'>
        <div class="row align-items-end justify-content-between pb-4 g-3">

          <div class="col-12 col-md-auto">
            <div class="search-box">
              <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input search form-control-sm" type="search" placeholder="Search team members" aria-label="Search" />
                <span class="fas fa-search search-box-icon"></span>
              </form>
            </div>
          </div>

        </div>

        <div class="table-responsive ms-n1 ps-1 scrollbar">
          <table class="table fs-9 mb-0 border-top border-translucent">
            <thead>
              <tr>
                <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="type" style="width:15%;">
                  TYPE
                </th>
                <th class="sort align-middle ps-3" scope="col" data-sort="reliefstaff" style="width:15%;">
                  RELIEF STAFF
                </th>
                <th class="sort align-middle text-center ps-3" scope="col" data-sort="startdate" style="width:15%;">
                  START
                </th>
                <th class="sort align-middle text-center ps-3" scope="col" data-sort="returndate" style="width:15%;">
                  END
                </th>
                <th class="sort align-middle text-center" scope="col" data-sort="status" style="width:10%;">
                  STATUS
                </th>
                <th class="sort align-middle text-end" scope="col" style="width: 5%"></th>
              </tr>
            </thead>

            <% 
            function formatDate(inputDate) {
              const day = String(inputDate.getDate()).padStart(2, '0');
              const month = String(inputDate.getMonth() + 1).padStart(2, '0');
              const year = inputDate.getFullYear();
            
              return `${day}/${month}/${year}`;
            }
            %>

            <tbody class="list" id="project-summary-table-body">
              <% if (leave && leave.length>0) { %>
              <!-- table item -->
              <% leave.forEach(function(leaves) { %>

              <% 
                   var statusColor = '';
                   if (leaves.status == "pending"){
                    statusColor = 'info';
                   } else if(leaves.status == "approved" || leaves.status == "submitted") {
                       statusColor = 'success';
                   } else if(leaves.status == "denied" ||  leaves.status == "cancelled") {
                       statusColor = 'danger';
                   }else if (leaves.status == "invalid"){
                       statusColor = 'warning';
                   }   
              %>

              <tr class="position-static">
                <td class="align-middle time white-space-nowrap ps-0 type py-4">
                  <a class="fw-bold fs-9" href="/leave/details/<%= leaves._id %>"><%= leaves.type %></a>
                </td>
                <td class="align-middle text-body white-space-nowrap reliefstaff ps-3">
                  <%
                    let userReliefName;
                    let userLink;

                    if(leaves.assignee[0] === undefined){
                      userReliefName = '-';
                      userLink = '#';
                    }else{
                      const checkUserRelief = allUser.find(check => check._id.toString() === leaves.assignee[0].toString());
                      userReliefName = checkUserRelief.fullname;
                      userLink = '/staff/details/'+checkUserRelief._id;
                    }
                    
                  %>
                  <a class="mb-0 fs-9" href="<%= userLink %>"><%= userReliefName %></a>
                </td>
                <td class="align-middle white-space-nowrap startdate text-center ps-3 py-4">
                  <p class="mb-0 fs-9 text-body"><%= formatDate(leaves.date.start) %></p>
                </td>
                <td class="align-middle white-space-nowrap returndate text-center ps-3 py-4">
                  <p class="mb-0 fs-9 text-body"><%= formatDate(leaves.date.return) %></p>
                </td>
                <td class="align-middle white-space-nowrap text-center status">
                  <span class="badge badge-phoenix fs-10 badge-phoenix-<%= statusColor %>"><%= leaves.status %></span>
                </td>
                <td class="align-middle text-end white-space-nowrap pe-0 action">
                  <div class="font-sans-serif btn-reveal-trigger position-static">
                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                      <span class="fas fa-ellipsis-h fs-9"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end py-2">
                      <a class="dropdown-item" href="/leave/details/<%= leaves._id %>">View</a>
                    </div>
                  </div>
                </td>
              </tr>
              <%  }); %> <% } else { %>
              <tr>
                <td colspan="6" class="text-center fw-bold fs-9">No leave detected from <span class="fw-bold text-primary"><%= user.fullname %></span></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
          <div class="col-auto d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
          </div>
          <div class="col-auto d-flex">
            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="mb-0 pagination"></ul>
            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="tab-attendance" role="tabpanel" aria-labelledby="attendance-tab">
      <div class="border-bottom border-translucent mt-3" id="attendance" data-list='{"valueNames":["type","date","clockin","clockout","location", "remarks"],"page":5,"pagination":true}'>
        <div class="row align-items-end justify-content-between pb-4 g-3">

          <div class="col-12 col-md-auto">
            <div class="search-box">
              <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                <input class="form-control search-input search form-control-sm" type="search" placeholder="Search team members" aria-label="Search" />
                <span class="fas fa-search search-box-icon"></span>
              </form>
            </div>
          </div>

        </div>

        <div class="table-responsive ms-n1 ps-1 scrollbar">
          <table class="table fs-9 mb-0 border-top border-translucent">
            <thead>
              <tr>
                <th class="sort align-middle ps-0 text-start text-uppercase" scope="col" data-sort="date" style="width:15%;min-width: 150px;">Date</th>
                <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="type" style="width:15%;min-width: 100px;">Status</th>
                <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="clockin" style="width:10%;min-width: 100px;">Clock In</th>
                <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="clockout" style="width:10%;min-width: 100px;">Clock Out</th>
                <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="location" style="width:10%;min-width: 100px;">Location</th>
                <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="remarks" style="width:20%;min-width: 100px;">Remarks</th>
                <th class="sort align-middle ps-0 text-end text-uppercase" scope="col" style="width:5%;min-width: 50px;"></th>
              </tr>
            </thead>

            <tbody class="list" id="attendance-table-content">
              <% if(attendance && attendance.length > 0){ %>
              <% attendance.forEach((item, index) => { %>

              <% 
                
                let signOutTime;
                if(item.date.signOutTime === null){
                    signOutTime = 'Nil';
                } else{
                    signOutTime = item.date.signOutTime.toLocaleTimeString('en-MY', {hour: 'numeric',minute: 'numeric', hour12: true, timeZone : 'Asia/Kuala_Lumpur' });
                }
                
                let signInTime;
                if(item.date.signInTime === null){
                    signInTime = 'Nil';
                } else{
                    signInTime = item.date.signInTime.toLocaleTimeString('en-MY', { hour: 'numeric',minute: 'numeric', hour12: true, timeZone : 'Asia/Kuala_Lumpur' });
                }

                var badgeColour;
                if (item.status === 'Late' || item.status === 'Absent') {
                  badgeColour = 'danger';
                } else if (item.status === 'Leave' || item.status === 'Non Working Day' ) {
                  badgeColour = 'info';
                } else {
                  badgeColour = 'success';
                }
              %>
              <tr class="position-static">
                <td class="date align-middle fw-blod text-start text-body-highlight fst-italic fw-bold py-2 ps-0 fs-9"><%= item.timestamp.toLocaleDateString('en-MY', { day: '2-digit', month: 'long', year: 'numeric', timeZone : 'Asia/Kuala_Lumpur' }) %></td>
                <td class="type align-middle fw-semibold text-center py-2 ps-0 fs-9 fs-md-8 text-body-highlight"><span class="badge badge-phoenix fs-10 badge-phoenix-<%= badgeColour %>"><%= item.status %></span></td>
                <td class="clockin align-middle text-center py-2 ps-0 fs-9"><span class="badge badge-phoenix fs-10 badge-phoenix-success"><%= signInTime %></span></td>
                <td class="clockout align-middle text-center py-2 ps-0 fs-9"><span class="badge badge-phoenix fs-10 badge-phoenix-warning"><%= signOutTime %></span></td>
                <td class="location align-middle text-center py-2 ps-0 fs-9"><span class="badge badge-phoenix fs-10 badge-phoenix-success"><%= item.location.signIn || '' %></span> <span class="badge badge-phoenix fs-10 badge-phoenix-warning"><%= item.location.signOut || '' %></span></td>
                <td class="remarks align-middle fst-italic text-center py-2 ps-0 fs-9"><%= item.remarks || 'No remarks added.' %></td>
                <td class="align-middle text-end white-space-nowrap ps-0 action">
                  <div class="font-sans-serif btn-reveal-trigger position-static">
                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                      <span class="fas fa-ellipsis-h fs-9"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end py-2">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addRemark<%= index %>">Update Remarks</a>
                    </div>
                  </div>
                </td>
              </tr>

              <div class="modal fade" id="addRemark<%= index %>" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form action="/attendance/update/remarks/<%= item._id %>" method="post">
                      <div class="modal-body">
                        <label class="form-label" for="udpateDescription">Remarks</label>
                        <textarea class="form-control scrollbar-overlay" placeholder="Leave a attendance remark here" style="height: 100px" name="remarks"></textarea>
                      </div>
                      <div class="modal-footer border-top-0">
                        <button class="btn btn-primary loading-button" type="submit">
                          <div class="content-button">
                            <span>Update</span>
                          </div>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% }); %>
              <% }else{ %>
              <tr>
                <td colspan="6" class="text-center fw-bold fs-9">No attendance detected from <span class="fw-bold text-primary"><%= user.fullname %></span></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
          <div class="col-auto d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
          </div>
          <div class="col-auto d-flex">
            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="mb-0 pagination"></ul>
            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="tab-attachment" role="tabpanel" aria-labelledby="attachment-tab">

      <div class="mb-3 mt-3">
        <div class="overflow-x-hidden vh-50 scrollbar w-100">
          <%
              const formatDateFile = (date) => {
                const options = { day: 'numeric', month: 'short', hour: 'numeric', minute: 'numeric', hour12: true };
                const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date);
              
                // Add day suffix (st, nd, rd, or th)
                const day = date.getDate();
                const daySuffix = (day) => {
                  if (day >= 11 && day <= 13) {
                    return 'th';
                  }
                  const lastDigit = day % 10;
                  switch (lastDigit) {
                    case 1: return 'st';
                    case 2: return 'nd';
                    case 3: return 'rd';
                    default: return 'th';
                     }
                };
              
                return formattedDate.replace(/(\d+)/, (match, p1) => `${p1}${daySuffix(day)}`);
              };
            %>

          <% const modalFiles = files.filter((file) => file.user.toString() === user._id.toString() && file.origin !== 'leave'); %>
          <% const lastIndexFile = modalFiles.length - 1; var borderModalFile = ''; %>
          <% if(modalFiles && modalFiles.length > 0){ %>
          <% modalFiles.forEach((file, index) => { %>

          <% 
                  if(index === lastIndexFile){
                      borderModalFile = 'border-bottom';
                  } else {
                      borderModalFile = '';
                  }
                %>

          <% if(file.type === '.png' || file.type === '.webp' || file.type === '.jpg' || file.type === '.jpeg' || file.type === '.gif' ){ %>
          <div class="border-top <%= borderModalFile %> border-dashed px-0 pt-4 pb-3">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div class="d-flex mb-1"><span class="fa-solid fa-image me-2 text-body-tertiary fs-9"></span>
                  <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                </div>
                <div class="btn-reveal-trigger me-3">
                  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="/files/download/<%= file._id %>">Download</a><a class="dropdown-item" href="/files/delete/<%= file.id %>">Delete</a></div>
                </div>
              </div>
              <% const userFile = allUser.find(item => item._id.toString() === user._id.toString()); %>
              <div class="d-flex fs-9 text-body-tertiary mb-2 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= userFile.fullname %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div><img class="rounded-2" src="<%= file.path %>" alt="" style="max-width:230px" />
            </div>
          </div>

          <% }else { %>

          <div class="border-top <%= borderModalFile %> px-0 pt-4 pb-3">
            <div class="me-n3">
              <div class="d-flex flex-between-center">
                <div>
                  <div class="d-flex align-items-center mb-1"><span class="fa-solid fa-image me-2 fs-9 text-body-tertiary"></span>
                    <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                  </div>
                  <div class="d-flex fs-9 text-body-tertiary mb-0 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= file.user %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div>
                </div>
                <div class="btn-reveal-trigger me-3">
                  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="/">Delete</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a></div>
                </div>
              </div>
            </div>
          </div>

          <% } %>
          <% }); %>
          <% }else { %>
          <p class="white-space-nowrap text-emphasis text-center fs-9 fs-md-8 mt-3">There is no file uploaded yet</p>
          <% } %>


        </div>

      </div>
    </div>

    <div class="tab-pane fade" id="tab-personal" role="tabpanel" aria-labelledby="personal-tab">
      <div class="row g-3">

        <div class="col-12 col-md-8">
          <div class="card">
            <div class="card-body row g-3">

              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-id-card-clip"> </span>
                    <h5 class="text-body-highlight mb-0">NRIC</h5>
                  </div>
                  <p class="text-primary"><%= user.nric %></p>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-cake-candles"> </span>
                    <h5 class="text-body-highlight mb-0">Birthdate</h5>
                  </div>
                  <p class="text-primary"><%= user.birthdate %></p>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-baby-carriage"> </span>
                    <h5 class="text-body-highlight mb-0">Age</h5>
                  </div>
                  <p class="text-primary"><%= user.age %></p>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-ring"></span>
                    <h5 class="text-body-highlight mb-0">Marital Status</h5>
                  </div>
                  <p class="text-primary"><%= user.marital.charAt(0).toUpperCase() + user.marital.slice(1) %></p>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-address-card"></span>
                    <h5 class="text-body-highlight mb-0">Address</h5>
                  </div>
                  <p class="text-primary"><%= user.address %></p>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <% 
                var pastDate = new Date(user.dateEmployed);

                // Get today's date
                var today = new Date();

                // Calculate the difference in milliseconds
                var timeDifference = today.getTime() - pastDate.getTime();

                var years = Math.floor(timeDifference / (1000 * 60 * 60 * 24 * 365));
                var months = Math.floor((timeDifference % (1000 * 60 * 60 * 24 * 365)) / (1000 * 60 * 60 * 24 * 30.44)); // Assuming a month is 30.44 days on average
                var days = Math.floor((timeDifference % (1000 * 60 * 60 * 24 * 30.44)) / (1000 * 60 * 60 * 24));

                if (years < 1) {
                    years = 0;
                }

                var currentyears = "";
                var currentmonths = "";
                var currentdays = "";

                

                if(years === 0){
                    currentyears = "";
                }else{
                    currentyears = years + ' years';
                }

                if(months === 0){
                    currentmonths = "";
                }else{
                    currentmonths = months + ' months';
                }

                if(days === 0){
                    currentdays = "";
                }else{
                    currentdays = days + ' days';
                }
                %>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-user-check"> </span>
                    <h5 class="text-body-highlight mb-0">Work Duration</h5>
                  </div>
                  <p class="text-primary"><%= currentyears %> <%= currentmonths %> <%= currentdays %></p>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-magnifying-glass-arrow-right"></span>
                    <h5 class="text-body-highlight mb-0">Classification</h5>
                  </div>
                  <p class="text-primary"><%= user.classification.charAt(0).toUpperCase() + user.classification.slice(1) %></p>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-tty"> </span>
                    <h5 class="text-body-highlight mb-0">Office Number</h5>
                  </div>
                  <p class="text-primary"><%= user.phone %></p>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-children"></span>
                    <h5 class="text-body-highlight mb-0">Children</h5>
                  </div>
                  <p class="text-primary"><%= user.children %></p>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center mb-1"><span class="me-2 fa-solid fa-user-graduate"></span>
                    <h5 class="text-body-highlight mb-0">Education</h5>
                  </div>
                  <p class="text-primary"><%= user.education %></p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-12 col-md-4 d-none">
          <div class="card">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end of .container-->

<%- include('partials/private-footer.ejs') %>