<%- include('partials/private-header.ejs') %>

<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#!">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= user.username %></li>
  </ol>
</nav>
<div class="row align-items-center justify-content-between g-3 mb-4">
  <div class="col-auto">
    <h2 class="mb-0">Profile</h2>
  </div>
  <div class="col-auto">
    <div class="row g-2 g-sm-3">
      <div class="col-auto">
        <button class="btn btn-phoenix-primary"><span class="fa-regular fa-envelope me-2"></span>Message</button>
      </div>
      <div class="col-auto">
        <button class="btn btn-phoenix-secondary"><span class="fa-solid fa-gears me-2"></span>Settings</button>
      </div>
    </div>
  </div>
</div>
<div class="row g-3 mb-6">
  <div class="col-12 col-lg-8">
    <div class="card h-100">
      <div class="card-body">
        <div class="border-bottom border-dashed pb-4">
          <div class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
            <div class="col-12 col-sm-auto">
              <input class="d-none" id="avatarFile" type="file" />
              <label class="cursor-pointer avatar avatar-5xl" for="avatarFile"><img class="rounded-circle" src="/assets/img/team/avatar.webp" alt="" style="border: 1px solid #3874ff;" /></label>
            </div>
            <% 
            const timestamp = user.dateEmployed; // Replace with your timestamp variable
            const date = new Date(timestamp + 8 * 60 * 60 * 1000); // Adjust to Malaysian Standard Time (UTC+8)
            const options = { day: 'numeric', month: 'long', year: 'numeric' };
            const formattedDate = date.toLocaleDateString(undefined, options);
            %>
            <div class="col-12 col-sm-auto flex-1">
              <h3><%= user.fullname %></h3>
              <p class="text-body-secondary">Joined since, <%= formattedDate  %></p>
              <div><a class="me-2" href="#!"><span class="fab fa-linkedin-in text-body-quaternary text-opacity-75 text-primary-hover"></span></a><a class="me-2" href="#!"><span class="fab fa-facebook text-body-quaternary text-opacity-75 text-primary-hover"></span></a><a href="#!"><span class="fab fa-twitter text-body-quaternary text-opacity-75 text-primary-hover"></span></a></div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-between-center pt-4">
          <div>
            <h6 class="mb-2 text-body-secondary">Grade</h6>
            <h4 class="fs-7 text-body-highlight mb-0"><%= user.grade %></h4>
          </div>
          <div>
            <h6 class="mb-2 text-body-secondary">Position</h6>
            <h4 class="fs-7 text-body-highlight mb-0"><%= user.position %></h4>
          </div>
          <div>
            <h6 class="mb-2 text-body-secondary">Work ID</h6>
            <h4 class="fs-7 text-body-highlight mb-0"><%= user.username %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="border-bottom border-dashed">
          <h4 class="mb-3">Details
            <button class="btn btn-link p-0" type="button"> <span class="fas fa-edit fs-9 ms-3 text-body-quaternary"></span></button>
          </h4>
        </div>
        <div class="pt-4 mb-7 mb-lg-4 mb-xl-7">
          <div class="row justify-content-between">
            <div class="col-auto">
              <h5 class="text-body-highlight">Department</h5>
            </div>
            <div class="col-auto">
              <p class="text-body-secondary"><%= user.department %><br /><%=  user.section %></p>
            </div>
          </div>
        </div>
        <div class="border-top border-dashed pt-4">
          <div class="row flex-between-center mb-2">
            <div class="col-auto">
              <h5 class="text-body-highlight mb-0">Email</h5>
            </div>
            <div class="col-auto"><a class="lh-1" href="mailto:<%= user.email %>"><%= user.email %></a></div>
          </div>
          <div class="row flex-between-center">
            <div class="col-auto">
              <h5 class="text-body-highlight mb-0">Phone</h5>
            </div>
            <div class="col-auto"><a href="tel:+6<%= user.phone %>">+6<%= user.phone %></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-6">
  <div class="scrollbar">
    <ul class="nav nav-underline fs-9 flex-nowrap mb-3 pb-1" id="myTab" role="tablist">
      <li class="nav-item me-3"><a class="nav-link text-nowrap active" id="orders-tab" data-bs-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="true"><span class="fa-solid fa-clock me-2"></span>Activity<span class="text-body-tertiary fw-normal"> (35)</span></a></li>
      <li class="nav-item me-3"><a class="nav-link text-nowrap" id="reviews-tab" data-bs-toggle="tab" href="#tab-reviews" role="tab" aria-controls="tab-orders" aria-selected="true"><span class="fa-solid fa-calendar me-2"></span>Leave<span class="text-body-tertiary fw-normal"></span></a></li>
      <li class="nav-item me-3"><a class="nav-link text-nowrap" id="wishlist-tab" data-bs-toggle="tab" href="#tab-wishlist" role="tab" aria-controls="tab-orders" aria-selected="true"><span class="fa-solid fa-user me-2"></span>Personal</a></li>
    </ul>
  </div>
  <div class="tab-content" id="profileTabContent">
    <div class="tab-pane fade show active" id="tab-orders" role="tabpanel" aria-labelledby="orders-tab">
      <div class="border-top border-bottom border-translucent" id="profileOrdersTable" data-list='{"valueNames":["date","status","type","detail"],"page":6,"pagination":true}'>
        <div class="table-responsive scrollbar">
          <table class="table fs-9 mb-0">
            <thead>
              <tr>
                <th class="sort white-space-nowrap align-middle pe-3 ps-0" scope="col" data-sort="date" style="width:15%; min-width:140px">DATE</th>
                <th class="sort align-middle pe-3" scope="col" data-sort="status" style="width:10%; min-width:150px">STATUS</th>
                <th class="sort align-middle text-start" scope="col" data-sort="type" style="width:10%; min-width:125px">TYPE</th>
                <th class="sort align-middle pe-0 text-start" scope="col" data-sort="date" style="width:25%; min-width:180px">DETAILS</th>
                <th class="align-middle pe-0 text-end" scope="col" style="width:15%;"> </th>
              </tr>
            </thead>
            <tbody class="list" id="profile-order-table-body">
              <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="order align-middle white-space-nowrap py-2 ps-0"><a class="fw-semibold text-primary" href="#!">Dec 12, 12:56 PM</a></td>
                <td class="status align-middle white-space-nowrap text-start fw-bold text-body-tertiary py-2"><span class="badge badge-phoenix fs-10 badge-phoenix-success"><span class="badge-label">Complete</span><span class="ms-1" data-feather="check" style="height:12.8px;width:12.8px;"></span></span></td>
                <td class="type align-middle white-space-nowrap text-body py-2">Leave</td>
                <td class="details align-middle text-body-tertiary text-start py-2">Nullam at fringilla metus, in blandit elit. Cras luctus volutpat odio, ut luctus elit facilisis non. Aenean in purus vitae felis molestie porta in in orci. Phasellus vel lorem turpis.</td>
                <td class="align-middle text-end white-space-nowrap pe-0 action py-2">
                  <div class="btn-reveal-trigger position-static">
                    <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
          <div class="col-auto d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
          </div>
          <div class="col-auto d-flex">
            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="mb-0 pagination"></ul>
            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="reviews-tab">
      <div class="row g-3 mb-6">
        <div class="col-12 col-xxl-3 order-0 order-xxl-1 mb-3">
          <div class="card">
            <div class="card-body">

            </div>
          </div>
        </div>

        <div class="col-12 col-xxl-9 order-1 order-xxl-0 border-y" id="profileRatingTable" data-list='{"valueNames":["product","rating","review","status","date"],"page":6,"pagination":true}'>
          <div class="table-responsive scrollbar">
            <table class="table fs-9 mb-0">
              <thead>
                <tr>
                  <th class="sort white-space-nowrap align-middle" scope="col" style="min-width:220px;" data-sort="product">PRODUCT</th>
                  <th class="sort align-middle" scope="col" data-sort="rating" style="max-width:10%;">RATING</th>
                  <th class="sort align-middle" scope="col" style="min-width:480px" data-sort="review">REVIEW</th>
                  <th class="sort align-middle" scope="col" style="max-width:12%;" data-sort="status">STATUS</th>
                  <th class="sort text-end align-middle" scope="col" style="max-width:10%;" data-sort="date">DATE</th>
                  <th class="sort text-end pe-0 align-middle" scope="col" style="width: 7%"> </th>
                </tr>
              </thead>
              <tbody class="list" id="profile-review-table-body">
                <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                  <td class="align-middle product pe-3"><a class="fw-semibold line-clamp-1" href="../../../apps/e-commerce/landing/product-details.html">Fitbit Sense Advanced Smartwatch with Tools for Heart Health, Stress Management &amp; Skin Temperature Trends, Carbon/Graphite, One Size (S &amp; L Bands)</a></td>
                  <td class="align-middle rating white-space-nowrap fs-10"><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa fa-star text-warning"></span><span class="fa-regular fa-star text-warning-light"></span>
                  </td>
                  <td class="align-middle review pe-7">
                    <p class="fw-semibold text-body-highlight mb-0 line-clamp-2">This Fitbit is fantastic! I was trying to be in better shape and needed some motivation, so I decided to treat myself to a new Fitbit.</p>
                  </td>
                  <td class="align-middle status pe-9"><span class="badge badge-phoenix fs-10 badge-phoenix-success">Approaved<span class="ms-1" data-feather="check" style="height:12.8px;width:12.8px;"></span></span></td>
                  <td class="align-middle text-end date white-space-nowrap">
                    <p class="text-body-tertiary mb-0">Just now</p>
                  </td>
                  <td class="align-middle white-space-nowrap text-end pe-0">
                    <div class="btn-reveal-trigger position-static">
                      <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                      <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">View</a><a class="dropdown-item" href="#!">Export</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remove</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
            <div class="col-auto d-flex">
              <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
            </div>
            <div class="col-auto d-flex">
              <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
              <ul class="mb-0 pagination"></ul>
              <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="tab-wishlist" role="tabpanel" aria-labelledby="wishlist-tab">
      <div class="border-y border-translucent" id="productWishlistTable" data-list='{"valueNames":["products","color","size","price","quantity","total"],"page":5,"pagination":true}'>
        <div class="table-responsive scrollbar">
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of .container-->

<%- include('partials/private-footer.ejs') %>