<%- include('partials/private-header.ejs') %>

<div class="mb-9">

  <div class="row align-items-center justify-content-between g-3 mb-4">
    <div class="col-auto">
      <h2 class="mb-0">Settings</h2>
    </div>
    <div class="col-auto">
      <div class="row g-2 g-sm-3">
        <div class="col-auto d-none">
          <button class="btn btn-phoenix-primary"><span class="fa-regular fa-envelope me-2"></span>Message</button>
        </div>
        <div class="col-auto">
          <a class="btn btn-phoenix-secondary" role="button" href="/profile"><span class="fa-solid fa-user me-2"></span>Profile</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-6">
    <div class="col-12 col-xl-5">



      <div class="card mb-6">
        <div class="card-body">
          <div class="border-bottom border-dashed pb-4">
            <form action="/settings/upload/profile-image" method="post" enctype="multipart/form-data" class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
              <div class="col-12 col-sm-auto">
                <input class="d-none" id="upload-profile-picture" type="file" name="file" accept="image/*" onchange="previewImage()" />
                <label class="cursor-pointer avatar avatar-5xl" for="upload-profile-picture">
                  <% if(user.profile === '' ){ user.profile = '/assets/img/team/avatar.webp' ; } %>
                  <img class="rounded-circle mb-2" id="preview-image" src="<%= user.profile %>" alt="" style="border: 1px solid #3874ff;" />
                </label>
              </div>

              <script>
                // profile image preview
                $(document).ready(function() {
                  $(document).on('click', function() {
                    $('#upload-profile-picture').click();
                  });

                  $('#upload-profile-picture').on('change', function() {
                    previewImage(this);
                  });

                  function previewImage(input) {
                    const previewImage = $('#preview-image')[0];

                    if (input.files && input.files[0]) {
                      const reader = new FileReader();

                      reader.onload = function(e) {
                        previewImage.src = e.target.result;
                      };

                      reader.readAsDataURL(input.files[0]);
                    }
                  }
                });
              </script>

              <% 
              const timestamp = user.dateEmployed; // Replace with your timestamp variable
              const date = new Date(timestamp + 8 * 60 * 60 * 1000); // Adjust to Malaysian Standard Time (UTC+8)
              const options = { day: 'numeric', month: 'long', year: 'numeric' };
              const formattedDate = date.toLocaleDateString(date, options);
              %>

              <div class="col-12 col-sm-auto flex-1">
                <h3 class="fs-6"><%= user.fullname %></h3>
                <p class="text-body-secondary">Joined since, <%= formattedDate  %></p>
                <p class="text-primary fs-8 fst-italic">"<%= info.status %>"</p>
                <button class="btn btn-primary myButton" type="submit" id="uploadProfile">
                  <div class="btn-content">Upload Profile</div>
                </button>
              </div>

            </form>
          </div>
          <div class="d-flex flex-between-center pt-4">
            <div>
              <h6 class="mb-2 text-body-secondary">Email</h6>
              <a class="lh-1" href="mailto:<%= user.email %>"><%= user.email %></a>
            </div>
            <div>
              <h6 class="mb-2 text-body-secondary">Phone</h6>
              <a href="tel:+6<%= user.phone %>">+6<%= user.phone %></a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 d-none">
        <div class="card-body">
          <div class="border-bottom border-dashed">
            <h4 class="mb-3">Details
              <button class="btn btn-link p-0" type="button"><span class="fas fa-edit fs-9 ms-3 text-body-quaternary"></span></button>
            </h4>
          </div>
          <div class="pt-4 mb-0">
            <div class="row justify-content-between">
              <div class="col-auto">
                <h5 class="text-body-highlight">Department</h5>
              </div>
              <div class="col-auto">
                <p class="text-body-secondary"><%= user.department %></p>
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-auto">
                <h5 class="text-body-highlight">Section</h5>
              </div>
              <div class="col-auto">
                <p class="text-body-secondary"><%=  user.section %></p>
              </div>
            </div>
          </div>
          <div class="border-top border-dashed pt-4">
            <div class="row flex-between-center mb-2">
              <div class="col-auto">
                <h5 class="text-body-highlight mb-0">Email</h5>
              </div>
              <div class="col-auto"><a class="lh-1" href="mailto:<%= user.email %>"><%= user.email %></a></div>
            </div>
            <div class="row flex-between-center">
              <div class="col-auto">
                <h5 class="text-body-highlight mb-0">Phone</h5>
              </div>
              <div class="col-auto"><a href="tel:+6<%= user.phone %>">+6<%= user.phone %></a></div>
            </div>
          </div>
        </div>
      </div>

      <%
       var textEmailVerified = '';
       var textPhoneVerified = '';
       var showVerifyEmail = '';
       var showVerifyPhone = '';

       if(info.emailVerified === false){
         textEmailVerified = 'Email has not yet been verified';
         showVerifyEmail = '';
        }else{
         textEmailVerified = 'Email has been verified';
         showVerifyEmail = 'd-none';
        }

        if(info.phoneVerified === false){
         textPhoneVerified = 'Phone number has not yet been verified';
         showVerifyPhone = '';
        }else{
         textPhoneVerified = 'Phone number has been verified';
         showVerifyPhone = 'd-none';
        }
      %>

      <div class="border-bottom border-translucent border-dashed pb-3 mb-4">
        <h5 class="text-body mb-3"><%= textEmailVerified %></h5>
        <a class="btn btn-phoenix-success <%= showVerifyEmail %>" role="button" href="/info/email/verification/<%= user._id %>">Verify Now</a>
      </div>
      <div class="border-bottom border-translucent border-dashed pb-3 mb-4 d-none">
        <h5 class="text-body mb-3"><%= textPhoneVerified %></h5>
        <a class="btn btn-phoenix-success <%= showVerifyPhone %>" role="button" href="/info/phone/verification/<%= user._id %>">Verify Now</a>
      </div>
      <div class="mb-4 d-none">
        <div class="form-check form-switch">
          <input class="form-check-input" id="showPhone" type="checkbox" checked="checked" name="showPhone" />
          <label class="form-check-label fs-8" for="showPhone">Show your personal phone number</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" id="permitFollow" type="checkbox" checked="checked" name="permitFollow" />
          <label class="form-check-label fs-8" for="permitFollow">Permit users to see you online</label>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-7">
      <form class="border-bottom mb-4" method="post" action="/settings">
        <div class="mb-6">
          <h4 class="mb-4">Basic Information</h4>
          <div class="row g-3">
            <div class="col-12 col-sm-6">
              <div class="form-icon-container">
                <div class="form-floating">
                  <input class="form-control form-icon-input" name="officenumber" type="text" placeholder="officenumber" />
                  <label class="text-body-tertiary form-icon-label" for="officenumber">OFFICE NUMBER</label>
                </div><span class="fa-solid fa-phone text-body fs-9 form-icon"></span>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-icon-container">
                <div class="form-floating">
                  <input class="form-control form-icon-input" name="email" type="email" placeholder="Email" />
                  <label class="text-body-tertiary form-icon-label" for="email">ENTER YOUR WORK EMAIL</label>
                </div><span class="fa-solid fa-envelope text-body fs-9 form-icon"></span>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-icon-container">
                <div class="form-floating">
                  <input class="form-control form-icon-input" name="phone" type="tel" placeholder="Phone" />
                  <label class="text-body-tertiary form-icon-label" for="phone">ENTER YOUR PHONE</label>
                </div><span class="fa-solid fa-mobile-screen text-body fs-9 form-icon"></span>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-icon-container">
                <div class="form-floating">
                  <input type="text" class="form-control datetimepicker flatpickr-input form-icon-input" placeholder="" name="dateEmployed" data-options='{"disableMobile":true,"allowInput":true, "locale" : { "firstDayOfWeek" : 1}, "mode": "multiple" }'>
                  <label class="text-body-tertiary form-icon-label" for="dateEmployed">DATE EMPLOYED</label>
                </div><span class="fa-solid fa-calendar-plus text-body fs-9 form-icon"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-6">
          <h4 class="mb-4">Personal</h4>
          <div class="row g-3">
            <div class="col-12 col-sm-6">
              <div class="form-icon-container">
                <div class="form-floating">
                  <input type="text" class="form-control datetimepicker flatpickr-input form-icon-input" placeholder="" name="birthdate" data-options='{"disableMobile":true,"allowInput":true, "locale" : { "firstDayOfWeek" : 1}}'>
                  <label class="text-body-tertiary form-icon-label" for="birthday">Birth date</label>
                </div><span class="fa-solid fa-cake-candles text-body fs-9 form-icon"></span>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-icon-container">
                <div class="form-floating">
                  <input class="form-control form-icon-input" name="nric" type="text" placeholder="" />
                  <label class="text-body-tertiary form-icon-label" for="nric">NRIC</label>
                </div><span class="fa-solid fa-user text-body fs-9 form-icon"></span>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-icon-container">
                <div class="form-floating">
                  <select name="marital" class="form-select form-icon-input">
                    <option selected>Select your marital status</option>
                    <option value="single">Single</option>
                    <option value="married">Married</option>
                    <option value="widowed">Widowed</option>
                    <option value="divorced">Divorced</option>
                    <option value="seperated">Separated</option>
                  </select>
                  <label class="text-body-tertiary form-icon-label" for="marital">Marital Status</label>
                </div><span class="fa-solid fa-id-card text-body fs-9 form-icon"></span>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-icon-container">
                <div class="form-floating">
                  <select name="education" class="form-select form-icon-input">
                    <option selected>Select your highest education</option>
                    <option value="SPM">SPM</option>
                    <option value="Professional Certificate">Professional Certificate</option>
                    <option value="Diploma">Diploma</option>
                    <option value="Degree">Degree</option>
                    <option value="Master">Master</option>
                    <option value="PHD">PHD</option>
                  </select>
                  <label class="text-body-tertiary form-icon-label" for="education">Education</label>
                </div><span class="fa-solid fa-graduation-cap text-body fs-9 form-icon"></span>
              </div>
            </div>
            <div class="col-12 col-sm-12">
              <div class="form-icon-container">
                <div class="form-floating">
                  <textarea class="form-control form-icon-input" name="address" style="height: 115px;" placeholder="Info"></textarea>
                  <label class="text-body-tertiary form-icon-label" for="address">Address</label>
                </div><span class="fa-solid fa-house-user text-body fs-9 form-icon"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row gx-3 mb-6 gy-6 gy-sm-3">
          <div class="col-12 col-sm-6 d-none">
            <h4 class="mb-4">Company Info</h4>
            <div class="form-icon-container mb-3">
              <div class="form-floating">
                <input class="form-control form-icon-input" name="companyName" type="text" placeholder="Company Name" />
                <label class="text-body-tertiary form-icon-label" for="companyName">COMPANY NAME</label>
              </div><span class="fa-solid fa-building text-body fs-9 form-icon"></span>
            </div>
            <div class="form-icon-container">
              <div class="form-floating">
                <input class="form-control form-icon-input" name="website" type="text" placeholder="Website" />
                <label class="text-body-tertiary form-icon-label" for="website">Website</label>
              </div><span class="fa-solid fa-globe text-body fs-9 form-icon"></span>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <h4 class="mb-4">Change Password</h4>
            <div class="form-icon-container mb-3">
              <div class="form-floating">
                <div class="container px-0">
                  <div>
                    <input class="form-control form-icon-input" id="password1" type="password" name="oldPassword" placeholder="Old Password" style="height: 3rem;" />
                  </div>
                  <span type="button" class="position-absolute end-0 top-0 me-3" id="togglePassword" style="margin-top: 0.75rem;">
                    <i class="fa fa-eye-slash pt-1" aria-hidden="true" width="15" height="15"></i>
                  </span>
                </div><span class="fa-solid fa-lock text-body fs-9 form-icon pt-1"></span>
              </div>

              <script>
                document.getElementById("togglePassword").addEventListener("click", function() {
                  var passwordInput = document.getElementById("password1");
                  if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    this.innerHTML = '<i class="fa fa-eye" aria-hidden="true"  width="15" height="15"></i>';
                  } else {
                    passwordInput.type = "password";
                    this.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"  width="16.5" height="16.5"></i>';
                  }
                });
              </script>

            </div>
            <div class="form-icon-container mb-3">
              <div class="form-floating">
                <div class="container px-0">
                  <div>
                    <input class="form-control form-icon-input" id="password2" type="password" name="newPassword" placeholder="New password" style="height: 3rem;" /><span class="fa-solid fa-key text-body fs-9 form-icon pt-1"></span>
                  </div>
                  <span type="button" class="position-absolute end-0 top-0 me-3" id="togglePassword2" style="margin-top: 0.75rem;">
                    <i class="fa fa-eye-slash pt-1" aria-hidden="true" width="15" height="15"></i>
                  </span>
                </div>
              </div>

              <script>
                document.getElementById("togglePassword2").addEventListener("click", function() {
                  var passwordInput = document.getElementById("password2");
                  if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    this.innerHTML = '<i class="fa fa-eye" aria-hidden="true"  width="15" height="15"></i>';
                  } else {
                    passwordInput.type = "password";
                    this.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"  width="16.5" height="16.5"></i>';
                  }
                });
              </script>

            </div>
            <div class="form-icon-container mb-3">
              <div class="form-floating">
                <div class="container px-0">
                  <div>
                    <input class="form-control form-icon-input" id="password3" type="password" name="newPassword2" placeholder="Confirm password" style="height: 3rem;" />
                  </div>
                  <span type="button" class="position-absolute end-0 top-0 me-3" id="togglePassword3" style="margin-top: 0.75rem;">
                    <i class="fa fa-eye-slash" aria-hidden="true" width="15" height="15"></i>
                  </span>
                </div><span class="fa-solid fa-key text-body fs-9 form-icon pt-1"></span>
              </div>

              <script>
                document.getElementById("togglePassword3").addEventListener("click", function() {
                  var passwordInput = document.getElementById("password3");
                  if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    this.innerHTML = '<i class="fa fa-eye" aria-hidden="true"  width="15" height="15"></i>';
                  } else {
                    passwordInput.type = "password";
                    this.innerHTML = '<i class="fa fa-eye-slash" aria-hidden="true"  width="16.5" height="16.5"></i>';
                  }
                });
              </script>

            </div>
          </div>
        </div>
        <div class="text-end mb-6">
          <div>
            <a class="btn btn-phoenix-secondary me-2" role="button" href="/">Cancel Changes</a>
            <button class="btn btn-phoenix-primary" type="submit">Save Information</button>
          </div>
        </div>
      </form>

      <div class="row gy-5">
        <div class="col-12 col-md-6 d-none">
          <h4 class="text-body-emphasis">Transfer Ownership</h4>
          <p class="text-body-tertiary">Transfer this account to another person or to a company repository.</p>
          <button class="btn btn-phoenix-warning">Transfer</button>
        </div>
        <div class="col-12 col-md-6 d-none">
          <h4 class="text-body-emphasis">Account Deletion</h4>
          <p class="text-body-tertiary">Transfer this account to another person or to a company repository.</p>
          <button class="btn btn-phoenix-danger">Delete account</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- toast alert submission -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast <%= show %> align-items-center text-white border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code class="text-primary"><%= alert %></code>
        </div>

        <button class="btn ms-2 p-0" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-7"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/private-footer.ejs') %>