<%- include('partials/private-header.ejs') %>

<nav class="mb-2" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Staff Details</li>
    <li class="breadcrumb-item active"><%= otherUser.fullname %></li>
  </ol>
</nav>

<div class="pb-9">
  <div class="row">
    <div class="col-12">
      <div class="row align-items-center justify-content-between g-3 mb-3">
        <div class="col-12 col-md-auto">
          <h2 class="mb-0">Staff details</h2>
        </div>
        <div class="col-12 col-md-auto">
          <div class="d-flex">
            <div class="flex-1 d-md-none">
              <button class="btn px-3 btn-phoenix-secondary text-body-tertiary me-2" data-phoenix-toggle="offcanvas" data-phoenix-target="#productFilterColumn"><span class="fa-solid fa-bars"></span></button>
            </div>
            <button class="btn btn-primary me-2 d-none"><span class="fa-solid fa-envelope me-2"></span><span>Send a message</span></button>
            <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
            <ul class="dropdown-menu dropdown-menu-end p-0" style="z-index: 9999;">
              <li><a class="dropdown-item d-none" href="#!">View profile</a></li>
              <li><a class="dropdown-item" href="#!">Print</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row g-0 g-md-4 g-xl-6">

    <div class="col-md-5 col-lg-5 col-xl-3 d-print-none">
      <div class="sticky-leads-sidebar">
        <div class="lead-details-offcanvas bg-body scrollbar phoenix-offcanvas phoenix-offcanvas-fixed" id="productFilterColumn">
          <div class="d-flex justify-content-between align-items-center mb-2 d-md-none">
            <h3 class="mb-0"><i class="fa-solid fa-feather-pointed me-2" aria-hidden="true"></i>Details</h3>
            <button class="btn p-0" data-phoenix-dismiss="offcanvas"><span class="uil uil-times fs-7"></span></button>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row align-items-center g-3 text-center text-xxl-start">
                <% 
                var showOnline = '';
                
                if(info.isOnline === true){
                    showOnline = 'status-online';
                }else{
                    showOnline = '';
                }
                %>
                <div class="col-12 col-xxl-auto">
                  <% if(otherUser.profile === '' ){ otherUser.profile = '/assets/img/team/avatar.webp' ; } %>
                  <div class="avatar avatar-5xl <%= showOnline %>"><img class="rounded-circle border border-primary" src="<%= otherUser.profile %>" alt="" /></div>
                </div>
                <div class="col-12 col-sm-auto flex-1 text-md-start text-center">
                  <h4 class="fw-bold mb-3 mt-3"><%= otherUser.fullname %></h4>
                  <p class="mb-3"><%= otherUser.position %></p>
                  <p class="fw-semibold text-primary fst-italic">"<%= info.status %>"</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex align-items-center mb-4">
                <h4>About staff</h4>
              </div>
              <div class="mb-2">
                <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-user"> </span>
                  <h5 class="text-body-highlight mb-0">Work ID</h5>
                </div>
                <p class="text-primary"><%= otherUser.username %></a>
              </div>
              <div class="mb-2">
                <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-envelope-alt"> </span>
                  <h5 class="text-body-highlight mb-0">Email</h5>
                </div><a href="mailto:<%= otherUser.email %>"><%= otherUser.email %></a>
              </div>
              <div class="mb-2">
                <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-phone"> </span>
                  <h5 class="text-body-highlight mb-0">Phone</h5>
                </div><a href="tel:+6<%= otherUser.phone %>">+6<%= otherUser.phone %> </a>
              </div>
              <div class="mb-2">
                <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-home"> </span>
                  <h5 class="text-body-highlight mb-0">Office Number</h5>
                </div><a href="tel:+6<%= otherUser.officePhone %>">+6<%= otherUser.officePhone %> </a>
              </div>
              <div class="mb-2">
                <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-building"></span>
                  <h5 class="text-body-highlight mb-0">Department</h5>
                </div>
                <p class="text-primary"><%= otherUser.department %> </p>
              </div>
              <div class="mb-2">
                <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-globe"></span>
                  <h5 class="text-body-highlight mb-0">Section</h5>
                </div>
                <% if(otherUser.section === ''){
                    var section = '-';
                  }else {
                    var section = otherUser.section;
                  } 
                %>
                <p class="text-primary"><%= section %> </p>
              </div>
              <div class="mb-0">
                <% 
                const date = new Date(info.lastSeen);
                const formattedDateForOnline = date.toLocaleDateString('en-US', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                  hour: 'numeric',
                  minute: 'numeric',
                  hour12: true
                });
                %>
                <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-clock"></span>
                  <h5 class="text-body-highlight mb-0">Last Seen</h5>
                </div>
                <p class="mb-0 text-body-secondary"><%= formattedDateForOnline %></p>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="carousel dashboard-carousel slide carousel-fade position-relative rounded-3" id="carousel-2">
              <div class="carousel-inner">

                <div class="carousel-item active" style="height: 350px;">

                  <div class="card" style="height: 350px;">
                    <div class="card-body">
                      <h5 class="text-body-emphasis text-nowrap">Leave Balances</h5>
                      <div class="mx-auto mt-n10" id="leave-type-chart-carousel" style="height:400px; width: 250px;"></div>

                      <script>
                        // take the root of the colour from css for echarts
                        const style = getComputedStyle(document.body);
                        const theme = {
                          primary: style.getPropertyValue('--phoenix-primary'),
                          secondary: style.getPropertyValue('--phoenix-secondary'),
                          success: style.getPropertyValue('--phoenix-success'),
                          info: style.getPropertyValue('--phoenix-info'),
                          warning: style.getPropertyValue('--phoenix-warning'),
                          danger: style.getPropertyValue('--phoenix-danger'),
                          bg_primary_subtle: style.getPropertyValue('--phoenix-primary-bg-subtle'),
                          tertiary: style.getPropertyPriority('--phoenix-tertiary-color'),
                          light: style.getPropertyValue('--phoenix-light'),
                          dark: style.getPropertyValue('--phoenix-dark')
                        };

                        //   take css class color based on their property color/bg-colour for echarts
                        function getColor(className, property) {
                          var element = document.createElement('div');
                          element.className = className;
                          document.body.appendChild(element);

                          var computedStyle = window.getComputedStyle(element);
                          var color = computedStyle.getPropertyValue(property);

                          document.body.removeChild(element);

                          return color;
                        }

                        const leaveTypeURL = '/api/echarts/leaveType/<%= otherUser._id %>';

                        fetch(leaveTypeURL)
                          .then(response => response.json())
                          .then(fetchLeaveTypeData => {
                            updateLeaveTypeChart(fetchLeaveTypeData, 'leave-type-chart-carousel');
                          })
                          .catch(error => {
                            console.error('Error fetching user leave data:', error);
                          });

                        function updateLeaveTypeChart(fetchLeaveTypeData, echartsId) {

                          var genderFemale = '';
                          if (fetchLeaveTypeData.user.gender === 'Male') {
                            genderFemale = 60;
                          } else if (fetchLeaveTypeData.user.gender === 'Female' && fetchLeaveTypeData.maternity.taken > 0) {
                            genderFemale = 60;
                          } else {
                            genderFemale = 0;
                          }

                          var genderMale = '';
                          if (fetchLeaveTypeData.user.gender === 'Female' || fetchLeaveTypeData.paternity.taken > 6) {
                            genderMale = 3;
                          } else {
                            genderMale = 0;
                          }

                          var marriage = '';
                          if (fetchLeaveTypeData.marriage.taken > 0) {
                            marriage = 3;
                          } else {
                            marriage = 0;
                          }

                          var hajj = '';
                          if (fetchLeaveTypeData.hajj.taken > 0) {
                            hajj = 40;
                          } else {
                            hajj = 0;
                          }

                          var special = '';
                          if (fetchLeaveTypeData.special.taken > 7) {
                            special = 3;
                          } else {
                            special = 0;
                          }

                          var leaveTypeData = {
                            labels: ['Annual Leave', 'Sick Leave', 'Sick Extended Leave', 'Emergency Leave Taken', 'Marriage Leave', 'Paternity Leave', 'Maternity Leave', 'Attend Exam Leave', 'Hajj Leave', 'Unpaid Leave Taken', 'Special Leave'],
                            data: [
                              fetchLeaveTypeData.annual.leave - fetchLeaveTypeData.annual.taken,
                              fetchLeaveTypeData.sick.leave - fetchLeaveTypeData.sick.taken,
                              fetchLeaveTypeData.sickExtended.leave - fetchLeaveTypeData.sickExtended.taken,
                              fetchLeaveTypeData.emergency.taken,
                              fetchLeaveTypeData.marriage.leave - marriage,
                              fetchLeaveTypeData.paternity.leave - genderMale,
                              fetchLeaveTypeData.maternity.leave - genderFemale,
                              fetchLeaveTypeData.attendExam.leave - fetchLeaveTypeData.attendExam.taken,
                              fetchLeaveTypeData.hajj.leave - hajj,
                              fetchLeaveTypeData.unpaid.taken,
                              fetchLeaveTypeData.special.leave - special,
                            ],
                          };
                          // Initialize ECharts instance
                          var leaveTypeChart = echarts.init(document.getElementById(echartsId), null, {
                            devicePixelRatio: window.devicePixelRatio > 1 ? 2 : 1,
                            renderer: 'canvas',
                            width: 'auto',
                            height: 'auto'
                          });

                          var option = {
                            color: [getColor('bg-info-light', 'background-color'), getColor('bg-warning-darker', 'background-color'),
                              getColor('bg-warning-light', 'background-color'), getColor('bg-danger-light', 'background-color'), getColor('bg-danger-dark', 'background-color'), getColor('bg-success-light', 'background-color'),
                              getColor('bg-success-dark', 'background-color'), getColor('bg-info-dark', 'background-color'), getColor('bg-info-lighter', 'background-color'), getColor('bg-primary', 'background-color'), getColor('bg-warning-lighter', 'background-color')
                            ],
                            series: [{
                              name: 'Tasks assigned to me',
                              type: 'pie',
                              radius: ['70%', '85%'],
                              startAngle: 30,
                              avoidLabelOverlap: false,
                              label: {
                                show: false,
                                position: 'center',
                                formatter: '{x|{c} } \n {y|{b}}',
                                rich: {
                                  x: {
                                    fontSize: 31.25,
                                    fontWeight: 800,
                                    color: '#3874ff',
                                    padding: [0, 0, 5, 15]
                                  },
                                  y: {
                                    fontSize: 12,
                                    color: '#3874ff',
                                    fontWeight: 600
                                  }
                                }
                              },
                              emphasis: {
                                label: {
                                  show: true
                                }
                              },
                              // itemStyle: {
                              //   borderWidth: 1, 
                              //   borderColor: getColor('bg-body', 'background-color'), 
                              // },
                              labelLine: {
                                show: false
                              },
                              data: leaveTypeData.labels.map((label, index) => ({
                                value: leaveTypeData.data[index],
                                name: label,
                                emphasis: index === 0 ? {
                                  label: {
                                    show: true,
                                  },
                                } : {},
                              })),
                            }, ],
                            grid: {
                              bottom: 0,
                              top: 0,
                              left: 0,
                              right: 0,
                              containLabel: false
                            },
                          };

                          leaveTypeChart.setOption(option);

                          window.addEventListener('resize', function() {
                            leaveTypeChart.resize();
                          });

                        }
                      </script>
                    </div>
                  </div>

                </div>

                <div class="carousel-item false">

                  <div class="card" style="height: 350px;">

                    <div class="bg-holder d-block bg-card" style="background-image:url(/assets/img/spot-illustrations/32.png);background-position: top right;">
                    </div>
                    <div class="card-body">
                    </div>
                  </div>

                </div>

              </div>
              <div class="carousel-indicators">
                <button class="active" type="button" data-bs-target="#carousel-2" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button class="d-none" type="button" data-bs-target="#carousel-2" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="phoenix-offcanvas-backdrop d-lg-none top-0" data-phoenix-backdrop="data-phoenix-backdrop"></div>
      </div>
    </div>

    <div class="col-md-7 col-lg-7 col-xl-9">
      <div class="lead-details-container">
        <nav class="navbar pb-4 px-0 sticky-top bg-body nav-underline-scrollspy" id="navbar-staffs-detail">
          <ul class="nav nav-underline fs-9">
            <li class="nav-item"><a class="nav-link me-2" href="#scrollspyTask">Tasks</a></li>
            <li class="nav-item"><a class="nav-link me-2" href="#scrollspyActivities">Activities</a></li>
            <li class="nav-item"><a class="nav-link me-2" href="#scrollspyLeaves">Leaves</a></li>
            <li class="nav-item"><a class="nav-link me-2" href="#scrollspyAttendances">Attendances</a></li>
            <li class="nav-item"><a class="nav-link" href="#scrollspyAttachments">Attachments </a></li>
          </ul>
        </nav>
        <div class="scrollspy-example rounded-2" data-bs-spy="scroll" data-bs-offset="0" data-bs-target="#navbar-staffs-detail" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">

          <div class="mb-8" style="min-height: 25vh;">
            <h2 class="mb-4" id="scrollspyTask">Tasks</h2>
            <div class="row align-items-center g-0 justify-content-start mb-3">

              <div class="col-12 col-md-auto">
                <div class="search-box mb-2 mb-sm-0">
                  <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input search form-control-sm" id="searchInput" type="search" placeholder="Search tasks" aria-label="Search" />
                    <span class="fas fa-search search-box-icon"></span>
                  </form>
                </div>
              </div>

              <div class="col-auto d-flex">
                <p class="mb-0 ms-sm-3 fs-9 text-body-tertiary fw-bold"><span class="fas fa-filter me-1 fw-extra-bold fs-10"></span><%= tasks.length %> tasks</p>
              </div>
            </div>

            <div class="card-body py-0 scrollbar task-list-body" id="itemList">
              <% if(tasks && tasks.length > 0 ) {%>
              <% const lastIndexItem = tasks.length - 1; %>
              <% tasks.forEach((item,index) => { %>

              <% 
                      var todoborder = '';
                      var fileAmount = '';
                      var displayTaskFile = '';
                      var displayTaskSubtask = '';
                      var statusTaskColour = '';
                      var checked = '';

                      const associatedFile = files.filter((file) => file.uuid === item.fileId);
              
                      // check last item inside task
                      if(index === lastIndexItem){
                          todoborder = 'border-bottom';
                      }else{
                          todoborder = '';
                      }
              
                      // find assc files
                      if (associatedFile.length > 0) {
                          fileAmount = associatedFile.length;
                          displayTaskFile = 'd-block';
                      } else {
                          fileAmount  = '';
                          displayTaskFile = 'd-none';
                      }
              
                      // check subtask
                      if(item.subtask.length > 0){
                          displayTaskSubtask = 'd-block';
                      } else {
                          displayTaskSubtask = '';
                      }
              
                      // check task status 
                      if(item.status === 'urgent'){
                          statusTaskColour = 'warning';
                          checked = '';
                      } else if(item.status === 'process'){
                          statusTaskColour = 'primary';
                          checked = '';
                      } else if(item.status === 'cancelled'){
                          statusTaskColour = 'danger'; 
                          checked = 'checked';           
                      } else if(item.status === 'done'){
                          statusTaskColour = 'success';
                          checked = 'checked';            
                      }

                    //
                    %>

              <div class="item">
                <div class="d-flex py-3 border-top <%= todoborder %>">
                  <input class="form-check-input form-check-input-todolist flex-shrink-0 my-1 me-2 form-check-input-undefined" type="checkbox" id="checkbox-todo-2" data-event-propagation-prevent="data-event-propagation-prevent" <%= checked %> />
                  <div class="row justify-content-between align-items-md-center btn-reveal-trigger border-translucent gx-0 flex-1">
                    <div class="col-12 col-md-auto col-xl-12 col-xxl-auto">
                      <div class="mb-1 mb-md-0 d-flex align-items-center lh-1">
                        <label class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-8 me-2 line-clamp-1 text-body itemName"><%= item.name %></label><span class="badge badge-phoenix ms-auto fs-10 badge-phoenix-<%= statusTaskColour %> itemStatus"><%= item.status %></span>
                      </div>
                    </div>
                    <div class="col-12 col-md-auto col-xl-12 col-xxl-auto">
                      <div class="d-flex lh-1 align-items-center"><a class="text-body-tertiary fw-bold fs-10 me-2 <%= displayTaskFile %>" href="#!"><span class="fas fa-paperclip me-1"></span><%= fileAmount %></a><a class="text-warning fw-bold fs-10 me-2 <%= displayTaskSubtask %>" href="#!"><span class="fas fa-tasks me-1"></span><%= item.subtask.length %></a>
                        <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mb-0 itemDate"><%= item.due ? item.due.toLocaleDateString('en-UK', { day: 'numeric', month: 'short', year: 'numeric' }) : 'Not specified' %></p>
                        <div class="hover-md-hide hover-xl-show hover-xxl-hide">
                          <p class="text-body-tertiary fs-10 fw-bold mb-md-0 mb-0 ps-md-3 ps-xl-0 ps-xxl-3 border-start-md border-xl-0 border-start-xxl itemTime"><%= item.reminder ? item.reminder.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, timeZone: 'Asia/Kuala_Lumpur' }) : 'Not specified' %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <% }); %>
              <% } else { %>
              <p class="white-space-nowrap fs-9">There is no task assigned yet</p>
              <% } %>
            </div>

            <script>
              document.addEventListener("DOMContentLoaded", function() {
                const searchInput = document.getElementById("searchInput");
                const items = document.getElementsByClassName("item");

                // Add event listener for the search input
                searchInput.addEventListener("input", function() {
                  const keyword = searchInput.value.toLowerCase();

                  // Loop through the list items and show/hide based on the keyword
                  for (let i = 0; i < items.length; i++) {
                    const itemName = items[i].getElementsByClassName("itemName")[0].innerText.toLowerCase();
                    const itemDate = items[i].getElementsByClassName("itemDate")[0].innerText.toLowerCase();
                    const itemTime = items[i].getElementsByClassName("itemTime")[0].innerText.toLowerCase();
                    const itemStatus = items[i].getElementsByClassName("itemStatus")[0].innerText.toLowerCase();

                    if (itemName.includes(keyword) || itemDate.includes(keyword) || itemTime.includes(keyword) || itemStatus.includes(keyword)) {
                      items[i].style.display = "block";
                    } else {
                      items[i].style.display = "none";
                    }
                  }
                });
              });
            </script>

          </div>

          <div class="mb-8" style="min-height: 25vh;">
            <h2 class="mb-4" id="scrollspyActivities">Activities</h2>
            <div class="border-bottom border-translucent mt-3" id="activities" data-list='{"valueNames":["title","type","description","date","time"],"page":5,"pagination":true}'>
              <div class="row align-items-end justify-content-between pb-4 g-3">

                <div class="col-12 col-md-auto">
                  <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                      <input class="form-control search-input search form-control-sm" type="search" placeholder="Search activities" aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>
                    </form>
                  </div>
                </div>
              </div>

              <div class="table-responsive ms-n1 ps-1 scrollbar">
                <table class="table fs-9 mb-0 border-top border-translucent">
                  <thead>
                    <tr>
                      <th class="sort white-space-nowrap align-middle pe-3 ps-0 text-uppercase" scope="col" data-sort="title" style="width:25%;min-width: 125px;">Title</th>
                      <th class="sort align-middle ps-0 text-start text-uppercase" scope="col" data-sort="type" style="width:15%;min-width: 100px;">Type</th>
                      <th class="sort align-middle pe-6 text-uppercase text-start" scope="col" data-sort="description" style="width:35%;min-width: 250px; ">Description</th>
                      <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="date" style="width:15%;min-width: 100px;">Date</th>
                      <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="time" style="width:15%;min-width: 100px;">Time</th>
                      <th class="sort align-middle text-end" scope="col" style="width: 10%"></th>
                    </tr>
                  </thead>

                  <tbody class="list" id="activities-table-content">
                    <% if(activities && activities.length > 0){ %>
                    <% activities.forEach(item => { %>
                    <tr class="position-static">
                      <td class="title align-middle white-space-nowrap py-4 ps-0 fw-bold text-primary fs-9 fs-md-8"><%= item.title %></td>
                      <td class="type align-middle fw-semibold text-start py-2 ps-0 fs-9 text-body-highlight"><%= item.type %></td>
                      <td class="description align-middle text-start fw-semibold py-2 text-start ps-2 fst-italic fs-9 text-body-highlight"><%= item.description%></td>
                      <td class="date align-middle text-center py-2 ps-0 fs-9"><%= item.date.toLocaleDateString('en-UK', { day: '2-digit', month: 'short', year: 'numeric', timeZone : 'Asia/Kuala_Lumpur' }) %></td>
                      <td class="time align-middle text-center py-2 ps-0 fs-9"><%= item.date.toLocaleTimeString('en-UK', { hour: '2-digit', minute: '2-digit', hour12: true, timeZone : 'Asia/Kuala_Lumpur' }) %></td>
                      <td class="align-middle text-end white-space-nowrap ps-0 action">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                          <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                            <span class="fas fa-ellipsis-h fs-9"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end py-2">
                            <a class="dropdown-item" href="/">View</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <% }); %>
                    <% }else{ %>
                    <tr class="position-static">
                      <td class="align-middle white-space-nowrap border-bottom-0">
                        <p>No activity detected from <span class="fw-bold text-primary"><%= otherUser.fullname %></span></p>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                <div class="col-auto d-flex">
                  <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                  <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                  <ul class="mb-0 pagination"></ul>
                  <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-8" style="min-height: 25vh;">
            <h2 class="mb-4" id="scrollspyLeaves">Leaves</h2>
            <div class="border-bottom border-translucent mt-3" id="leaves" data-list='{"valueNames":["type","reliefstaff","startdate","returndate","status"],"page":5,"pagination":true}'>
              <div class="row align-items-end justify-content-between pb-4 g-3">

                <div class="col-12 col-md-auto">
                  <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                      <input class="form-control search-input search form-control-sm" type="search" placeholder="Search leaves" aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>
                    </form>
                  </div>
                </div>

              </div>
              <div class="table-responsive ms-n1 ps-1 scrollbar">
                <table class="table fs-9 mb-0 border-top border-translucent">
                  <thead>
                    <tr>
                      <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="type" style="width:15%;">
                        TYPE
                      </th>
                      <th class="sort align-middle ps-3" scope="col" data-sort="reliefstaff" style="width:15%;">
                        RELIEF STAFF
                      </th>
                      <th class="sort align-middle text-center ps-3" scope="col" data-sort="startdate" style="width:15%;">
                        START DATE
                      </th>
                      <th class="sort align-middle text-center ps-3" scope="col" data-sort="returndate" style="width:15%;">
                        RETURN DATE
                      </th>
                      <th class="sort align-middle text-center" scope="col" data-sort="status" style="width:10%;">
                        STATUS
                      </th>
                      <th class="sort align-middle text-end" scope="col" style="width: 5%"></th>
                    </tr>
                  </thead>

                  <% 
                    function formatDate(inputDate) {
                      const day = String(inputDate.getDate()).padStart(2, '0');
                      const month = String(inputDate.getMonth() + 1).padStart(2, '0');
                      const year = inputDate.getFullYear();
                    
                      return `${day}/${month}/${year}`;
                    }
                    %>

                  <tbody class="list" id="project-summary-table-body">
                    <% if (leave && leave.length>0) { %>
                    <!-- table item -->
                    <% leave.forEach(function(leaves) { %>

                    <% 
                           var statusColor = '';
                           if (leaves.status == "pending"){
                            statusColor = 'info';
                           } else if(leaves.status == "approved" || leaves.status == "submitted") {
                               statusColor = 'success';
                           } else if(leaves.status == "denied" ||  leaves.status == "cancelled") {
                               statusColor = 'danger';
                           }else if (leaves.status == "invalid"){
                               statusColor = 'warning';
                           }   
                      %>

                    <tr class="position-static">
                      <td class="align-middle time white-space-nowrap ps-0 type py-4">
                        <a class="fw-bold fs-9 fs-md-8" href="/leave/details/<%= leaves._id %>"><%= leaves.type %></a>
                      </td>
                      <td class="align-middle text-body white-space-nowrap reliefstaff ps-3">
                        <%
                          let userReliefName;
                          let userLink;

                          if(leaves.assignee[0] === undefined){
                            userReliefName = '-';
                            userLink = '#';
                          }else{
                            const checkUserRelief = allUser.find(check => check._id.toString() === leaves.assignee[0].toString());
                            userReliefName = checkUserRelief.fullname;
                            userLink = '/staff/details/'+checkUserRelief._id;
                          }
                          
                        %>
                        <a class="mb-0 fs-9" href="<%= userLink %>"><%= userReliefName %></a>
                      </td>
                      <td class="align-middle white-space-nowrap startdate text-center ps-3 py-4">
                        <p class="mb-0 fs-9 text-body"><%= formatDate(leaves.date.start) %></p>
                      </td>
                      <td class="align-middle white-space-nowrap returndate text-center ps-3 py-4">
                        <p class="mb-0 fs-9 text-body"><%= formatDate(leaves.date.return) %></p>
                      </td>
                      <td class="align-middle white-space-nowrap text-center status">
                        <span class="badge badge-phoenix fs-10 badge-phoenix-<%= statusColor %>"><%= leaves.status %></span>
                      </td>
                      <td class="align-middle text-end white-space-nowrap pe-0 action">
                        <div class="font-sans-serif btn-reveal-trigger position-static">
                          <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                            <span class="fas fa-ellipsis-h fs-9"></span>
                          </button>
                          <div class="dropdown-menu dropdown-menu-end py-2">
                            <a class="dropdown-item" href="/leave/details/<%= leaves._id %>">View</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <%  }); %> <% } else { %>
                    <tr class="position-static">
                      <td class="align-middle time white-space-nowrap ps-0 border-bottom-0">
                        <p>No leave detected from <span class="fw-bold text-primary"><%= otherUser.fullname %></span></p>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                <div class="col-auto d-flex">
                  <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                  <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                  <ul class="mb-0 pagination"></ul>
                  <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-8" style="min-height: 25vh;">
            <h2 class="mb-4" id="scrollspyAttendances">Attendances</h2>
            <div class="border-bottom border-translucent mt-3" id="attendance" data-list='{"valueNames":["type","date","clockin","clockout"],"page":5,"pagination":true}'>
              <div class="row align-items-end justify-content-between pb-4 g-3">

                <div class="col-12 col-md-auto">
                  <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                      <input class="form-control search-input search form-control-sm" type="search" placeholder="Search attendances" aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>
                    </form>
                  </div>
                </div>

              </div>

              <div class="table-responsive ms-n1 ps-1 scrollbar">
                <table class="table fs-9 mb-0 border-top border-translucent">
                  <thead>
                    <tr>
                      <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="date" style="width:25%;min-width: 250px;">Date</th>
                      <th class="sort align-middle ps-0 text-start text-uppercase" scope="col" data-sort="type" style="width:15%;min-width: 100px;">Status</th>
                      <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="clockin" style="width:15%;min-width: 100px;">Clock In</th>
                      <th class="sort align-middle ps-0 text-center text-uppercase" scope="col" data-sort="clockout" style="width:15%;min-width: 100px;">Clock Out</th>
                    </tr>
                  </thead>

                  <tbody class="list" id="attendance-table-content">
                    <% if(attendance && attendance.length > 0){ %>
                    <% attendance.forEach(item => { %>

                    <% 
                        
                        let signOutTime;
                        if(item.date.signOutTime === null){
                            signOutTime = 'nil';
                        } else{
                            signOutTime = item.date.signOutTime.toLocaleTimeString('en-MY', {hour: 'numeric',minute: 'numeric', hour12: true, timeZone : 'Asia/Kuala_Lumpur' });
                        }

                        let signInTime;
                        if(item.date.signInTime === null){
                            signInTime = 'nil';
                        } else{
                            signInTime = item.date.signInTime.toLocaleTimeString('en-MY', {hour: 'numeric',minute: 'numeric', hour12: true, timeZone : 'Asia/Kuala_Lumpur' }) ;
                        }
                      %>

                    <tr class="position-static">
                      <td class="date align-middle text-start py-2 ps-0 fs-9"><%= item.timestamp.toLocaleDateString('en-UK', { day: '2-digit', month: 'long', year: 'numeric', timeZone : 'Asia/Kuala_Lumpur' }) %></td>
                      <td class="type align-middle fw-semibold text-center py-2 ps-0 fs-9 fs-md-8 text-body-highlight"><%= item.status %></td>
                      <td class="clockin align-middle text-center py-2 ps-0 fs-9"><span class="badge badge-phoenix fs-10 badge-phoenix-success"><%= signInTime %></span></td>
                      <td class="clockin align-middle text-center py-2 ps-0 fs-9"><span class="badge badge-phoenix fs-10 badge-phoenix-warning"><%= signOutTime %></span></td>
                    </tr>
                    <% }); %>
                    <% }else{ %>
                    <tr class="position-static">
                      <td class="align-middle white-space-nowrap border-bottom-0">
                        <p>No attendance from <span class="fw-bold text-primary"><%= otherUser.fullname %></span></p>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
              <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
                <div class="col-auto d-flex">
                  <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                </div>
                <div class="col-auto d-flex">
                  <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                  <ul class="mb-0 pagination"></ul>
                  <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
              </div>
            </div>
          </div>

          <div>
            <h2 class="mb-4" id="scrollspyAttachments">Attachments</h2>

            <div class="overflow-x-hidden vh-50 scrollbar w-100">
              <%
              const formatDateFile = (date) => {
                const options = { day: 'numeric', month: 'short', hour: 'numeric', minute: 'numeric', hour12: true };
                const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date);
              
                // Add day suffix (st, nd, rd, or th)
                const day = date.getDate();
                const daySuffix = (day) => {
                  if (day >= 11 && day <= 13) {
                    return 'th';
                  }
                  const lastDigit = day % 10;
                  switch (lastDigit) {
                    case 1: return 'st';
                    case 2: return 'nd';
                    case 3: return 'rd';
                    default: return 'th';
                     }
                };
              
                return formattedDate.replace(/(\d+)/, (match, p1) => `${p1}${daySuffix(day)}`);
              };
            %>

              <% const modalFiles = files.filter((file) => file.user.toString() === otherUser._id.toString() && file.origin !== 'leave'); %>
              <% const lastIndexFile = modalFiles.length - 1; var borderModalFile = ''; %>
              <% if(modalFiles && modalFiles.length > 0){ %>
              <% modalFiles.forEach((file, index) => { %>

              <% 
                  if(index === lastIndexFile){
                      borderModalFile = 'border-bottom';
                  } else {
                      borderModalFile = '';
                  }
                %>

              <% if(file.type === '.png' || file.type === '.webp' || file.type === '.jpg' || file.type === '.jpeg' || file.type === '.gif' ){ %>
              <div class="border-top <%= borderModalFile %> border-dashed px-0 pt-4 pb-3">
                <div class="me-n3">
                  <div class="d-flex flex-between-center">
                    <div class="d-flex mb-1"><span class="fa-solid fa-image me-2 text-body-tertiary fs-9"></span>
                      <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                    </div>
                    <div class="btn-reveal-trigger me-3">
                      <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                      <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="/files/download/<%= file._id %>">Download</a><a class="dropdown-item d-none" href="#!">Report abuse</a></div>
                    </div>
                  </div>
                  <% const userFile = allUser.find(item => item._id.toString() === otherUser._id.toString()); %>
                  <div class="d-flex fs-9 text-body-tertiary mb-2 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= userFile.fullname %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div><img class="rounded-2" src="<%= file.path %>" alt="" style="max-width:230px" />
                </div>
              </div>

              <% }else { %>

              <div class="border-top <%= borderModalFile %> px-0 pt-4 pb-3">
                <div class="me-n3">
                  <div class="d-flex flex-between-center">
                    <div>
                      <div class="d-flex align-items-center mb-1"><span class="fa-solid fa-image me-2 fs-9 text-body-tertiary"></span>
                        <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                      </div>
                      <div class="d-flex fs-9 text-body-tertiary mb-0 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= file.user %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div>
                    </div>
                    <div class="btn-reveal-trigger me-3">
                      <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                      <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="/">Delete</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a></div>
                    </div>
                  </div>
                </div>
              </div>

              <% } %>
              <% }); %>
              <% }else { %>
              <p class="white-space-nowrap fs-9">There is no file uploaded yet</p>
              <% } %>


            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

<%- include('partials/private-footer.ejs') %>