<div class="border-bottom border-translucent mt-3" data-list='{"valueNames":["type","startdate","returndate","reliefstaff","status"],"page":6,"pagination":true}'>
  <div class="d-md-flex justify-content-between align-items-center mb-4">
    <div class="col-12 col-md-auto">
      <div class="search-box">
        <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
          <input class="form-control search-input search form-control-sm" type="search" placeholder="Search leave" aria-label="Search" />
          <span class="fas fa-search search-box-icon"></span>

        </form>
      </div>
    </div>
  </div>
  <div class="table-responsive scrollbar">
    <table class="table fs-9 mb-0 border-top border-200">
      <thead>
        <tr>
          <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="type" style="width:15%;">
            TYPE
          </th>
          <th class="sort align-middle ps-3" scope="col" data-sort="reliefstaff" style="width:15%;">
            RELIEF STAFF
          </th>
          <th class="sort align-middle text-center ps-3" scope="col" data-sort="startdate" style="width:15%;">
            START DATE
          </th>
          <th class="sort align-middle text-center ps-3" scope="col" data-sort="returndate" style="width:15%;">
            RETURN DATE
          </th>
          <th class="sort align-middle text-center" scope="col" data-sort="status" style="width:10%;">
            STATUS
          </th>
          <th class="sort align-middle text-end" scope="col" style="width: 5%"></th>
        </tr>
      </thead>

      <% 
                function formatDate(inputDate) {
                  const day = String(inputDate.getDate()).padStart(2, '0');
                  const month = String(inputDate.getMonth() + 1).padStart(2, '0');
                  const year = inputDate.getFullYear();
                
                  return `${day}/${month}/${year}`;
                }
                %>

      <!-- table content -->
      <tbody class="list">
        <% if (leave && leave.length>0) { %>
        <!-- table item -->
        <% leave.forEach(function(leaves) { %>

        <% 
                  var statusColor = '';
                  if (leaves.status == "pending"){
                      statusColor = 'info';
                  } else if(leaves.status == "approved" || leaves.status == "submitted") {
                      statusColor = 'success';
                  } else if(leaves.status == "denied" ||  leaves.status == "cancelled") {
                      statusColor = 'danger';
                  }else if (leaves.status == "invalid"){
                      statusColor = 'warning';
                  } 

              %>
        <tr class="position-static">
          <td class="align-middle time white-space-nowrap ps-0 type py-4">
            <a class="fw-bold fs-9 fs-md-8" href="/leave/details/<%= leaves._id %>"><%= leaves.type %></a>
          </td>
          <td class="align-middle text-body white-space-nowrap reliefstaff ps-3">
            <% 
                    const checkUserRelief = allUser.find(check => check._id.toString() === leaves.assignee[0].toString());
                  %>
            <a class="mb-0 fs-9" href="/staff/details/<%= checkUserRelief._id %>"><%= checkUserRelief.fullname %></a>
          </td>
          <td class="align-middle white-space-nowrap startdate text-center ps-3 py-4">
            <p class="mb-0 fs-9 text-body"><%= formatDate(leaves.date.start) %></p>
          </td>
          <td class="align-middle white-space-nowrap returndate text-center ps-3 py-4">
            <p class="mb-0 fs-9 text-body"><%= formatDate(leaves.date.return) %></p>
          </td>
          <td class="align-middle white-space-nowrap text-center status">
            <span class="badge badge-phoenix fs-10 badge-phoenix-<%= statusColor %>"><%= leaves.status %></span>
          </td>
          <td class="align-middle text-end white-space-nowrap pe-0 action">
            <div class="font-sans-serif btn-reveal-trigger position-static">
              <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent">
                <span class="fas fa-ellipsis-h fs-9"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-end py-2">
                <a class="dropdown-item" href="/leave/details/<%= leaves.uuid %>">View</a>
              </div>
            </div>
          </td>
        </tr>
        <%  }); %> <% } else { %>
        <tr class="position-static">
          <td class="align-middle time white-space-nowrap ps-0 border-bottom-0">
            <p>No leave submitted from you</p>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
    <div class="col-auto d-flex">
      <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
    </div>
    <div class="col-auto d-flex">
      <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
      <ul class="mb-0 pagination"></ul>
      <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
    </div>
  </div>
</div>