<%- include('partials/private-header.ejs') %>

<div class="container">
  <div class="card task-list h-100">
    <div class="card-header border-bottom-0 pb-0">
      <div class="row justify-content-between align-items-center mb-4">
        <div class="col-auto">
          <h3 class="text-body-emphasis">To do</h3>
          <p class="mb-0 text-body-tertiary">Task assigned to me</p>
        </div>
        <div class="col-auto w-100 w-md-auto">
          <div class="row align-items-center g-0 justify-content-between">
            <div class="col-12 col-sm-auto">
              <div class="search-box w-100 mb-2 mb-sm-0" style="max-width:30rem;">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                  <input class="form-control search-input search" id="searchInput" type="search" placeholder="Search tasks" aria-label="Search" />
                  <span class="fas fa-search search-box-icon"></span>

                </form>
              </div>
            </div>
            <div class="col-auto d-flex">
              <p class="mb-0 ms-sm-3 fs-9 text-body-tertiary fw-bold"><span class="fas fa-filter me-1 fw-extra-bold fs-10"></span><%= tasks.length %> tasks</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body py-0 scrollbar task-list-body" id="itemList">
      <% if(tasks && tasks.length > 0 ) {%>
      <% const lastIndexItem = tasks.length - 1; %>
      <% tasks.forEach((item,index) => { %>

      <% 
        var showForUser = '';
        var todoborder = '';
        var fileAmount = '';
        var displayTaskFile = '';
        var displayTaskSubtask = '';
        var statusTaskColour = '';
        const associatedFile = files.filter((file) => file.uuid === item.fileId);

        // check last item inside task
        if(index === lastIndexItem){
            todoborder = 'border-bottom';
        }else{
            todoborder = '';
        }

        // find assc files
        if (associatedFile.length > 0) {
            fileAmount = associatedFile.length;
            displayTaskFile = 'd-block';
        } else {
            fileAmount  = '';
            displayTaskFile = 'd-none';
        }

        // check subtask
        if(item.subtask.length > 0){
            displayTaskSubtask = 'd-block';
        } else {
            displayTaskSubtask = '';
        }

        // check task status 
        if(item.status === 'urgent'){
            statusTaskColour = 'warning';
        } else if(item.status === 'process'){
            statusTaskColour = 'primary';
        } else if(item.status === 'cancelled'){
            statusTaskColour = 'danger';            
        } else if(item.status === 'done'){
            statusTaskColour = 'success';            
        }

        if(item.creator === user._id){
            showForUser = '';
        }else{
            showForUser = 'd-none';
        }
      %>

      <div class="item">
        <div class="d-flex hover-actions-trigger py-3 border-top <%= todoborder %>">
          <div class="row justify-content-between align-items-md-center btn-reveal-trigger border-translucent gx-0 flex-1 cursor-pointer" data-bs-toggle="modal" data-bs-target="#task<%= index %>">
            <div class="col-12 col-md-auto col-xl-12 col-xxl-auto">
              <div class="mb-1 mb-md-0 d-flex align-items-center lh-1">
                <label class="form-check-label mb-1 mb-md-0 mb-xl-1 mb-xxl-0 fs-8 me-2 line-clamp-1 text-body cursor-pointer itemName"><%= item.name %></label><span class="badge badge-phoenix ms-auto fs-10 badge-phoenix-<%= statusTaskColour %> itemStatus"><%= item.status %></span>
              </div>
            </div>
            <div class="col-12 col-md-auto col-xl-12 col-xxl-auto">
              <div class="d-flex lh-1 align-items-center"><a class="text-body-tertiary fw-bold fs-10 me-2 <%= displayTaskFile %>" href="#!"><span class="fas fa-paperclip me-1"></span><%= fileAmount %></a><a class="text-warning fw-bold fs-10 me-2 <%= displayTaskSubtask %>" href="#!"><span class="fas fa-tasks me-1"></span><%= item.subtask.length %></a>
                <p class="text-body-tertiary fs-10 mb-md-0 me-2 me-md-3 me-xl-2 me-xxl-3 mb-0 itemDate"><%= item.due ? item.due.toLocaleDateString('en-UK', { day: 'numeric', month: 'short', year: 'numeric' }) : 'Not specified' %></p>
                <div class="hover-md-hide hover-xl-show hover-xxl-hide">
                  <p class="text-body-tertiary fs-10 fw-bold mb-md-0 mb-0 ps-md-3 ps-xl-0 ps-xxl-3 border-start-md border-xl-0 border-start-xxl itemTime"><%= item.reminder ? item.reminder.toLocaleTimeString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true, timeZone: 'Asia/Kuala_Lumpur' }) : 'Not specified' %></p>
                </div>
              </div>
            </div>
          </div>
          <div class="d-none d-md-block d-xl-none d-xxl-block end-0 position-absolute" style="top: 23%;" data-event-propagation-prevent="data-event-propagation-prevent">
            <div class="hover-actions end-0" data-event-propagation-prevent="data-event-propagation-prevent">
              <button class="btn btn-phoenix-secondary btn-icon me-1 fs-10 text-body px-0 me-1" data-event-propagation-prevent="data-event-propagation-prevent" data-bs-toggle="modal" data-bs-target="#task<%= index %>"><span class="fas fa-edit"></span></button>
              <a class="btn btn-phoenix-secondary btn-icon fs-10 text-danger px-0 <%= showForUser %>" href="/update/delete/<%= item._id %>" data-event-propagation-prevent="data-event-propagation-prevent"><span class="fas fa-trash"></span></a>
            </div>
          </div>
        </div>
      </div>

      <% 
         var showDeleteTask = '';

         if(item.creator === user._id){
            showDeleteTask = "d-none";
         } else {
            showDeleteTask = "";
         }
      %>

      <div class="modal fade" id="task<%= index %>" tabindex="<%= index %>" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content bg-body overflow-hidden">
            <div class="modal-header px-6 py-5 pe-sm-5 px-md-6 dark__bg-gray-1100">
              <h3 class="text-body-highlight fw-bolder mb-0"><%= item.name %></h3>
              <button class="btn btn-phoenix-secondary btn-icon btn-icon-xl flex-shrink-0" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fa-solid fa-xmark"></span></button>
            </div>
            <div class="modal-body bg-body-highlight px-6 py-0">

              <form class="row gx-14" action="/update/task/<%= item._id %>" method="post">

                <div class="col-12 col-lg-7 border-end-lg">
                  <div class="py-6">
                    <div class="mb-7">
                      <div class="d-flex align-items-center mb-3">
                        <h4 class="text-body me-3">Description</h4><a class="btn btn-link text-decoration-none p-0" data-bs-target="#description" data-bs-toggle="modal"><span class="fa-solid fa-pen"></span></a>
                      </div>
                      <p class="text-body-highlight mb-0"><%= item.description %></p>
                    </div>

                    <%
                      const formatDateFile = (date) => {
                        const options = { day: 'numeric', month: 'short', hour: 'numeric', minute: 'numeric', hour12: true };
                        const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date);
                      
                        // Add day suffix (st, nd, rd, or th)
                        const day = date.getDate();
                        const daySuffix = (day) => {
                          if (day >= 11 && day <= 13) {
                            return 'th';
                          }
                          const lastDigit = day % 10;
                          switch (lastDigit) {
                            case 1: return 'st';
                            case 2: return 'nd';
                            case 3: return 'rd';
                            default: return 'th';
                          }
                        };
                      
                        return formattedDate.replace(/(\d+)/, (match, p1) => `${p1}${daySuffix(day)}`);
                      };
                    %>
                    <div class="mb-7">
                      <h4 class="mb-3">Subtasks</h4>

                      <% if(item.subtask && item.subtask.length > 0){ %>
                      <% const lastSubtaskIndex = item.subtask.length - 1 ; %>
                      <% item.subtask.forEach((subtask,index) => { %>

                      <%
                        var subtaskBorder = '';
                        if(index === lastSubtaskIndex) {
                          subtaskBorder = 'border-bottom';
                        } else {
                          subtaskBorder = '';
                        }
                        %>
                      <div class="d-flex flex-between-center hover-actions-trigger py-3 border-top <%= subtaskBorder %> mb-3">
                        <div class="form-check mb-1 mb-md-0 d-flex align-items-center lh-1 min-h-auto">
                          <input class="subtask-checkbox form-check-input form-check-line-through mt-0 me-3" type="checkbox" name="subtaskCheckbox" value="<%= subtask._id %>" />
                          <label class="form-check-label mb-0 fs-8" for="subtaskundefined1"><%= subtask.name %></label>
                        </div>
                        <div class="hover-actions end-0">
                          <button class="btn btn-sm me-1 fs-10 text-body-tertiary px-0 me-3"><span class="fa-solid fa-pencil"></span></button>
                          <button class="btn btn-sm text-body-tertiary px-0"><span class="fa-solid fa-xmark fs-8"></span></button>
                        </div>
                      </div>
                      <% }); %>
                      <% }else { %>
                      <p>There is no subtask.</p>
                      <% } %>
                      <a class="fw-bold fs-9" href="#!" data-bs-target="#subtask" data-bs-toggle="modal"><span class="fas fa-plus me-1"></span>Add subtask</a>
                    </div>
                    <div class="mb-3">
                      <div>
                        <h4 class="mb-3">Files</h4>
                      </div>

                      <% const modalFiles = files.filter((file) => file.uuid === item.fileId); %>
                      <% const lastIndexFile = modalFiles.length - 1; var borderModalFile = ''; %>
                      <% if(modalFiles && modalFiles.length > 0){ %>
                      <% modalFiles.forEach((file, index) => { %>

                      <% 
                        if(index === lastIndexFile){
                            borderModalFile = 'border-bottom';
                        } else {
                            borderModalFile = '';
                        }
                      %>

                      <% if(file.type === '.png' || file.type === '.webp' || file.type === '.jpg' || file.type === '.jpeg' || file.type === '.gif' ){ %>
                      <div class="border-top <%= borderModalFile %> px-0 pt-4 pb-3">
                        <div class="me-n3">
                          <div class="d-flex flex-between-center">
                            <div class="d-flex mb-1"><span class="fa-solid fa-image me-2 text-body-tertiary fs-9"></span>
                              <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                            </div>
                            <div class="btn-reveal-trigger">
                              <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a></div>
                            </div>
                          </div>
                          <div class="d-flex fs-9 text-body-tertiary mb-2 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= file.user %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div><img class="rounded-2" src="<%= file.path %>" alt="" style="max-width:230px" />
                        </div>
                      </div>

                      <% }else { %>

                      <div class="border-top <%= borderModalFile %> px-0 pt-4 pb-3">
                        <div class="me-n3">
                          <div class="d-flex flex-between-center">
                            <div>
                              <div class="d-flex align-items-center mb-1"><span class="fa-solid fa-image me-2 fs-9 text-body-tertiary"></span>
                                <p class="text-body-highlight mb-0 lh-1"><%= file.name %></p>
                              </div>
                              <div class="d-flex fs-9 text-body-tertiary mb-0 flex-wrap"><span><%= file.size %></span><span class="text-body-quaternary mx-1">| </span><a href="#!"><%= file.user %> </a><span class="text-body-quaternary mx-1">| </span><span class="text-nowrap"><%= formatDateFile(file.date) %></span></div>
                            </div>
                            <div class="btn-reveal-trigger">
                              <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h"></span></button>
                              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Edit</a><a class="dropdown-item text-danger" href="#!">Delete</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <% } %>
                      <% }); %>
                      <% }else { %>
                      <p>There is no file uploaded.</p>
                      <% } %>
                    </div><a class="fw-bold fs-9" href="#!" data-bs-target="#file" data-bs-toggle="modal"><span class="fas fa-plus me-1"></span>Add file(s)</a>
                  </div>
                </div>

                <div class="col-12 col-lg-5">
                  <div class="py-6">
                    <h4 class="mb-4 text-body-emphasis">Others Information</h4>
                    <h5 class="text-body-highlight mb-2">Status</h5>
                    <select class="form-select mb-4" aria-label="Default select example" name="status">
                      <option selected="" value="">Select</option>
                      <option value="process">Process</option>
                      <option value="done">Done</option>
                      <option value="cancelled">Cancelled</option>
                      <option value="urgent">Urgent</option>
                    </select>
                    <h5 class="text-body-highlight mb-2">Due Date</h5>
                    <div class="flatpickr-input-container mb-4">
                      <input class="form-control datetimepicker ps-6" type="text" name="due" placeholder="Set the due date" data-options='{"disableMobile":true}' /><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                    </div>
                    <h5 class="text-body-highlight mb-2">Reminder</h5>
                    <div class="flatpickr-input-container mb-4">
                      <input class="form-control datetimepicker ps-6 w-100" type="text" name="reminder" placeholder="Set reminder" data-options='{"disableMobile":true, "enableTime": true}' /><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                    </div>
                    <div class="text-end mb-9 d-flex">
                      <button class="btn btn-phoenix-primary loading-button" type="submit">
                        <div class="content-button">
                          <span>Update Task</span>
                        </div>
                      </button>
                      <a role="button" class="btn btn-phoenix-danger <%= showDeleteTask %>" href="/delete/task/<%= item._id %>">Delete Task</a>
                    </div>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="description" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content px-2 py-3">
            <form action="/update/description/<%= item._id %>" method="post">
              <div class="modal-body">
                <label class="form-label" for="udpateDescription">Description</label>
                <textarea class="form-control scrollbar-overlay" id="udpateDescription" placeholder="Leave a description here" style="height: 100px" name="description"></textarea>
              </div>
              <div class="modal-footer border-top-0">
                <button class="btn btn-primary loading-button" type="submit">
                  <div class="content-button">
                    <span>Update</span>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="subtask" aria-hidden="true" aria-labelledby="" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <form action="/update/subtask/<%= item._id %>" method="post">
              <div class="modal-body">
                <label class="form-label" for="updateSubtask">Subtask</label>
                <input class="form-control" type="text" id="updateSubtask" name="subtask" placeholder="Add subtask here">
              </div>
              <div class="modal-footer border-top-0">
                <button class="btn btn-primary loading-button" type="submit">
                  <div class="content-button">
                    <span>Add subtask</span>
                  </div>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="modal fade" id="addFiles" aria-hidden="true" aria-labelledby="taskFile" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-md">
          <div class="modal-content px-2 py-3">
            <div class="modal-body">
              <form class="dropzone dropzone-multiple p-3 mb-4 bg-subtle" id="dropzone" data-dropzone="data-dropzone" action="/update/file/<%= item._id %>" data-options='{"url":"/update/file/<%= item._id %>","paramName": "file"}'>
                <div class="dz-message" data-dz-message="data-dz-message">
                  <img class="me-2" src="../../../assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your files here
                </div>
                <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
                  <div class="d-flex mb-3 pb-3 border-bottom media">
                    <div class="border border-300 p-1 rounded-2 me-2">
                      <img class="rounded-2 dz-image" src="../../../assets/img/icons/file.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
                    </div>
                    <div class="flex-1 d-flex flex-between-center">
                      <div>
                        <h6 data-dz-name="data-dz-name"></h6>
                        <div class="d-flex align-items-center">
                          <p class="mb-0 fs-9 text-400 lh-1" data-dz-size="data-dz-size"></p>
                          <div class="dz-progress ms-n1" style="margin-top: 0.1rem;">
                            <span class="dz-upload" data-dz-uploadprogress=""></span>
                          </div>
                        </div>
                        <span class="fs-9 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
                      </div>
                      <div class="dropdown font-sans-serif">
                        <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="fas fa-ellipsis-h"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end border py-2">
                          <a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <input class="d-none" type="text" name="uuid" value="<%= item.fileId %>">
              </form>
            </div>
            <div class="modal-footer border-top-0">
              <button class="btn btn-primary loading-button" type="submit" id="uploadFiles">
                <div class="content-button">
                  <span><i class="fa fa-upload me-2" aria-hidden="true"></i>Upload</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>

      <% }); %>
      <% } else { %>
      <p>There is not task assigned to you.</p>
      <% } %>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById("searchInput");
        const items = document.getElementsByClassName("item");

        // Add event listener for the search input
        searchInput.addEventListener("input", function() {
          const keyword = searchInput.value.toLowerCase();

          // Loop through the list items and show/hide based on the keyword
          for (let i = 0; i < items.length; i++) {
            const itemName = items[i].getElementsByClassName("itemName")[0].innerText.toLowerCase();
            const itemDate = items[i].getElementsByClassName("itemDate")[0].innerText.toLowerCase();
            const itemTime = items[i].getElementsByClassName("itemTime")[0].innerText.toLowerCase();
            const itemStatus = items[i].getElementsByClassName("itemStatus")[0].innerText.toLowerCase();

            if (itemName.includes(keyword) || itemDate.includes(keyword) || itemTime.includes(keyword) || itemStatus.includes(keyword)) {
              items[i].style.display = "block";
            } else {
              items[i].style.display = "none";
            }
          }
        });
      });
    </script>

    <div class="card-footer border-0"><a class="fw-bold fs-9 mt-4" href="#!" data-bs-toggle="modal" data-bs-target="#addTask"><span class="fas fa-plus me-1"></span>Add new task</a></div>

    <div class="modal fade" id="addTask" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-md">

        <div class="modal-content">

          <div class="modal-header px-6 py-5 pe-sm-5 px-md-6 dark__bg-gray-1100">
            <h3 class="text-body-highlight fw-bolder mb-0">Task Submission</h3>
            <button class="btn btn-phoenix-secondary btn-icon btn-icon-xl flex-shrink-0" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fa-solid fa-xmark"></span></button>
          </div>


          <div class="modal-body bg-body-highlight px-6 py-2 rounded-bottom-3">
            <form class="row g-3" action="/task/add/<%= uuid %>" method="post" id="taskForm">
              <div class="col-12">
                <label class="form-label" for="addDescription">Description</label>
                <textarea class="form-control scrollbar-overlay" id="addDescription" placeholder="Leave a description here" style="height: 100px" name="description"></textarea>
              </div>

              <div class="col-12 col-md-4">
                <label for="taskStatus" class="form-label">Status</label>
                <select class="form-select mb-4" id="taskStatus" aria-label="Default select example" name="status">
                  <option selected="" value="">Select</option>
                  <option value="process">Process</option>
                  <option value="done">Done</option>
                  <option value="cancelled">Cancelled</option>
                  <option value="urgent">Urgent</option>
                </select>
              </div>

              <div class="col-12 col-md-4">
                <label for="taskDue" class="form-label">Due</label>
                <div class="flatpickr-input-container">
                  <input class="form-control datetimepicker ps-6" type="text" name="due" placeholder="Set the due date" id="taskDue" data-options='{"disableMobile":true}' /><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <label for="taskReminder" class="form-label">Reminder</label>
                <div class="flatpickr-input-container">
                  <input class="form-control datetimepicker ps-6 w-100" type="text" name="reminder" placeholder="Set reminder" id="taskReminder" data-options='{"disableMobile":true, "enableTime": true}' /><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                </div>
              </div>

              <div class="col-md-12 mt-0 mb-3">
                <h4 class="form-label">Shift Member For Patrol Location</h4>
                <div id="selectedNames" class="d-flex flex-wrap border border-300 rounded-3 px-2" style="min-height: 2.5rem"></div>
              </div>


              <div class="col-md-12 mt-0">
                <div class="row">
                  <div class="col-6">
                    <label class="form-label" for="validationCustom03">Search Staff Name</label>
                    <input type="text" name="query" id="queryInput" class="form-control" placeholder="Search and click staff name" />
                    <div class="invalid-feedback">
                      Please search and click staff assigned.
                    </div>
                    <div class="valid-feedback">Looks good!</div>
                  </div>

                  <div id="results" class="mt-3 mb-3 col-12"></div>
                </div>
              </div>

              <input type="hidden" id="selectedNamesInput" name="selectedNames" value="<%= Array.isArray(selectedNames) ? selectedNames.join(',') : '' %>" />

              <div class="col-auto mb-6 d-flex">
                <button class="btn btn-primary loading-button" type="submit">
                  <div class="content-button">
                    <span>Add Task</span>
                  </div>
                </button>

                <a class="fw-bold fs-9 my-auto ms-3" href="#!" data-bs-target="#addTaskFiles" data-bs-toggle="modal"><span class="fas fa-plus me-1"></span>Add file(s)</a>
              </div>
            </form>

            <script>
              $(document).ready(function() {
                const queryInput = $('#queryInput');
                const selectedNamesDiv = $('#selectedNames');
                const reportIdInput = $('#reportIdInput');
                const displayNamesContainer = $('#displayNamesContainer');
                const selectedNames = [];

                $('#taskForm input[name="query"]').on('input', function() {
                  const query = $(this).val();
                  if (query.trim() !== '') {
                    $.ajax({
                      url: `/search/task/assignee?query=${query}`,
                      method: 'GET',
                      success: function(results) {
                        displayResults(results);
                      },
                      error: function(error) {
                        console.error(error);
                      }
                    });
                  } else {
                    // Clear results if the search query is empty
                    displayResults([]);
                  }
                });

                function displayResults(results) {
                  const resultsDiv = $('#results');
                  resultsDiv.empty();

                  if (results.length === 0) {
                    resultsDiv.append('<p class="text-muted">No results found</p>');
                  } else {
                    results.forEach(result => {
                      const resultDiv = $(
                        '<div class="result btn btn-outline-primary mr-2 mb-2"></div>'
                      ).text(result.fullname);
                      resultsDiv.append(resultDiv);

                      // Add click event to handle adding and removing names
                      resultDiv.click(function() {
                        const clickedName = result.fullname;

                        // Check if the name is already selected
                        const index = selectedNames.indexOf(clickedName);
                        if (index === -1) {
                          // If not selected, add it to the array and update the display
                          selectedNames.push(clickedName);
                          updateSelectedNamesDisplay();
                        } else {
                          // If already selected, remove it from the array and update the display
                          selectedNames.splice(index, 1);
                          updateSelectedNamesDisplay();
                        }
                      });
                    });
                  }
                }

                function updateSelectedNamesDisplay() {
                  // Update the display with the selected names
                  selectedNamesDiv.empty();
                  selectedNames.forEach(name => {
                    const nameDiv = $(
                      '<div class="selectedName btn btn-outline-secondary mr-2 mb-1 mt-1"></div>'
                    ).text(name);
                    selectedNamesDiv.append(nameDiv);

                    // Add click event to remove the name
                    nameDiv.click(function() {
                      const removedName = $(this).text();
                      const index = selectedNames.indexOf(removedName);
                      selectedNames.splice(index, 1);
                      updateSelectedNamesDisplay();
                    });
                  });

                  // Update the hidden input value with selected names
                  $('#selectedNamesInput').val(selectedNames.join(','));
                }
              });
            </script>
          </div>

        </div>
      </div>
    </div>

    <div class="modal fade" id="addTaskFiles" aria-hidden="true" aria-labelledby="taskFile" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content px-2 py-3">
          <div class="modal-body">
            <form class="dropzone dropzone-multiple p-3 mb-4 bg-subtle" id="dropzone" data-dropzone="data-dropzone" action="/upload-files" data-options='{"url":"/upload-files","paramName": "file"}'>
              <div class="dz-message" data-dz-message="data-dz-message">
                <img class="me-2" src="../../../assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your files here
              </div>
              <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
                <div class="d-flex mb-3 pb-3 border-bottom media">
                  <div class="border border-300 p-1 rounded-2 me-2">
                    <img class="rounded-2 dz-image" src="../../../assets/img/icons/file.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
                  </div>
                  <div class="flex-1 d-flex flex-between-center">
                    <div>
                      <h6 data-dz-name="data-dz-name"></h6>
                      <div class="d-flex align-items-center">
                        <p class="mb-0 fs-9 text-400 lh-1" data-dz-size="data-dz-size"></p>
                        <div class="dz-progress ms-n1" style="margin-top: 0.1rem;">
                          <span class="dz-upload" data-dz-uploadprogress=""></span>
                        </div>
                      </div>
                      <span class="fs-9 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
                    </div>
                    <div class="dropdown font-sans-serif">
                      <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fas fa-ellipsis-h"></span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-end border py-2">
                        <a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input class="d-none" type="text" name="uuid" value="<%= uuid %>">
            </form>
          </div>
          <div class="modal-footer border-top-0">
            <button class="btn btn-primary loading-button" type="submit" id="uploadFiles">
              <div class="content-button">
                <span><i class="fa fa-upload me-2" aria-hidden="true"></i>Upload</span>
              </div>
            </button>
            <button class="btn btn-phoenix-secondary" type="button" data-bs-target="#addTask" data-bs-toggle="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- alert toast upload -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div class="d-flex">
    <div class="toast align-items-center text-white border-0" role="alert" data-bs-autohide="false" aria-live="assertive" aria-atomic="true" id="alertUploadToast">
      <div class="d-flex justify-content-between">
        <div class="toast-body px-0 py-3">
          <code id="dropzoneAlertContent" class="text-primary"></code>
        </div>

        <button class="btn ms-2 p-0" type="button" data-bs-dismiss="toast" aria-label="Close">
          <span class="uil uil-times fs-7"></span>
        </button>
      </div>
    </div>
  </div>
</div>


<%- include('partials/private-footer.ejs') %>